:host {
  display: block;
  box-sizing: border-box;
  overflow: auto;
  position: relative;

  mgl-map {
    height: 100%;
    width: 100%;
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .forecast-time {
    padding: 2px 4px;
    border-radius: 2px;
    background-color: rgba($color: #FFF, $alpha: 0.5);
    font-family: 'Ubuntu Mono', Courier, monospace;
    pointer-events: inherit;
  }
}