<mgl-map
    [style]="'mapbox://styles/mapbox/light-v10'"
    [fitBoundsOptions]="{ duration: 0, padding: 10 }"
    [fitBounds]="source?.bounds || project?.bounds"
    (mapLoad)="mapgl$.next($event); mapgl = $event"
    (mapMouseMove)="pointerCheck($event)"
    (sourceData)="onSourceData()"
>
  <mgl-control position="bottom-left" *ngIf="source">
    <div class="forecast-time" title="Time of forecast">{{source.latest.displayTime}}</div>
  </mgl-control>
  <ng-container *ngIf="layer">
    <mgl-vector-source
          [id]="layer.id"
          [tiles]="layer.source.tiles"></mgl-vector-source>
    <mgl-layer
        [id]="layer.id"
        [type]="layer.type"
        [source]="layer.id"
        sourceLayer="shapefile-layer"
        [layout]="layer.layout"
        [paint]="layer.paint"
    ></mgl-layer>
  </ng-container>
</mgl-map>
<div class="loading" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading$ | async">
  <mat-spinner diameter="32"></mat-spinner>
</div>
