<mat-selection-list
  #resultList
  [multiple]="false"
  (selectionChange)="onSelectionChange($event)"
>
  <mat-list-option [value]="null" [disabled]="disableRequestBtn$ | async">
    <mat-icon matListIcon>post_add</mat-icon>
    <h3>{{(disableRequestBtn$ | async) ? 'Completing previous request...' : 'Request New Scenario'}}</h3>
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option
    *ngFor="let r of results"
    [disabled]="r.status !== 'Complete'"
    [value]="r"
    [title]="r.config.description"
  >
    <div mat-line fxLayout="row" fxLayoutAlign="space-between center">
      <h3>{{ r.config.name }}</h3>
      <span
        *ngIf="statusColors[r.status]"
        [style.background-color]="statusColors[r.status]"
        >{{ r.status }}</span
      >
    </div>
    <div mat-line>{{ r.config.description }}</div>
  </mat-list-option>
</mat-selection-list>
