:host {
  overflow: auto;

  h1,h2,h3,h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: rgba($color: #000000, $alpha: 0.87);
    margin: 0;
  }

  span {
    font-family: 'Ubuntu Mono', Courier, monospace;
    font-size: .8em;
    text-transform: uppercase;
    padding: 2px 4px;
    border-radius: 4px;
  }

  .mat-list-item-disabled, .mat-list-item-disabled h3 {
    color: rgba($color: #000000, $alpha: 0.54);
  }
}