:host {
  padding: 16px;

  .type-controls {
    margin: 8px 0 0 -8px;
  }

  .timeout {
    .mat-form-field {
      margin-bottom: -1em;
    }

    .slider-container {
      mat-slider {
        margin: -4px 0;
        width: 100%;
      }

      label {
        font-size: 75%;
        color: rgba(0, 0, 0, 0.54);
        display: block;
        text-align: center;
      }
    }
  }

  .map-container {
    width: 100%;
    min-width: 180px;
    height: 400px;

    mgl-map {
      display: flex;
      flex: 1 1 0%;
      box-sizing: border-box;
    }
  }

  .example-headers-align {
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    .mat-expansion-panel-header-title {
      flex-grow: 0.5;
    }

    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    & + .mat-form-field {
      margin-left: 8px;
    }
  }
}
