<form [formGroup]="notifications">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel
        *ngFor="let type of types; first as $first"
        [expanded]="$first || hasItems[type.id]"
        [ngSwitch]="type.id">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{type.group === 'Map' ? 'Maps App' : (type.group + ' (' + notifications.get(type.id + '.list').length + ')')}}
        </mat-panel-title>
        <mat-panel-description>
          {{type.id === 'phone' ? 'Call a list of contacts.' : type.description}}
          <mat-icon>{{
            ({
              Email: 'email',
              Phone: 'phone',
              Text: 'textsms',
              Map: 'map'
            })[type.id]
        }}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="timeout" *ngIf="type.id !== 'Map'" [formGroupName]="type.id" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayout="column" class="slider-container">
          <label>At most, notify once every {{notifications.get(type.id + '.timeoutDisplay').value.toFixed(1)}} hour(s)</label>
          <div fxFlex>
            <mat-slider thumbLabel step="0.5" min="0" max="72" formControlName="timeoutDisplay" [value]="notifications.get(type.id + '.timeoutDisplay').value"></mat-slider>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let ctrl of notifications.get(type.id + '.list')?.controls; index as $index; last as $last">
        <div *ngIf="notifications.get(type.id + '.types').at($index)?.value === 'SIMPLE'" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="wide" [formGroupName]="type.id">
          <mat-form-field
              class="no-label"
              appearance="fill"
              fxFlex
              formArrayName="list"
              *ngSwitchCase="'Email'">
            <input matInput [formControlName]="$index" autocomplete="email">
            <mat-icon matSuffix matTooltip="Email address">email</mat-icon>
            <mat-error *ngIf="notifications.controls[type.id].controls['list'].controls[$index].errors?.['invalidProfile']">Not a valid email address</mat-error>
            <mat-error *ngIf="notifications.controls[type.id].controls['list'].controls[$index].errors?.['duplicateProfile']">Duplicate Email, Use another email address</mat-error>
          </mat-form-field>

          <mat-form-field
              class="no-label"
              appearance="fill"
              fxFlex="200px"
              formArrayName="list"
              *ngSwitchCase="'Phone'">
            <app-tel-input [formControlName]="$index" [errorStateMatcher]="matcher"></app-tel-input>
            <mat-icon matSuffix matTooltip="Phone number">phone</mat-icon>
            <mat-hint *ngIf="$last && !notifications.controls[type.id].controls['list'].controls[$index].invalid">US numbers only</mat-hint>
            <mat-error *ngIf="notifications.controls[type.id].controls['list'].controls[$index].invalid">Not a valid phone number</mat-error>
            <mat-error *ngIf="notifications.get(type.id + '.list').at($index).hasError('duplicatePhoneNumber')">Duplicate number</mat-error>
          </mat-form-field>
         
  

          <mat-form-field
              class="no-label"
              appearance="fill"
              fxFlex="200px"
              formArrayName="list"
              *ngSwitchCase="'Text'">
            <app-tel-input [formControlName]="$index"></app-tel-input>
            <mat-icon matSuffix matTooltip="Phone number">phone</mat-icon>
            <mat-hint *ngIf="$last">US numbers only</mat-hint>
            <mat-error *ngIf="notifications.controls[type.id].controls['list'].controls[$index].invalid">Not a valid phone number</mat-error>
            <mat-error *ngIf="notifications.get(type.id + '.list').at($index).hasError('duplicatePhoneNumber')">Duplicate phone. Not a valid phone number</mat-error>
         
          </mat-form-field>
          <button
              mat-icon-button
              color="warn"
              (click)="removeControl(type.id, $index)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

        <div *ngIf="notifications.get(type.id + '.types').at($index)?.value === 'GROUP'" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="wide" [formGroupName]="type.id">
          <mat-form-field
              class="no-label"
              appearance="fill"
              fxFlex
              formArrayName="list">
            <input type="text"
                placeholder="Choose a group"
                aria-label="group"
                matInput
                [formControlName]="$index"
                [matAutocomplete]="autoGroup">
            <mat-icon matSuffix matTooltip="Group">groups</mat-icon>
            <mat-error *ngIf="notifications.get(type.id + '.list').at($index).errors?.['invalidProfile']">Invalid Group. Choose a group from the list.</mat-error>
            <mat-error *ngIf="notifications.get(type.id + '.list').at($index).errors?.['duplicateProfile']">Duplicate Group. Choose another group from the list.</mat-error>
           
            <mat-autocomplete autoActiveFirstOption #autoGroup="matAutocomplete" [displayWith]="displayFn(groups)">
              <mat-option *ngFor="let group of filteredOptions(type.id, $index, 'groups')" [value]="group.id">
                {{group.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
              mat-icon-button
              color="warn"
              (click)="removeControl(type.id, $index)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

        <div *ngIf="notifications.get(type.id + '.types').at($index)?.value === 'USER'" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="wide" [formGroupName]="type.id">
          <mat-form-field
              class="no-label"
              appearance="fill"
              fxFlex
              formArrayName="list">
            <input type="text"
                placeholder="Choose a user"
                aria-label="user"
                matInput
                [formControlName]="$index"
                [matAutocomplete]="autoUser"
                (blur)="onProfileBlur(users, type.id, $index)">
            <mat-icon matSuffix matTooltip="User">person</mat-icon>
            <mat-error *ngIf="notifications.get(type.id + '.list').at($index).errors?.['invalidProfile']">Invalid User. Choose a user from the list.</mat-error>
            <mat-error *ngIf="notifications.get(type.id + '.list').at($index).errors?.['duplicateProfile']">Duplicate User. Choose another user from the list.</mat-error>
            <mat-autocomplete autoActiveFirstOption #autoUser="matAutocomplete" [displayWith]="displayFn(users)">
              <mat-option *ngFor="let user of filteredOptions(type.id, $index, 'users')" [value]="user.id">
                {{user.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
              mat-icon-button
              color="warn"
              (click)="removeControl(type.id, $index)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>


      </ng-container>
      <div *ngSwitchCase="'Map'" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="wide" [formGroupName]="type.id">
        <div class="map-container" fxLayout="column">
          <mgl-map
              *ngIf="isShown"
              [style]="'mapbox://styles/mapbox/streets-v11'"
              [bounds]="project.bounds"
              (mapLoad)="onMapLoad($event)">
            <mgl-control mglFullscreen></mgl-control>
          </mgl-map>
        </div>
      </div>
      <div *ngIf="type.id !== 'Map'" class="type-controls" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayout="row">
          <button
              mat-button
              color="primary"
              [matTooltip]="'Add a' + (type.group === 'Email' ? 'n email' : ' number')"
              (click)="addControl(type.id, 'SIMPLE', type.group === 'Email')"
              [disabled]="notifications.get(type.id).invalid">
            <mat-icon>add</mat-icon>
            {{type.group === 'Email' ? 'Email' : 'Number'}}
          </button>
          <button
              mat-button
              color="primary"
              matTooltip="Add a group"
              (click)="addControl(type.id, 'GROUP')"
              [disabled]="notifications.get(type.id).invalid">
            <mat-icon>add</mat-icon>
            Group
          </button>
          <button
              mat-button
              color="primary"
              matTooltip="Add a user"
              (click)="addControl(type.id, 'USER')"
              [disabled]="notifications.get(type.id).invalid">
            <mat-icon>add</mat-icon>
            User
          </button>
        </div>
        <button
            mat-icon-button
            color="accent"
            class="add-control"
            matTooltip="Send example notificaiton"
            (click)="dialog.open(testDialog); nType = type"
            [disabled]="notifications.get(type.id).dirty || !notifications.get(type.id + '.id').value || !empties[type.id]">
          <mat-icon>circle_notifications</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<ng-template #testDialog>
  <div style="padding:8px">
    <p>Send an example notification to defined contacts?</p>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" mat-dialog-close (click)="onClickExample(notifications.get(nType.id + '.id').value)">Send</button>
    </div>
  </div>
</ng-template>