@use '~@angular/material' as mat;

:host {
  position: relative;
  display: block;

  .radar-info-container {
    z-index: 1;
    position: relative;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    @include mat.elevation(2);
    max-width: 280px;

    .radar-btn {
      padding: 8px;

      button.radar {
        width: 100%;

        .btn-wrap {
          border: 1px solid #E0E0E0;
          border-radius: 4px;
          padding: 8px;
          color: rgba(0,0,0,0.87);
          font-size: 14px;
          text-align: left;

          .mat-icon {
            vertical-align: bottom;
          }

          &:hover {
            background-color: #F5F5F5;
          }

          @media screen and (min-width: 600px) {
            font-size: 16px;
          }

          .text-wrap {
            padding-right: 16px;

            .sub-title {
              font-size: 0.8em;
              color: rgba(0,0,0,0.54);
              text-transform: uppercase;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 206px;
            }
          }
        }
      }
    }

    .update-time {
      padding: 4px 8px;
      background-color: #0097A7;
      color: rgba($color: #FFF, $alpha: 0.87);
      font-size: 12px;
      text-align: center;

      &.late {
        background-color: #FFC107;
        color: rgba($color: #000, $alpha: 0.87);
      }

      &.old {
        background-color: #B71C1C;
      }

      &.history {
        background-color: #757575;
      }

      .mat-icon-inline {
        vertical-align: top;
      }
    }

    .secondary {
      overflow: hidden;
      height: 220px;
      transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
      opacity: 1;

      &.previeux {
        height: 255px;
      }

      &.hide, &.previeux.hide {
        height: 0px;
        opacity: 0;
      }

      table.info {
        background-color: #EEEEEE;
        border-collapse: collapse;
        margin: 8px 0;
        font-size: 14px;
        color: rgba(0,0,0,0.87);
        width: 100%;

        tr {
          &:nth-child(even) {
            background-color: rgba(0,0,0,0.05);
          }
          td {
            white-space: nowrap;
            padding: 2px;
            &:first-child {
              padding-left: 8px;
            }
            &:last-child {
              padding-right: 8px;
            }
            &.label {
              font-size: 12px;
              text-transform: uppercase;
              color: rgba(0,0,0,0.54);
            }
          }
        }
      }

      .options {
        padding: 8px;

        label {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.54);
          margin-bottom: -8px;
        }
      }
    }
  }

  button.toggle {
    z-index: 0;
    position: absolute;
    top: 100%;
    right: 16px;
    height: 24px;
    width: 48px;
    font-size: 24px;
    line-height: 1em;
    background-color: #ffc107;
    border: none;
    border-radius: 0 0 3px 3px;
    outline: 0;
    padding: 0 !important;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.35);
    cursor: pointer;

    &:hover {
      background-color: #FFA000;
    }
  }
}