<button class="toggle" matRipple (click)="service.hideOptions = !service.hideOptions" title="More Information">
  <mat-icon inline>{{service.hideOptions ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
</button>
<div class="radar-info-container" [class.open]="showOptions">
  <div class="radar-btn">
    <button class="no-style radar" [matMenuTriggerFor]="radarMenu" [disabled]="!radar || loading">
      <div class="btn-wrap" fxLayout fxLayoutAlign="start center">
        <div class="text-wrap" fxFlex>
          <div class="title">{{(radar && !loading ? radar.title : 'Loading...')
          }}</div>
          <div class="sub-title" *ngIf="radar?.shapes">
            {{
              radar.selectedShape ?
                radar.selectedShape.name :
                radar?.type === 'previeux' ? 'Radar' : 'NWS Grid (2.5km)'
            }}
          </div>
        </div>
        <mat-icon [hidden]="!radar">arrow_drop_down</mat-icon>
      </div>
    </button>
  </div>
  <div class="secondary" [ngClass]="{'hide': service.hideOptions, 'previeux': (radar?.type === 'previeux')}">
    <table class="info">
      <tr [hidden]="radar?.type === 'previeux'"><td class="label">Product:</td><td>{{radar?.meta?.product || 'N/A'}}</td></tr>
      <tr><td class="label">Duration:</td><td>{{radar?.meta?.durationHours || 'N/A'}} hr</td></tr>
      <tr><td class="label">Timestep:</td><td>{{radar?.meta?.intervalDisplay || 'N/A'}}</td></tr>
      <ng-container *ngIf="radar?.type === 'previeux'">
        <tr>
          <td class="label">Z-R Relationship:</td>
          <td>
            {{radar?.latest?.zrDisplayName}}<br>
            A: {{radar?.latest?.zr_a | number:'0.1'}} B: {{radar?.latest?.zr_b | number:'0.1'}}
          </td>
        </tr>
        <tr>
          <td class="label">Applied GARR MFB:</td>
          <td>{{radar?.latest?.bias | number:'0.1'}}</td>
        </tr>
      </ng-container>
    </table>
    <div class="options" fxLayout="column">
      <div fxLayout="column">
        <label>Opacity: {{(opacity * 100) | number:'2.0-0'}}%</label>
        <mat-slider
            min="0" max="1"
            step="0.05" tickInterval="0.05"
            [(ngModel)]="opacity"></mat-slider>
      </div>
      <div style="text-align: center; margin: -2px 0 16px"><mat-checkbox [(ngModel)]="accumulation"  [disabled]="loading">Accumulation</mat-checkbox></div>
      <button mat-flat-button
          [disabled]="radar?.available.length < 2"
          (click)="openTimesDialog()"
          color="primary">Forecast History</button>
    </div>
  </div>
  <div
      [matTooltip]="isLatest ? 'Auto-refresh: active' : 'Auto-refresh: inactive'"
      class="update-time {{ageStatus}}"
      [ngClass]="{
        'history': radar?.available && (radar?.latest.time !== radar?.available[0].time)
      }">
    <span [hidden]="error">
      <mat-icon inline *ngIf="isLatest">sync</mat-icon>
      {{radar
        ? 'Latest: ' +
          (
            (radar?.available ? radar?.available[0].time : radar?.latest.time) | date:'yyyy/MM/dd HH:mm':radar?.latest.frames[0].tzOffset
          )
        : 'Checking for latest data'}}
    </span>
    <span [hidden]="!error">Error loading {{radar?.title}}</span>
  </div>
</div>

<mat-menu #radarMenu="matMenu">
  <ng-container *ngFor="let r of radars">
    <button
        mat-menu-item
        *ngIf="!r.shapes"
        (click)="radar = r"
        [disabled]="r.id === radar?.id">
      {{r.title}}
    </button>
    <ng-container *ngIf="r.shapes">
      <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ r.title }}</button>
      <mat-menu #sub_menu="matMenu">
        <button mat-menu-item (click)="selectShape(r, null)">{{r.type === 'previeux' ? 'Radar' : 'NWS Grid (2.5km)'}}</button>
        <button *ngFor="let shape of r.shapes" mat-menu-item (click)="selectShape(r, shape)">{{ shape.name }}</button>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-menu>