:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  .mat-table {
    width: 100%;
  }

  ::ng-deep.mat-sort-header-content {
    text-align: left;
  }
}

.click-row:nth-child(odd) {
  background: rgba(0, 0, 0, 0.04);
}

.click-row .mat-cell {
  background-color: transparent;
}

.click-row:not(.disabled) .mat-cell {
  cursor: pointer;
}

.click-row:hover:not(.disabled) .mat-cell {
  background: rgba(0, 0, 0, 0.08);
}

.click-row.disabled {
  color: rgba(0, 0, 0, 0.54);
}

.row-is-clicked {
  font-weight: bold;
}

.mat-header-cell .mat-icon {
  float: left;
  margin-right: 4px;
}

::ng-deep.ttip {
  font-size: 12px;
}

.mat-cell {
  &.data {
    font-family: 'Ubuntu Mono', Courier, monospace;
    font-size: 1.1em;
  }
  &.title {
    font-weight: bold;
  }
}

.no-table {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-data {
  text-align: center;
  font-size: 48px;
  color: rgba(0,0,0,0.54);
  padding: 16px;

  p {
    font-size: medium;
  }
}

.mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}