<div class="no-table" *ngIf="!hasData || !dataSource?.filteredData.length || error">
  <div class="no-data" *ngIf="!loading && !error">
    <mat-icon inline>event_busy</mat-icon>
    <p>There are no events to display for this configuration at the selected times.</p>
    <p *ngIf="dataSource.filter">Display uncalibrated events for the full list.</p>
  </div>
  <div class="no-data" *ngIf="error">
    <mat-icon inline>warning_amber</mat-icon>
    <p>{{error}}</p>
  </div>
  <mat-spinner diameter="60" *ngIf="!hasData && !error"></mat-spinner>
</div>
<table mat-table class="table" [dataSource]="dataSource" matSort>
  <ng-container
    *ngFor="let col of service.tableConfig"
    [matColumnDef]="col.def">
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="col.def" [matTooltip]="col.description" [matTooltipShowDelay]="500" matTooltipClass="ttip">
      <mat-icon inline *ngIf="col.description && mediaObserver.isActive('gt-sm')">info</mat-icon>
      <span [innerHTML]="col.name"></span>
    </th>
    <td mat-cell *matCellDef="let row" [ngClass]="col.type">
      {{getProperty(row, col)}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getColumns(); sticky: true"></tr>
  <tr mat-row
    *matRowDef="let row; columns: getColumns();"
    class="click-row"
    [class.disabled]="loading"
    (click)="loading ? $event.stopPropagation() : onSelect.next(row)"
    ></tr>
</table>
<mat-progress-bar mode="indeterminate" *ngIf="hasData && loading"></mat-progress-bar>