:host ::ng-deep {
  position: relative;
  flex: 1 1 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  height: 24px;

  & > .frame {
    display: flex;
    flex: 1 1 100%;
    margin: 0 1px;
    background-image: radial-gradient(#ccc, #ddd);
    border-radius: 2px;
    border: none;
    pointer-events: none;

    &.selected {
      background-image: radial-gradient(#ffe189, #FFC107);
      box-shadow: 0px 0px 8px 2px #ffe185;

      &.disabled {
        background-color: #ffe189;
      }
    }

    &.accum {
      background-image: radial-gradient(#ffd040, #ffeaab);
    }

    &.disabled {
      background-color: #ddd;
      background-image: none;
      box-shadow: none;
    }
  }

  input[type=range]:focus ~ .frame.selected {
    border: 1px solid #FFB300;
    margin: 0;
  }

  @mixin thumb() {
    border: none;
    border-radius: 2px;
    height: 24px;
  }

  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      @include thumb;
    }

    @for $i from 2 to 20 {
      &.frames-#{$i} {
        &::-webkit-slider-thumb { width: calc(100% / #{$i}); }
        &::-moz-range-thumb { width: calc(100% / #{$i}); }
        &::-ms-thumb { width: calc(100% / #{$i}); }
      }
    }
  }
}