<form [formGroup]="rForm" (ngSubmit)="onSubmit()" fxFlex fxLayout="column">
  <div class="form-container" fxLayout="column" *ngIf="rForm" fxFlex>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex><h2>{{scenario ? 'Scenario Info' : 'New Scenario'}}</h2></div>
      <button mat-icon-button (click)="close.emit(false)"><mat-icon>close</mat-icon></button>
    </div>
    <mat-form-field [appearance]="rForm.disabled ? 'standard' : 'outline'" class="no-hint-input">
      <mat-label>Title</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field [appearance]="rForm.disabled ? 'standard' : 'outline'" class="no-hint-input">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <app-source-map [source]="selectedForecast" [project]="project" fxFlex="280px" *ngIf="!scenario"></app-source-map>
    <h3>{{selectedForecast?.name || 'Loading Source Info...'}}</h3>
    <h4 *ngIf="scenario" [matTooltip]="scenario.requestedBy">Requested: {{scenario.requestedDisplay}}</h4>
    <div fxLayout fxLayoutGap="8px">
      <mat-form-field matTooltip="Method to adjust rainfall" matTooltipPosition="above" [appearance]="rForm.disabled ? 'standard' : 'outline'" fxFlex>
        <mat-label>Adjustment Type</mat-label>
        <mat-select formControlName="adjustType">
          <mat-option value="multiply">Multiplicative</mat-option>
          <mat-option value="add">Additive</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field matTooltip="Rainfall adjustment value" matTooltipPosition="above" [appearance]="rForm.disabled ? 'standard' : 'outline'" fxFlex>
        <mat-label>Amount{{rForm.get('adjustType').value === 'add' ? ' (inches)' : ''}}</mat-label>
        <input matInput formControlName="adjustValue" type="number" step="0.05">
        <mat-error *ngIf="rForm.get('adjustValue').hasError('max')">Maximum: {{rForm.get('adjustType').value === 'add' ? '20' : '10'}}</mat-error>
        <mat-error *ngIf="rForm.get('adjustValue').hasError('min')">Minimum: 0.01</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field matTooltip="The amount of time the model simulation will extend beyond the end of rainfall" matTooltipPosition="above" [appearance]="rForm.disabled ? 'standard' : 'outline'">
      <mat-label>Solve time after rainfall</mat-label>
      <mat-select formControlName="solveTime">
        <mat-option [value]="6 * 3.6e6">6 Hours</mat-option>
        <mat-option [value]="12 * 3.6e6">12 Hours</mat-option>
        <mat-option [value]="24 * 3.6e6">24 Hours</mat-option>
        <mat-option [value]="48 * 3.6e6">48 Hours</mat-option>
        <mat-option [value]="72 * 3.6e6">72 Hours</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field matTooltip="Adjustments made to starting soil moisture" matTooltipPosition="above" [appearance]="rForm.disabled ? 'standard' : 'outline'">
      <mat-label>Modify soil moisture</mat-label>
      <input matInput formControlName="soilMoisture" type="number">
      <mat-hint>Adjustments made to starting soil moisture</mat-hint>
    </mat-form-field> -->
  </div>
  <mat-divider></mat-divider>
  <div class="btn-container" fxLayout fxLayoutAlign="center center" *ngIf="scenario" >
    <button type="button" mat-raised-button color="warn" (click)="onDelete()">
      <mat-icon>delete</mat-icon> Delete Scenario
    </button>
  </div>
  <div class="btn-container" fxLayout fxLayoutAlign="end center" fxLayoutGap="8px" *ngIf="!scenario">
    <button mat-raised-button (click)="close.emit(false)">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="rForm.invalid">Submit</button>
  </div>
</form>