@use '~@angular/material' as mat;

:host {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;

  app-source-map {
    border-radius: 3px;
    @include mat.elevation(2);
  }

  .btn-container, .form-container {
    padding: 12px 16px 16px;
  }

  .form-container {
    padding-top: 8px;
    overflow: auto;
    background-color: white;

    .no-hint-input {
      margin-bottom: -16px;
    }

    .mat-input-element:disabled, ::ng-deep.mat-select-disabled .mat-select-value {
      color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: rgba($color: #000000, $alpha: 0.87);
  }

  h2 {
    margin: .5em 0;
  }

  ::ng-deep.mat-form-field-infix {
    width: auto;
  }
}