.error { max-width: 376px; }
.mat-dialog-content {
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3), inset 0 -7px 9px -7px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  .form-container {
    padding: 16px 24px;
    margin: 0 -24px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .checkbox-container {
      margin-top: 8px;
    }
    .username {
      text-transform: lowercase;
    }
  }
}