<div fxFill fxLayout>
  <app-list
    [results]="results"
    (newRequest)="showRequest$.next(true)"
    *ngIf="!(showRequest$ | async)"
    [(result)]="result"
    fxFlex="364px"
  ></app-list>
  <app-request
    [project]="project"
    fxFlex="364px"
    *ngIf="showRequest$ | async"
    [scenario]="result"
    (close)="onRequestClose($event)"
  ></app-request>
  <mat-divider [vertical]="true"></mat-divider>
  <app-map
    [project]="project"
    [result]="result"
    [scenarios]="results"
    fxFlex
  ></app-map>
</div>
