<div class="no-table" *ngIf="!hasData || !dataSource?.filteredData.length || error">
  <div class="no-data" *ngIf="!loading && !error">
    <mat-icon inline>outlined_flag</mat-icon>
    <p>No data to display for this configuration at the selected times.</p>
  </div>
  <div class="no-data" *ngIf="error">
    <mat-icon inline>warning_amber</mat-icon>
    <p>{{error}}</p>
  </div>
  <mat-spinner diameter="60" *ngIf="!hasData && !error"></mat-spinner>
</div>
<table mat-table class="table" [dataSource]="dataSource" matSort>
  <ng-container
    *ngFor="let col of service.tableConfig"
    [matColumnDef]="col.def">
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="col.def" [ngClass]="col.type">{{groupHeader[_grouping][col.def]}}</th>
    <td mat-cell *matCellDef="let row" [ngClass]="col.type" [innerHTML]="row[col.def]"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getColumns(); sticky: true"></tr>
  <tr mat-row
    *matRowDef="let row; columns: getColumns();"
    class="report-row"
    [class.disabled]="loading"></tr>
</table>