:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  ::ng-deep.mat-sort-header-content {
    text-align: left;
  }
}

.mat-table {
  width: 100%;
}

.report-row:nth-child(odd) {
  background: rgba(0, 0, 0, 0.04);
}

.report-row .mat-cell {
  line-height: 26px;
}

.mat-cell {
  &.data {
    font-family: 'Ubuntu Mono', Courier, monospace;
    font-size: 1.1em;
    white-space: pre-wrap;
    tab-size: 8px;
    padding-left: 8px;
  }
  &.title {
    font-weight: bold;
    padding-right: 8px;
    background-color: rgba(0, 94, 106, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.04);
  }
}

.mat-header-cell {
  &.data {
    padding-left: 8px;
  }
  &.title {
    padding-right: 8px;
  }
}

.no-table {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-data {
  text-align: center;
  font-size: 48px;
  color: rgba(0,0,0,0.54);
  padding: 16px;

  p {
    font-size: medium;
  }
}

.mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}