<div class="header">
  <button
      mat-flat-button
      class="sortMenuButton"
      [matMenuTriggerFor]="menu"
      title="Sort Watchpoints">
    <mat-icon>sort</mat-icon> {{sortType}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="sortMenuItem" (click)="setSortType(type)" *ngFor="let type of sortTypes">
      <span>{{type}}</span>
    </button>
  </mat-menu>
</div>

<div class="table-container">
  <cdk-virtual-scroll-viewport
      [itemSize]="22"
      [maxBufferPx]="300"
      [minBufferPx]="150"
      id="watchpoints-table"
      [hidden]="!points.length || error">
    <button class="no-style row"
        [title]="point.description"
        *cdkVirtualFor="let point of points"
        [ngClass]="'status-' + point.status"
        (click)="clickPoint(point)"
        [disabled]="!features">
      <div class="content">
        <div class="point-value">{{point.value || 'N/A'}}</div>
        <div class="point-name">{{point.name}}</div>
      </div>
    </button>
  </cdk-virtual-scroll-viewport>
  <mat-progress-bar mode="indeterminate" *ngIf="loading && points.length"></mat-progress-bar>
</div>

<div
    class="process-container"
    *ngIf="(!points.length && loading) || error">
  <mat-spinner
    *ngIf="!error"
    diameter="40"
    mode="indeterminate">
  </mat-spinner>
  <div class="error" *ngIf="error">Error loading watchpoints</div>
</div>