:host {

  *, *:before, *:after {
    box-sizing: border-box;
  }

  .header {
    button.sortMenuButton {
      margin-left: -12px;
      color: rgba(0, 0, 0, 0.54);

      &:hover:enabled {
        color: rgba(0, 0, 0, 0.87);
      }

      &:disabled {
        color: rgba(0, 0, 0, 0.35);
      }
    }

    .sortMenuItem {
      position: relative;
    }
  }

  .table-container {
    position: relative;
    .mat-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #watchpoints-table {
    height: 172px;
    border: 1px solid #bbb;
    border-radius: 2px;
    background-color: #f5f5f5;

    button.row {
      display: block;
      position: relative;
      width: 100%;
      height: 22px;
      text-align: left;
      cursor: pointer;
      border-bottom: 1px solid #bbb;

      .content {
        position: relative;
        height: 21px;
        pointer-events: none;
        font-family: "Ubuntu Mono",Courier,monospace;
        font-size: 14px;
        color: rgba(0,0,0,0.87);
        text-shadow: 0px 0px 1px #FFF, 0px 0px 5px #FFF;
        border-color: transparent;
        border-width: 0 4px;
        border-style: solid;
        display: block;

        & > .point-name, & > .point-name {
          line-height: 21px;
        }

        .point-name {
          font-weight: normal;
          padding-left: 4px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 204px;
        }

        .point-value {
          padding: 0 4px;
          float: right;
          font-weight: bold;
        }
      }

      &:hover:enabled .content {
        background-color: #e9e9e9;
      }

      //status-0 is normal

      &.status--1 .content {
        //no data
        border-color: #aaa;
        border-style: dashed;
      }
      &.status-1 .content {
        //normal, recently watch
        border-color: #ffc107;
        border-style: dashed;
      }
      &.status-2 .content {
        //normal, recently warning
        border-color: #f44336;
        border-style: dashed;
      }
      &.status-3 .content {
        //watch
        background-color: #ffe188;
        font-weight: bold;
        border-color: #ffc107;
        border-style: solid;
        z-index: 1;
      }
      &.status-3:hover:enabled .content {
        background-color: #ffd451;
      }
      &.status-4 .content {
        //watch, recently warning
        background-color: #ffe188;
        font-weight: bold;
        border-color: #f44336;
        border-style: dotted;
        z-index: 1;
      }
      &.status-4:hover:enabled .content {
        background-color: #ffd451;
      }
      &.status-5 .content {
        //warning
        background-color: #ffa6a0;
        font-weight: bold;
        border-color: #f44336;
        border-style: solid;
        z-index: 1;
      }
      &.status-5:hover:enabled .content {
        background-color: #f18d86;
      }
    }
  }

  .process-container {
    flex-direction: row;
    display: flex;
    place-content: center;
    align-items: center;
    flex: 1 1 0%;
  }
}
