:host {
  display: block;
  position: relative;

  .mat-dialog-content {
    max-height: calc(100vh - 84px);
    overflow: hidden scroll;
  }

  .mat-tab-group {
    border: 1px solid #aaa;
    background-color: #ccc;
    height: 420px;
    box-sizing: border-box;

    ::ng-deep.mat-tab-header .mat-tab-label {
      width: 50%;
      padding: 0 16px;
    }

    .included,
    .excluded {
      margin-right: 4px;
    }
    .included {
      color: #4caf50;
    }
    .excluded {
      color: #f44336;
    }
  }
  .table-container {
    position: relative;

    .table-message {
      width: 100%;
      height: 100%;
      span {
        padding: 16px;
      }
    }
    table {
      text-align: left;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      position: sticky;
      top: 0;
      background-color: #333;
      color: white;
      font-size: 0.8em;
    }
    td,
    th {
      padding: 4px;
      white-space: nowrap;
    }
    tr {
      background-color: #fff;
      &:nth-child(even) {
        background-color: #eee;
      }
    }
    .name {
      font-weight: 600;
      font-size: 0.85em;
    }
    .data {
      font-family: 'Ubuntu Mono', Courier, monospace;
      font-size: 1.1em;
    }
  }
  .tables,
  .chart-map {
    box-sizing: border-box;
    height: 420px;
  }
  .chart-map {
    & > * {
      width: 100%;
      overflow: hidden;
    }
    .chart h4 {
      margin: 0;
      text-align: center;
    }
  }
  .loading {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  .top-tools {
    .title {
      flex: 1 1 0%;
      box-sizing: border-box;
      text-align: center;
      padding-right: 40px;
      h3 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
