<div fxLayout="row" fxLayoutAlign="start center" class="top-tools">
  <button mat-icon-button [disabled]="!prevEvent" matTooltip="Previous Event" matTooltipPosition="above" (click)="getEventDetails(prevEvent)"><mat-icon>navigate_before</mat-icon></button>
  <button mat-icon-button [disabled]="!nextEvent" matTooltip="Next Event" matTooltipPosition="above" (click)="getEventDetails(nextEvent)"><mat-icon>navigate_next</mat-icon></button>
  <div class="title"><h3>{{event?.eventName || event?.rangeString}}</h3></div>
  <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content fxLayout="column" fxLayout.gt-sm="row">
  <div class="tables" fxFlex="none" fxFlex.gt-sm="0 0 50%">
    <mat-tab-group color="accent" [disablePagination]="true" [animationDuration]="'0'" [disableRipple]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="included" inline>fiber_manual_record</mat-icon>
          Included ({{event?.gaugesUsed}})
        </ng-template>
        <div class="table-container" fxLayout="column">
          <table matSort (matSortChange)="sortData($event, 'included')" fxFlex="none">
            <thead>
              <tr>
                <th mat-sort-header="id" >Gauge ID</th>
                <th mat-sort-header="value">Value ({{unit}})</th>
                <th mat-sort-header="uncalibratedRadarValue">Uncal.<br>Radar ({{unit}})</th>
                <th mat-sort-header="calibratedRadarValue">Cal.<br>Radar ({{unit}})</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let gauge of includedSorted">
                <td class="name">{{gauge.id}}</td>
                <td class="data">{{gauge.value | number:decimals[data.project.measurement.system]}}</td>
                <td class="data">{{gauge.uncalibratedRadarValue | number:decimals[data.project.measurement.system]}}</td>
                <td class="data">{{gauge.calibratedRadarValue | number:decimals[data.project.measurement.system]}}</td>
              </tr>
            </tbody>
          </table>
          <div class="table-message" fxLayout fxLayoutAlign="center center" *ngIf="!includedSorted?.length">
            <span>No gauges were included in this event.</span>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="excluded" inline>fiber_manual_record</mat-icon>
          Excluded ({{event?.gaugesExcluded}})
        </ng-template>
        <div class="table-container" fxLayout="column">
          <table matSort (matSortChange)="sortData($event, 'excluded')" fxFlex="none">
            <thead>
              <tr>
                <th mat-sort-header="id">Gauge ID</th>
                <th mat-sort-header="reason">Reason</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let gauge of excludedSorted">
                <td class="name">{{gauge.id}}</td>
                <td>{{gauge.reason}}</td>
              </tr>
            </tbody>
          </table>
          <div class="table-message" fxLayout fxLayoutAlign="center center" *ngIf="!excludedSorted?.length">
            <span>No gauges were excluded from this event.</span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="chart-map" fxFlex="none" fxFlex.gt-sm="50" fxLayout="column">
    <div class="chart" fxFlex="210px" *ngIf="event?.gaugesUsed">
      <h4>Calibrated RG Pairs</h4>
      <app-scatter-plot [data]="chartData" [size]="{ height: 196 }"></app-scatter-plot>
    </div>
    <mgl-map
        [fxFlex]="event?.gaugesUsed ? 50 : 100"
        [style]="'mapbox://styles/mapbox/light-v10'"
        [bounds]="data.project?.bounds"
        [transformRequest]="transformRequest"
        (mapLoad)="onMapLoad($event)"
    >
      <mgl-layer
          id="gauges"
          type="circle"
          [source]="gaugeSource"
          [paint]="layerPaint"
      ></mgl-layer>
    </mgl-map>
  </div>
</div>
<div class="loading" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading$ | async">
  <mat-spinner diameter="40"></mat-spinner>
</div>