<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="40"></mat-spinner>
</div>
<div
    class="tools-container"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
    fxLayoutGap.gt-sm="24px"
    [fxHide]="selection && !paneSizes[activeMediaQuery]">
  <div class="time-container" fxFlex fxFlexOrder.xs="1">
    <button class="no-style" #timeButton (click)="openTimeControls()">
      {{time.end | date:globals.DATETIME_FORMAT:tzOffset}}
      <i class="material-icons">{{time.realtime ? 'update' : 'arrow_drop_down'}}</i>
    </button>
  </div>
  <mat-form-field class="filter-wrapper" fxFlex.xs="100">
    <input matInput [formControl]="watchpointFilter" placeholder="Filter">
    <mat-icon matSuffix>filter_list</mat-icon>
  </mat-form-field>
  <div fxFlexOrder.xs="1" fxHide [fxShow]="groups.length">
    <button mat-icon-button matTooltip="Filter to Group" [matMenuTriggerFor]="groupMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #groupMenu="matMenu" overlapTrigger>
      <button mat-menu-item
          style="text-transform: none"
          *ngFor="let group of groups"
          (click)="watchpointFilter.setValue('group:' + group)">
        {{group}}</button>
    </mat-menu>
  </div>
  <div fxFlexOrder.xs="1">
    <button
        mat-button
        matTooltip="Status Key"
        [matMenuTriggerFor]="statusMenu"
        [ngClass]="!(statuses.watch + statuses.warn)?'mat-icon-button':'mat-mini-fab'"
        [color]="!!statuses.warn ? 'warn' : !!statuses.watch ? 'accent' : ''">
      <mat-icon>vpn_key</mat-icon>
    </button>
    <mat-menu #statusMenu="matMenu" class="status-key" overlapTrigger>
      <button
          mat-menu-item
          [class]="'no-style ' + item.class"
          [title]="'Show ' + item.title?.toLowerCase()"
          *ngFor="let item of statusKey; index as i;"
          (click)="watchpointFilter.setValue('status:' + (i === 6 ? -1 : i))"
          [disabled]="!statusCounts[i]">
        <div class="wrapper" fxLayout fxLayoutAlign="start center">
          {{item.title}} (<span class="count">{{statusCounts[i]}}</span>)
        </div>
      </button>
    </mat-menu>
  </div>
</div>
<div class="main-container" fxLayout="row" fxFlex>
  <app-grid
      fxFlex
      (gridLoading)="setLoading($event)"
      [filter]="filter"
      [project]="project"
      [time]="time"
      [fxHide]="selection && !paneSizes[activeMediaQuery]"
      [detailsOpen]="!!selection"></app-grid>
  <app-details-pane
      [fxFlex]="paneSizes[activeMediaQuery] || 100"
      [class.side-pane]="!!paneSizes[activeMediaQuery]"
      *ngIf="selection"
      [times]="time"
      [timezone]="project.timezone"
      [loading]="gridLoading"
      [point]="selection"></app-details-pane>
</div>
