:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .loading-shade {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tools-container {
    padding: 4px 16px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #DDD;

    @media screen and (min-width: 600px) {
      padding-top: 8px;
    }

    .time-container {
      padding: 16px 0;
      font-size: 1.2em;

      button i {
        vertical-align: bottom;
      }
    }
    .filter-wrapper {
      min-width: 160px;
      margin-bottom: -16px;

      @media screen and (min-width: 600px) {
        margin-bottom: -8px;
      }
    }
  }
  .main-container {
    overflow: hidden;

    app-grid {
      position: relative;
      overflow: auto;
      margin-bottom: -1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    app-details-pane {
      background-color: #F5F5F5;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1);

      &.side-pane {
        border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}

::ng-deep {
  .status-key {
    button {
      display: block;
      color: rgba($color: #000000, $alpha: 0.87);
      width: 100%;
      text-align: left;
      border-width: 0 4px 1px;

      $borderColor: #ddd;

      &:last-child {
        border-bottom-width: 0px;
      }

      &:first-child .wrapper {
        padding: 0 12px;
        border-width: 0 0 1px;
      }

      &:hover:not(:disabled) .wrapper {
        background-color: #eee;
      }

      &:disabled {
        color: rgba($color: #000000, $alpha: 0.54);
      }

      &.status--1 {
        border-color: $borderColor #aaa;
        border-style: solid dashed;
      }

      &.status-1 {
        border-color: $borderColor #FFC107;
        border-style: solid dashed;
      }
      &.status-2 {
        border-color: $borderColor #F44336;
        border-style: solid dashed;
      }
      &.status-3 {
        border-color: $borderColor #FFC107;
        border-style: solid;
      }
      &.status-4 {
        background-color: #F44336;
        border-color: $borderColor #FFC107;
        border-style: solid dotted;

      }
      &.status-5 {
        border-color: $borderColor #F44336;
        border-style: solid;
      }

      .wrapper {
        height: 40px;
        padding: 0 8px;
        background-color: #fff;

        .count {
          display: inline-block;
          font-family: 'Ubuntu Mono', Courier, monospace;
        }
      }
    }
  }
}
