:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .loading-shade {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error {
    border-radius: 2px;
    background-color: #eee;
    padding: 8px 16px;
    font-size: 14px;
  }

  .overview,
  .footer {
    background: white;

    label {
      display: block;
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.54);
      text-transform: uppercase;
    }

    section {
      padding: 0 16px;

      p {
        margin: 0;
        color: #616161;
      }
    }
  }

  .tools-container {
    padding: 8px;
    background-color: #fff;

    @media screen and (min-width: 600px) {
      padding: 16px;
    }

    .input-tools {
      font-size: 14px;

      .overview {
        margin-bottom: 8px;

        button {
          color: #0097a7;
          font-size: 1.34em;
          &:hover {
            color: #00838f;
          }

          i {
            vertical-align: text-bottom;
          }

          &.past {
            color: #607d8b;
            &:hover {
              color: #455a64;
            }
          }
        }
      }
    }
  }

  .legend {
    padding: 8px;
    border-radius: 2px;
    background: #ddd;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.87);

    .label {
      text-align: center;
      letter-spacing: 2.5px;
      font-family: 'Ubuntu', Arial, sans-serif;
      font-size: 10px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.54);
      margin-right: 8px;
      -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }

    .item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
      .line {
        min-width: 32px;
        height: 8px;
        background: #fff;
        border: 1px solid #bbb;
      }
      &.status-2 .line {
        background: #ffeb3b;
      }
      &.status-3 .line {
        background: #e57373;
      }
      span {
        white-space: nowrap;
      }
    }
  }

  .table-container {
    position: relative;
    overflow: auto;
    z-index: 0;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .obscure-bottom-border {
      height: 1px;
      background: #f5f5f5;
      margin-top: -1px;
    }

    .table {
      width: 100%;

      tr.mat-header-row {
        height: 48px;
      }

      tr.mat-row {
        height: 40px;

        &:nth-child(odd) {
          background: #f5f5f5;

          &.status-2 {
            background: #ffeb3b;
          }

          &.status-3 {
            background: #e57373;
          }
        }

        &.clickable-row {
          cursor: pointer;

          &:not(.active) {
            &:hover .mat-cell {
              background: rgba(0, 0, 0, 0.06);
            }

            &:active .mat-cell {
              background: rgba(0, 0, 0, 0.12);
            }
          }

          &.active .mat-cell {
            background: #e0f7fa;
          }
        }

        &.status-2 {
          background: #fff176;
        }

        &.status-3 {
          background: #ef9a9a;
        }

        .mat-cell {
          font-size: 14px;

          .mono {
            font-family: 'Ubuntu Mono', Courier, monospace;
            font-size: 1.15em;
            width: 48px;
          }

          .name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 184px;

            @media screen and (min-width: 600px) {
              width: 300px;
            }

            @media screen and (min-width: 840px) {
              width: initial;
            }
          }
        }
      }
    }
  }
}
