<div class="app-container" fxFill fxLayout="column">
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div fxFlex="60" fxLayout="row" fxLayoutAlign="center center" *ngIf="error">
    <div class="error mat-elevation-z2"
        fxFlex
        fxFlex.sm="60"
        fxFlex.md="40"
        fxFlex.gt-md="20">
      <h3>Error</h3>
      <p>{{error}}</p>
    </div>
  </div>

  <div fxFlex fxLayout="column" [fxHide]="error">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px" class="tools-container">
      <div class="input-tools" fxFlex="nogrow">
        <div class="overview">
          <label>Time {{doUpdates ? 'last checked' : 'loaded'}}</label>
          <button [class.past]="!doUpdates" [disabled]="loading || updating" class="no-style" #timeButton (click)="openTimeControls()">
            {{ (time | date:globals.DATETIME_FORMAT:tzOffset) || 'Loading...' }}
            <i class="material-icons" *ngIf="doUpdates">{{doUpdates ? 'update' : 'arrow_drop_down_circle'}}</i>
          </button>
        </div>
      </div>
      <div fxFlex.gt-xs></div>
      <mat-form-field fxFlex.xs>
        <input matInput [formControl]="tableFilter" placeholder="Filter">
        <mat-icon matSuffix>filter_list</mat-icon>
      </mat-form-field>
      <div class="legend" fxLayout>
        <div class="label">LEGEND</div>
        <div class="items">
          <div class="item" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
            <div class="line"></div>
            <span>Last updated 0-12 hrs</span>
          </div>
          <div class="item status-2" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
            <div class="line"></div>
            <span>Last updated 12-24 hrs</span>
          </div>
          <div class="item status-3" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
            <div class="line"></div>
            <span>Last updated 24+ hrs</span>
          </div>
        </div>
      </div>
    </div>

    <div class="table-container" fxFlex>
      <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="vaiId" matSortDirection="asc" matSortDisableClear>
        <ng-container
          *ngFor="let col of columns"
          matColumnDef="{{col.def}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{col.name || col.def}}<span *ngIf="col.includeUnit" style="text-transform: lowercase;">&nbsp;({{units}})</span>
          </th>
          <td mat-cell *matCellDef="let row">
            <div [ngClass]="{
                mono: col.data,
                name: col.def === 'name'
              }">
              {{getProperty(row, col.def, col)}}
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
        <tr mat-row
          *matRowDef="let row; columns: getDisplayedColumns();"
          class="clickable-row"
          [ngClass]="'status-' + row.status"
          (click)="openDetailDialog(row)"
          ></tr>
      </table>
      <div class="obscure-bottom-border"></div>
    </div>
    
    <div class="footer" fxLayout>
      <section *ngIf="doUpdates && overview" fxLayout="column" fxLayoutAlign="center start">
        <label>Max filtered time</label>
        <p>{{ updating ? 'Loading...' : (overview.lastReport | date:globals.DATETIME_FORMAT:project.getOffset(overview.lastReport)) }}</p>
      </section>
      <mat-paginator
        fxFlex
        [length]="dataSource.data.length"
        [pageSize]="25"
        [pageSizeOptions]="[25, 50, 100]"
        showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
