@use '~@angular/material' as mat;

:host {
  z-index: 1;
  position: absolute;
  top: 0;
  right: -292px;
  width: 280px;
  margin: 10px;
  padding: 8px;
  background-color: rgba($color: #fff, $alpha: 0.54);
  background-image: url('/assets/images/gradient-white-vert-80px.png');
  background-position: bottom center;
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  max-height: calc(100% - 20px);
  overflow: scroll;
  box-sizing: border-box;
  transition: right 200ms cubic-bezier(0, 0, 0.2, 1);

  .element {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 2px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.85);
    margin-bottom: 8px;
    @include mat.elevation(2);

    &:last-of-type {
      margin-bottom: 0;
    }

    .loading {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($color: #000, $alpha: 0.25);
    }
    .options {
      margin-bottom: 4px;

      & > span {
        text-transform: uppercase;
        color: rgba($color: #000, $alpha: 0.54);
        font-size: 14px;
        font-weight: 600;
      }
      .mat-icon-button {
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: -4px -4px 0 0;
        .mat-icon {
          font-size: 18px;
          line-height: 18px;
          height: 18px;
          width: 18px;
        }
      }
    }
  }

  &.show {
    right: 0;
  }

  &.dark {
    background: rgba($color: #fff, $alpha: 0.8);
    .control-container button {
      &.add {
        border: 1px solid #aaa;
      }
    }
  }

  .control-container {
    button {
      &,
      .mat-icon {
        color: rgba(0, 0, 0, 0.54);
      }

      &:hover:enabled,
      &:hover:enabled .mat-icon {
        color: rgba(0, 0, 0, 0.87);
      }

      &.add {
        border: 1px solid #ccc;
        background: rgba(255, 202, 40, 0.85);

        .mat-icon {
          margin-right: 8px;
        }

        &:disabled {
          background: #ffecb3;

          &,
          .mat-icon {
            color: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }
  }

  app-notifications-element {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}
