<div *ngIf="paneService.showElements$ | async">
  <div class="element" *ngFor="let el of elements">
    <div
      class="loading"
      *ngIf="el.loading"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <div class="options" fxLayout="row" fxLayoutAlign="end center">
      <span fxFlex>{{ el.name }}</span>
      <!-- <button mat-icon-button (click)="remove(el)"><mat-icon>close</mat-icon></button> -->
    </div>

    <!-- start elements -->
    <app-data-downloads-element
      *ngIf="el.id === 'data-downloads'"
      [times]="timesStore.times$ | async"
      (processing)="el.loading = $event"
    ></app-data-downloads-element>

    <app-ddf-element
      *ngIf="el.id === 'ddf'"
      [times]="timesStore.times$ | async"
      [map]="mapsService.mapgl"
      [mapPadding]="mapPadding"
    ></app-ddf-element>

    <app-watchpoints-element
        id="watchpoints-element"
        [time]="timesStore.times$ | async"
        *ngIf="el.id === 'watchpoints'"
        [layers]="layers"
        (element)="element.emit($event)">
    </app-watchpoints-element>

    <app-notifications-element
      *ngIf="el.id === 'alerts'"
      [project]="proj"
      [times]="timesStore.times$ | async"
      [mapPadding]="mapPadding"
      [mapgl]="mapsService.mapgl"
      hasMap
    ></app-notifications-element>

    <app-gauge-status-element
      *ngIf="el.id === 'gauge-status'"
      [times]="timesStore.times$ | async"
      [layers]="layers"
      (element)="element.emit($event)"
    ></app-gauge-status-element>
    <!-- end elements -->
  </div>
</div>
<div *ngIf="elements.length === 0"></div>
<!-- <div class="control-container" fxLayout>
  <button mat-button class="add" (click)="openAddElementDialog()" fxFlex><mat-icon>add_box</mat-icon>Element</button>
  <button mat-icon-button><mat-icon>settings</mat-icon></button>
</div> -->
