:host {
  position: relative;
  border-radius: 2px;
  overflow: hidden;

  & > button,
  & > button > img,
  .info-container,
  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .loading {
    z-index: 1;
  }

  & > button {
    background-color: white;

    &:hover:not(.selected) .info-container {
      opacity: 0;
    }

    img.watchpoint {
      z-index: 0;
    }

    &.selected .info-container.label {
      background-color: transparent;
      background-size: 8px 8px;
      background-image: repeating-linear-gradient(315deg, #00bcd4 0, #00bcd4 1px, transparent 0, transparent 50%);
    }

    .info-container {
      z-index: 2;
      opacity: 1;
      transition: opacity 150ms cubic-bezier(0, 0, 0.2, 1);
      box-sizing: border-box;
      border-width: 0 4px;
      border-color: transparent;

      h4 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
        padding: 4px 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #fff,
          0 0 3px #fff;
      }

      &.s-1 {
        border-color: #aaa;
        border-style: dashed;
      }

      &.s1 {
        border-color: #ffc107;
        border-style: dashed;
      }
      &.s2 {
        border-color: #f44336;
        border-style: dashed;
      }
      &.s3 {
        border-color: #ffc107;
        border-style: solid;
      }
      &.s4 {
        border-color: #f44336;
        border-style: dotted;
        &:last-child {
          z-index: 1;
          border-color: #ffc107;
          border-style: solid;
        }
      }
      &.s5 {
        border-color: #f44336;
        border-style: solid;
      }
    }
  }
}
