<button
    class="no-style"
    (click)="onClick($event)"
    [class.selected]="(wpService.selection$ | async)?.pointId === point.pointId">
  <div class="loading" *ngIf="!loaded && !error"  fxLayout fxLayoutAlign="center center">
    <img src="assets/images/loading-blocks-16px.gif" width="16" height="16">
  </div>
  <div [hidden]="!error" class="error">Image Error</div>
  <img
      class="watchpoint"
      [hidden]="error"
      (load)="onImageLoad($event)"
      (error)="onImageError()"
      [src]="isHidden ? placeholder : url || placeholder"
      width="100%" height="100%">
  <div class="info-container label" [ngClass]="'s' + point.status"><h4>{{point.name}}</h4></div>
  <div class="info-container" [ngClass]="'s' + point.status"></div>
</button>
