:host {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;
  
  h3 {
    margin-top: 0;
  }

  p {
    margin: 8px 0;
    color: rgba($color: #000000, $alpha: 0.54);

    .mat-icon-inline {
      vertical-align: bottom;
    }
  }
}