:host {
  width: 100%;
  position: relative;
  display: block;

  .message {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.2em;
    text-align: center;

    &.error {
      background: #ffcdd2;
    }
  }
  [id^='chart-'] {
    height: 260px;

    @media screen and (min-width: 600px) {
      height: 340px;
    }
  }
}
