.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: cyan;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: black;
  padding: 25px;
  text-decoration: none;
}

.mat-table {
  overflow: auto;
  text-align: center;
  max-height: 400px;
  width: 600px;
}

.mat-column-display {
  overflow: initial;
  flex: 0 0 75px;
}

.mat-column-name {
  flex: 0 0 400px;
}

.mat-column-type {
  flex: 0 0 75px;
}

.RAINFALL {
  transform: rotate(90deg);
}

.spinner {
  padding-top: 25px;
}