:host {
  .error { max-width: 376px; }
  .mat-dialog-content {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3), inset 0 -7px 9px -7px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    .form-container {
      padding: 16px 24px;
      margin: 0 -24px;
    }
    & > * {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .title {
    font-family: 'Ubuntu', sans-serif;
    margin: -12px 0 12px;
  }

  .content {
    margin: 0 -24px;
    padding: 0 24px;

    .details-list {
      margin: 0 -24px;

      & > div {
        height: 60px;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start center;
        align-items: flex-start;
        padding: 0 24px;

        h3 {
          margin: 0;
          font-family: 'Ubuntu', sans-serif;
          font-size: 12px;
        }

        p {
          margin: 0;
          font-family: 'Ubuntu Mono', monospace;
          font-size: 18px;
        }
      }
    }

    .mat-form-field, .mat-select, .mat-checkbox {
      font-family: 'Ubuntu', sans-serif;
    }

    input {
      font-family: 'Ubuntu Mono', monospace;
      font-size: 18px;
    }
  }
}
