<mat-dialog-content>
  <table *ngIf="!loading">
    <tr>
      <th>Name</th>
      <th>Return Interval</th>
      <th>Rainfall ({{data.project.getUnitConfig('rain').options[0].abbr}})</th>
      <th>From</th>
      <th>To</th>
      <th>Duration</th>
      <th>&#37; to Next</th>
    </tr>
    <tr [ngStyle]="{ 'background-color': bin.categoryDetails?.color }" [class.no-data]="!bin.categoryDetails" *ngFor="let bin of data.list">
      <td>{{bin.name}}</td>
      <td>{{bin.categoryDetails?.label}}</td>
      <td class="mono">{{bin.amount}}</td>
      <td>{{bin.rainStartDisplay || 'loading'}}</td>
      <td>{{bin.rainEndDisplay || 'loading'}}</td>
      <td>{{bin.description}}</td>
      <td>{{bin.displayPercentage}}</td>
    </tr>
  </table>
  <div *ngIf="loading">Formatting table...</div>
</mat-dialog-content>
