table {
  border-collapse: collapse;
  border-spacing: 0px;

  &, th, td {
    padding: 2px 4px;
    border: 1px solid #ccc;
    white-space: nowrap;
  }

  th {
    border-color: #aaa;
    background-color: #ccc;
  }

  tr.no-data {
    background-color: #eee;
    color: #777;
  }
}

.mono {
  font-family: 'Ubuntu Mono', Courier, monospace;
  font-size: 1.1em;
}