:host {
  input {
    font-size: 16px;
    line-height: 24px;
    border-width: 0 0 1px;
    width: 100%;
    outline: none;
  }
}

::ng-deep {
  .map-search-list {

    .mat-option {
      padding: 0 8px;
      line-height: 40px;
      height: 40px;
      font-size: 14px;

      .mat-icon {
        margin-right: 8px;
      }
    }
  }
}