<form>
  <input #search
      type="text"
      placeholder="Search"
      [formControl]="searchControl"
      [matAutocomplete]="auto">
  <mat-autocomplete
      class="map-search-list"
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      autoActiveFirstOption
      (optionSelected)="gotoPlace($event)">
    <mat-option *ngFor="let item of searchItems" [value]="item" [title]="item.place_name">
      <mat-icon
          mat-list-icon
          [matTooltip]="item.layer?.metadata?.name || 'Place'"
          [style.color]="item.layer?.metadata?.icon?.color"
          [svgIcon]="item.layer?.metadata?.icon?.svg ? item.layer?.metadata?.icon?.id : ''">
        {{item.layer?.metadata?.icon?.svg ? '' : (item.layer?.metadata?.icon?.id || 'place')}}
      </mat-icon>
      {{item.place_name}}
    </mat-option>
  </mat-autocomplete>
</form>