<div>
  <mat-action-list dense class="feature-selection" *ngIf="features.length && !selectedFeature">
    <button mat-list-item
        [matTooltip]="feat.layer.metadata.name"
        matTooltipShowDelay="750"
        disableRipple
        class="feature"
        [style.color]="feat.layer.paint['text-color']"
        *ngFor="let feat of features; let i = index; let isLast = last"
        (click)="selectFeature(feat)">
      <mat-icon mat-list-icon
          [style.color]="feat.layer.metadata.icon?.color || (feat.layer.paint ? feat.layer.paint['icon-color'] : '#000')"
          [svgIcon]="feat.layer.metadata.icon.svg ? feat.layer.metadata.icon.id : null">
        {{feat.layer.metadata.icon.svg ? '' : feat.layer.metadata.icon.id}}
      </mat-icon>
      {{feat.properties?.btnName || feat.layer.metadata.name}}
      <mat-divider *ngIf="!isLast"></mat-divider>
    </button>
  </mat-action-list>

  <div *ngIf="!!selectedFeature">
    <div class="chart-head">
      <h3>{{selectedFeature.properties?.name || meta.name}}</h3>
      <span>
        {{selectedFeature.properties?.displayId}}
        {{selectedFeature.properties?.feed ? ' | ' + selectedFeature.properties.feed : ''}}
      </span>
    </div>
    <div *ngFor="let chart of showCharts" [ngSwitch]="chart.type">
      <app-hyetograph
          *ngSwitchCase="'hyetograph'"
          class="chart-wrapper"
          [times]="times"
          [attributes]="chart.attributes"
          [mosaicId]="meta.symbolicName"
          [id]="selectedFeature.properties?.id"
          [update]="timestamp"></app-hyetograph>
      <app-hydrograph
          *ngSwitchCase="'hydrograph'"
          class="chart-wrapper"
          [groupTooltip]="true"
          [id]="selectedFeature.properties?.id || selectedFeature.id"
          [times]="times"
          [attributes]="chart.attributes"
          [lngLat]="selectedFeature.lngLat"
          [update]="timestamp"></app-hydrograph>
    </div>
  </div>
</div>
