:host {
  .chart-head {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    h3 {
      margin: 0;
      line-height: 0.85em;
      font-weight: 500;
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      font-size: 0.9em;
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(0,0,0,0.54);
    }
  }

  .chart-wrapper {
    min-width: 360px;
    max-width: 400px;
    height: 256px;
  }

  .loading {
    background-color: rgba(0, 0, 0, 0.12);
  }

  .mat-action-list.feature-selection {
    margin: 0 -10px;
    button.mat-list-item.feature {
      margin-right: 4px;
    }
  }
}