<div *ngIf="loading" fxLayoutAlign="center center" class="loading">
  <mat-spinner diameter="40"></mat-spinner>
</div>
<app-layer-pane></app-layer-pane>
<div
  class="time-control-wrapper"
  [class.layer-pane]="paneService.showLayers$ | async"
  fxLayout
  fxLayoutAlign="center center"
>
  <app-time-controls></app-time-controls>
</div>
<app-elements
  [class.show]="paneService.showElements$ | async"
  [class.dark]="basemap.dark"
  [layers]="layerList"
  (element)="onElement($event)"
></app-elements>
<mgl-map
  class="main-map"
  [ngClass]="{
    'layer-pane': paneService.showLayers$ | async,
    'is-animating': isAnimating
  }"
  [class.elements-pane]="paneService.showElements$ | async"
  [style]="basemap.url"
  [fitBounds]="service.bounds$ | async"
  [fitBoundsOptions]="{
    duration: 0,
    padding: { left: leftPadding }
  }"
  [transformRequest]="transformRequest"
  (mapClick)="onMapClick($event)"
  (mapLoad)="onMapLoad($event)"
  (sourceData)="service.onSourceData$.next($event)"
  (mapError)="service.onError$.next($event)"
  (styleData)="onStyleData$.next($event)"
  (mapMouseMove)="onMouseMove$.next($event)"
  (moveEnd)="saveBounds()"
>
  <mgl-image
    *ngFor="let icon of icons"
    [id]="icon"
    [url]="'/assets/images/map-icons/' + icon + '.png'"
    (imageLoaded)="loadedIcons = loadedIcons + 1"
  ></mgl-image>

  <mgl-control mglNavigation></mgl-control>
  <mgl-control position="top-right">
    <app-controls (onResetMapCam)="resetMapBounds()" (onCopyLink)="copyLink()"></app-controls>
  </mgl-control>
  <mgl-control mglGeolocate *ngIf="smallScreen"></mgl-control>

  <mgl-control
    mglScale
    [unit]="project?.measurement.system"
    position="bottom-left"
  ></mgl-control>

  <mgl-control position="bottom-left" *ngIf="scaleLayers?.length">
    <app-scales [scales]="scaleLayers"></app-scales>
  </mgl-control>

  <ng-container *ngIf="loadedIcons >= icons.length">
    <ng-container *ngFor="let layer of layerList; trackBy: trackLayerBy">
      <mgl-layer
        [id]="layer.id"
        [type]="layer.type"
        [metadata]="layer.metadata"
        [source]="layer.source"
        [sourceLayer]="layer['source-layer']"
        [paint]="layer.paint"
        [layout]="layer.layout"
        [before]="getLayerBefore(layer.id)"
      ></mgl-layer>

      <!-- <mgl-layer
        *ngIf="layer.metadata.staticType === 'polyline'"
        [id]="'labels-' + layer.id"
        type="symbol"
        [source]="layer.id"
        [paint]="stylesService.getStaticStyle(layer).paint"
        [layout]="stylesService.getStaticStyle(layer).layout"
        [before]="layer.id"
      ></mgl-layer> -->

      <mgl-layer
        *ngIf="layer.metadata.staticType === 'polygon'"
        [id]="'labels-' + layer.id"
        type="symbol"
        [source]="layer.metadata.labels.source"
        [paint]="stylesService.getStaticStyle(layer).paint"
        [layout]="stylesService.getStaticStyle(layer).layout"
        [before]="layer.id"
      ></mgl-layer>
    </ng-container>
  </ng-container>

  <mgl-popup
    *ngIf="popup.lngLat"
    maxWidth="none"
    [lngLat]="popup.lngLat"
    [closeOnClick]="true"
    (popupClose)="closePopup()"
  >
    <app-popup-content [features]="clickedFeatures"></app-popup-content>
  </mgl-popup>
</mgl-map>
<div id="map-tooltip" [hidden]="!tooltips || !tooltips.length">
  <div *ngFor="let tip of tooltips">
    {{ tip.name ? tip.name + ':' : '' }} <span>{{ tip.displayValue }}</span>
  </div>
</div>
