@use '~@angular/material' as mat;

:host {
  z-index: 0;
  position: relative;
  flex: 1 1 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;

  .loading {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.54);
  }

  mgl-map {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .time-control-wrapper {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    text-align: center;
    transition: left 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
    &.layer-pane {
      left: 280px;
    }
  }

  #map-tooltip {
    z-index: 1;
    position: fixed;
    pointer-events: none;
    background-color: rgba(255,255,255,0.75);
    @include mat.elevation(2);
    border-radius: 2px;
    padding: 2px 6px;
    white-space: nowrap;
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
    font-size: 12px;
    color: rgba($color: #000, $alpha: 0.87);
    span {
      font-family: 'Ubuntu Mono', Courier, monospace;
      font-weight: 600;
      font-size: 13px;
      color: black;
    }
  }
}
