:host {
  width: 100%;
  height: 260px;
  position: relative;
  display: block;

  @media screen and (min-width: 600px) {
    height: 340px;
  }

  .message {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 16px 8px;
    height: 100%;

    &.error {
      background: #ffcdd2;
      max-width: 300px;
      font-size: 16px;
    }
  }
}
