<div fxLayout fxLayoutGap="8px">
  <mat-form-field fxFlex="calc(100% - 180px)">
    <mat-label>{{loading ? 'loading...' : 'Layer(s)'}}</mat-label>
    <mat-select
        disableOptionCentering
        name="selected layer"
        [disabled]="loading || layers.length === 1"
        [(ngModel)]="selectedLayer">
      <mat-option *ngFor="let layer of layers" [value]="layer">
        {{layer.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [fxHide]="!durations.length" class="duration-options">
    <mat-label>Duration</mat-label>
    <mat-select
        disableOptionCentering
        name="selected table"
        [disabled]="loading"
        [(ngModel)]="selectedDuration">
      <mat-option [value]="0">Any</mat-option>
      <mat-option *ngFor="let duration of durations" [value]="duration">
        {{humanizeDuration(duration)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div [hidden]="loading || error">
  <div class="shadow top" [hidden]="hideShadow.top"></div>
  <cdk-virtual-scroll-viewport [itemSize]="22" [maxBufferPx]="400" [minBufferPx]="200" id="ddf-table" (scroll)="scrollCheck($event)">
    <button
        class="no-style row"
        *cdkVirtualFor="let id of ids"
        [class.has-map]="map"
        [class.no-data]="!id.categoryDetails"
        [class.selected]="id.id === selectedBin"
        (click)="selectedBin = id.id">
      <div class="bin" [ngStyle]="{'background-color': id.categoryDetails?.color}">
        <div class="color-wrap" fxLayout fxLayoutAlign="end">
          <div class="category-color" title="Current Category"></div>
          <div class="blocker-container" fxFlex [title]="'Return Interval: ' + id.categoryDetails?.label">
            <div class="blocker" [ngStyle]="{width: (100 - id.percent) + '%'}"></div>
          </div>
          <div class="category-color" [ngStyle]="{'background-color': id.categoryDetails?.nextColor}" title="Next Category"></div>
        </div>
        <div class="content">
          <div class="percent">{{id.displayPercentage}}</div>
          <div class="name">{{id.name}}</div>
        </div>
      </div>
    </button>
  </cdk-virtual-scroll-viewport>
  <div class="shadow bottom" [hidden]="hideShadow.bottom"></div>
</div>
<div
    class="process-container"
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="loading || error">
  <mat-spinner
    diameter="40"
    *ngIf="loading && !error"
    mode="indeterminate">
  </mat-spinner>
  <div class="error" *ngIf="error">{{error}}</div>
</div>
