:host {
  #ddf-table {
    position: relative;
    height: 172px;
    overflow: hidden scroll;
    border: 1px solid #bbb;
    border-radius: 2px;
    background-color: #f5f5f5;

    button.row {
      width: 100%;
      height: 22px;
      text-align: left;
      cursor: default;
      border-bottom: 1px solid #bbb;

      &.has-map {
        cursor: pointer;
      }

      .bin {
        position: relative;
        height: 100%;

        .color-wrap {
          z-index: 0;
          position: absolute;
          top: -1px;
          right: 0;
          bottom: 0;
          left: 0;

          .category-color {
            width: 8px;
            outline: 1px solid #bbb;
            z-index: 1;
          }

          .blocker-container {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.35' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
            .blocker {
              background-color: #ddd;
              float: right;
              height: 100%;
            }
          }
        }

        .content {
          pointer-events: none;
          font-family: "Ubuntu Mono",Courier,monospace;
          color: rgba(0,0,0,.87);
          text-align: left;
          text-shadow: 0px 0px 1px #FFF, 0px 0px 5px #FFF;
          position: relative;

          .name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 16px;
            max-width: 196px;
          }

          .percent {
            padding-right: 16px;
            float: right;
          }
        }
      }

      &.selected .bin .content {
        background-color: rgba(0, 0, 0, 0.05);
        font-weight: bold;
        color: #FFF;
        text-shadow: 0px 0px 1px #000, 0px 0px 3px rgba(0,0,0,.75), 0px 0px 5px rgba(0,0,0,0.5), 0px 0px 7px rgba(0,0,0,0.25);
      }

      &.no-data .bin .content {
        color: #777;
      }
    }
  }

  .shadow {
    position: relative;
    z-index: 1;
    height: 16px;
    border-radius: 2px;
    pointer-events: none;

    &.top {
      margin-bottom: -16px;
      box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
    }

    &.bottom {
      margin-top: -16px;
      box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.3);
    }
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: -12px;
    &.duration-options,
    &.duration-options .mat-select {
      max-width: 88px;
    }
  }

  .process-container {
    text-align: center;
    padding: 8px;
  }
}
