:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .tools {
    padding: 8px;
    background-color: #fff;

    @media screen and (min-width: 600px) {
      padding: 16px;
    }
  }

  button.time-info {
    border: none;
    background: none;
    min-width: 48px;
    cursor: pointer;
    text-transform: none;
    color: #00BCD4;
    padding: 8px;
    font: inherit;

    .time-container {
      .icon-wrapper .mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
      }

      .time-text {
        padding-left: 8px;
        height: 30px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
          font-size: 12px;
          color: rgba($color: #000000, $alpha: 0.54);
          text-transform: uppercase;
          text-align: left;

          .mat-icon {
            vertical-align: middle;
          }
        }

        @media screen and (min-width: 600px) {
          font-size: 16px;
        }
      }

      &.real-time .icon-wrapper .mat-icon,
      &.real-time .time-text {
        color: #558B2F;
      }

      &.forecasted .icon-wrapper .mat-icon,
      &.forecasted .time-text {
        color: #F57F17;
      }
    }

    &:disabled {
      cursor: default;
      color: rgba($color: #000000, $alpha: 0.54);
      .icon-wrapper .mat-icon,
      .time-text span {
        color: rgba($color: #000000, $alpha: 0.38);
      }
    }

    &:hover:not(:disabled) {
      background-color: rgba($color: #000000, $alpha: 0.05);
      color: #0097A7;

      .time-container {
        &.real-time {

          .icon-wrapper .mat-icon,
          .time-text {
            color: #33691E;
          }
        }

        &.forecasted {

          .icon-wrapper .mat-icon,
          .time-text {
            color: #E65100;
          }
        }

        .time-text>span {
          color: rgba($color: #000000, $alpha: 0.87);
        }
      }
    }

    &:focus {
      outline: 0;
    }
  }

  .table-container {
    overflow: scroll;
  }
}