<div class="tools" fxFlex="none" fxLayout="row wrap" fxLayoutGap="8px">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <button
        #timepicker
        matRipple
        class="time-info"
        (click)="openPickerPanel()"
        [disabled]="!this.project"
        [matTooltip]="'Duration: ' + durationString">
      <div class="time-container" [ngClass]="timeState" fxLayout>
        <div class="icon-wrapper" fxLayout fxLayoutAlign="center center">
          <mat-icon>schedule</mat-icon>
        </div>
        <div class="time-text" fxLayout="column" fxFlex>
          {{ dateString }}
          <span *ngIf="!!dateString"><mat-icon inline>{{timeStateIcons[timeState]}}</mat-icon> {{timeState}}</span>
        </div>
      </div>
    </button>
    <mat-checkbox [(ngModel)]="hideUncal">Hide uncalibrated</mat-checkbox>
  </div>
  <div fxFlex></div>
  <mat-form-field appearance="fill">
    <mat-label>Radar</mat-label>
    <mat-select [(value)]="radar" [disabled]="!rvRadars" (selectionChange)="updateTable()">
      <mat-option *ngFor="let rad of rvRadars" [value]="rad">
        {{rad.displayName}}
      </mat-option>
    </mat-select>
    <mat-hint>{{rvRadars ? rvRadars.length + ' available' : 'Loading...'}}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="rvProducts?.length > 1">
    <mat-label>Product</mat-label>
    <mat-select [(value)]="product" (selectionChange)="updateTable()">
      <mat-option *ngFor="let p of rvProducts" [value]="p">
        {{p.displayName}}
      </mat-option>
    </mat-select>
    <mat-hint>{{rvProducts ? rvProducts.length + ' available' : 'Loading...'}}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="rvZRs?.length > 1">
    <mat-label>ZR</mat-label>
    <mat-select [(value)]="zr" (selectionChange)="updateTable()">
      <mat-option *ngFor="let z of rvZRs" [value]="z">
        {{z.displayName}}
      </mat-option>
    </mat-select>
    <mat-hint>{{rvZRs ? rvZRs.length + ' available' : 'Loading...'}}</mat-hint>
  </mat-form-field>
</div>
<div class="table-container" fxFlex><app-table [loading]="loading$ | async" [error]="error$ | async" [project]="project" [data]="tableData" [hasNames]="hasNames" [hideUncal]="hideUncal" (onSelect)="onSelectEvent($event)" (tableSource)="tableSource = $event"></app-table></div>

<ng-template #timeDialog let-dialogRef="dialogRef">
  <div style="padding:8px">
    <app-timepicker
      [time]="time"
      [enableRealtime]="project.isNRT"
      (timesChange)="dialogRef.close($event)">
    </app-timepicker>
  </div>
</ng-template>