:host {
  position: relative;
  display: block;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #fff;

  button {
    z-index: 1;
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;

    &.active {
      background: #00bcd4;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);

      .mat-icon {
        color: white;
      }

      &:hover {
        background: #00acc1;
      }
    }

    &:first-of-type {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    &:last-of-type {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    & + button {
      border-top: 1px solid #ddd;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}