@use '~@angular/material' as mat;
  .account .mat-icon {
    color: #00bcd4;
    font-size: 28px;
    width: 28px;
    height: 28px;
  }
  .avatar-button {
    background-color: #EEE;
    @include mat.elevation(1);
    &:hover {
      @include mat.elevation(4);
    }
    app-avatar {
      width: 100%;
      border-radius: 50%;
      border: 2px solid white;
      box-sizing: border-box;
    }
  }
  a.mat-menu-item {
    text-transform: uppercase;
    &:link {
      color: inherit;
    }
  }
  .mat-menu-item {
    &.project {
      line-height: 1em;
      color: inherit;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      span {
        display: block;
        font-size: 0.64em;
        line-height: 0.64em;
        font-weight: bold;
        margin-top: 2px;
      }
    }
  }