<button
    title="Reset map to domain"
    (click)="onResetMapCam.emit()">
  <mat-icon inline>home</mat-icon>
</button>
<button
    title="Copy link to map"
    (click)="onCopyLink.emit($event)">
  <mat-icon inline>link</mat-icon>
</button>
<button
    title="Search map"
    (click)="showSearch = !showSearch">
  <mat-icon inline>search</mat-icon>
</button>
<button
    title="Toggle elements panel"
    [class.active]="paneStates.showElements"
    (click)="paneStates.showElements = !paneStates.showElements">
  <mat-icon inline>view_agenda</mat-icon>
</button>
<app-search
    [hidden]="!showSearch"
    [isShown]="showSearch"
    [mapgl]="mapsService.mapgl"
    [layerIds]="layerIds"
    [sources]="sources"
    [padding]="{
      top: 45,
      bottom: 45,
      left: 80 + (paneStates.showLayers ? 280 : 0),
      right: 80 + (paneStates.showElements ? 280 : 0)
    }"
    (onClose)="showSearch = false"
    (onMarker)="searchMarker = $event"
></app-search>
