<mat-card>
  <mat-card-content *ngIf="hasId">
    <app-details *ngIf="!error" [alert]="alert" [typeStyles]="typeStyles"></app-details>
    <div *ngIf="error">
      <h4>Oops! Something went wrong.</h4>
      <p>We couldn't find an alert with the ID of "{{selectedId}}".</p>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!hasId">
    <form [formGroup]="alertForm">
      <mat-form-field appearance="fill">
        <mat-label>Alert ID</mat-label>
        <input matInput formControlName="id">
        <button type="submit" mat-icon-button matSuffix [disabled]="!alertForm.value.id" [routerLink]="[ './', alertForm.value.id ]">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
