:host {
  position: relative;
  display: block;

  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .no-alerts {
    text-align: center;
    padding: 8px 16px;
    &>* {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  .list-container {
    max-height: 256px;
    min-height: 160px;
    overflow: hidden auto;
    margin: 0 -8px;

    .alert {
      position: relative;
      padding: 2px 8px;
      min-height: 40px;
      max-height: 40px;
      cursor: pointer;

      .alert-text {
        overflow: hidden;

        .primary {
          font-size: 14px;
          color: rgba($color: #000000, $alpha: 0.8);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .secondary {
          font-size: 12px;
          color: rgba($color: #000000, $alpha: 0.6);

          .mat-icon-inline {
            vertical-align: bottom;
          }

          .threshold-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba($color: #000000, $alpha: 0.87);
          }
          .time {
            color: #b71c1c;
            &.done {
              color: #2e7d32;
            }
          }
        }
      }

      .actions {
        display: none;
        &:first-child {
          margin-left: 8px;
        }
        button {
          color: rgba(0, 0, 0, 0.54);
          &:hover {
            color: rgba(0, 0, 0, 0.87);
          }
        }
      }

      &:hover {
        background: rgba($color: #000000, $alpha: 0.1);
        .actions {
          display: flex;
        }
      }

      &.selected:not(:hover) {
        background: rgba($color: #000000, $alpha: 0.05);
      }

      & > .mat-icon {
        margin-right: 8px;
      }
    }
  }
}
