:host {
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  .info-container {
    h2 {
      margin-bottom: 0;
      font-weight: 300;
    }
    .organization-summary {
      font-size: .9em;
      color: rgba(0,0,0,0.54);
    }
  }

  .groups-container {
    margin-bottom: 16px;
    h3 {
      button {
        font-size: .8em;
      }
    }
    .groups-list {
      .mat-chip {
        cursor: pointer;
        i.material-icons {
          font-size: 1.2em;
          opacity: .87;
          margin-left: 4px;
        }
      }
    }
    .edit-groups { width: 100%; }
  }

  .table-container {
    width: 100%;
    .table {
      width: 100%;
      .is-nrt {
        color: #00BCD4;
      }
    }
  }
}
