@use '~@angular/material' as mat;
:host {
  padding: 16px 8px;
  overflow-y: scroll;

  @media screen and (min-width: 960px) {
    padding: 24px 16px;
  }

  .basin-grid-tile {
    background-color: #E0E0E0;
    border-radius: 2px;
    @include mat.elevation(0);
    transition: box-shadow 150ms cubic-bezier(0.0, 0.0, 0.2, 1);
    border: 1px solid #CCC;

    .basin-tile-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      padding: 8px 8px 0;

      app-point-image-button {
        @include mat.elevation(1);
        transition: box-shadow 150ms cubic-bezier(0.0, 0.0, 0.2, 1);

        &:hover {
          @include mat.elevation(3);
        }
      }

      h4 {
        font-family: 'Ubuntu', 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin: 0;
        color: rgba(0, 0, 0, 0.54);
      }

      .points-container {
        display: block;
        margin: 8px 0 4px;

        app-point-image-button {
          margin-bottom: 8px;
        }
      }

      .basin-tile-footer {
        text-transform: uppercase;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.54);
        text-align: right;
        margin-top: -8px;
      }
    }

    &:hover {
      @include mat.elevation(3);
      border-color: #F5F5F5;
      background-color: #F5F5F5;
    }
  }
}
