<div class="error" *ngIf="error">Error loading watchpoints</div>
<mat-grid-list
    [cols]="(cols[activeMediaQuery] - (detailsOpen ? 1 : 0)) || 5"
    rowHeight="160px" 
    [gutterSize]="smallScreen ? '8px' : '16px'" 
    *ngIf="!error && basins.length">
  <mat-grid-tile
      class="basin-grid-tile"
      *ngFor="let basin of basins; trackBy: trackByFn"
      [hidden]="!basin.showCount"
      [colspan]="colSpan(basin.showCount)"
      [rowspan]="rowSpan(basin.showCount)">
    <div class="basin-tile-container" fxLayout="column">
      <h4>{{basin.name}}</h4>
      <div class="points-container" fxLayout="row wrap" [fxLayoutGap]="gutterWidth" fxFlex>
        <app-point-image-button
            *ngFor="let point of basin.points; trackBy: trackByFn"
            [point]="point"
            [time]="time"
            [isHidden]="!point.show"
            [scrollContainer]="elRef"
            [fxHide]="!point.show"
            [fxFlex]="flexCalc(basin.showCount)">
        </app-point-image-button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
