:host {
  background-color: #FFF;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  position: relative;

  .load-container {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 40, 40, 0.1);
  }

  .mat-tab-group {
    flex: 1 1 100%;
    box-sizing: border-box;
    overflow: hidden auto;
  }

  .form-tools {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);    
  }

  .form-actions {
    button:not(:last-child) {
      margin-right: 16px;
    }
  }

  .tab-invalid {
    display: block;
    position: relative;
    padding-left: 4px;
    height: 16px;
    width: 7px;

    span {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 4px;
      background-color: #F44336;
      width: 8px;
      height: 8px;
    }
  }
}