<div fxFill fxLayout fxLayoutAlign="center center" [fxHide]="rule !== undefined">
  <div style="color: rgba(0,0,0,0.6); margin: 16px">
    <h3>Welcome to the Rules Manager!</h3>
    <p>Get started by choosing a rule in your list or creating a new rule.</p>
  </div>
</div>
<mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="notifTabActive = $event.index === 1; selectedIndex = $event.index" *ngIf="rule !== undefined">
  <mat-tab label="Rule">
    <app-rule [project]="project" [ruleTypes]="ruleTypes" [ruleForm]="ruleForm" [newRule]="newRule"></app-rule>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Notifications <div class="tab-invalid" *ngIf="invalidNotifications"><span></span></div>
    </ng-template>
    <app-notifications
        [isShown]="notifTabActive"
        [notifications]="notificationForm"
        [types]="notificationTypes"
        [project]="project"
        [groups]="groups"
        [users]="users"
        [ruleId]="ruleForm?.value.meta.id"
        (ids)="onNotificationIds($event)"
        (isInvalid)="invalidNotifications = $event"></app-notifications>
  </mat-tab>
</mat-tab-group>
<div class="form-tools">
  <form *ngIf="ruleForm" [formGroup]="ruleForm">
    <div formGroupName="meta">
      <mat-checkbox formControlName="isActive">Active</mat-checkbox>
    </div>
  </form>
  <div class="form-actions">
    <button
        mat-icon-button
        matTooltip="Delete rule"
        color="warn"
        [fxShow]="!!ruleForm?.value.meta.id && ruleForm?.value.meta.id !== '-1'"
        (click)="onClickDelete(ruleForm?.value.meta.id)"
    ><mat-icon>delete</mat-icon></button>
    <button
        mat-icon-button
        matTooltip="Undo changes"
        [disabled]="ruleForm?.pristine && notificationForm?.pristine"
        (click)="undoChanges()"
    ><mat-icon>undo</mat-icon></button>
    <button mat-raised-button *ngIf="invalidNotifications" color="accent" (click)="selectedIndex = 1" [disabled]="selectedIndex === 1">Add Notifications</button>
    <button
        mat-raised-button
        *ngIf="!invalidNotifications"
        type="submit"
        [disabled]="ruleForm?.pristine && notificationForm?.pristine"
        (click)="onClickSave()"
        color="primary"
    >Save</button>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="load-container" *ngIf="rule !== undefined && (loading$ | async)">
  <mat-spinner diameter="40"></mat-spinner>
</div>
