:host {
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  .users-container {
    position: relative;
    .table-tools-container {
      padding: 24px 16px 8px 16px;
      background-color: #fff;
      .tools-button-container {
        margin-left: 16px;
      }
    }
    .users-table-container {
      position: relative;
      overflow: auto;
      .users-table {
        width: 100%;
        tr.clickable-row {
          cursor: pointer;
          &:not(.clicked-row) {
            &:hover {
              background: #f5f5f5;
            }
            &:active {
              background: #efefef;
            }
          }
          &.clicked-row {
            background: #e0f7fa;
          }
        }

        .truncate {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .users-loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 101;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .error {
      border-radius: 2px;
      background-color: #eee;
      padding: 8px 16px;
      font-size: 14px;
    }
  }
}
