@use '~@angular/material' as mat;

#layer-pane {
  z-index: 2;
  position: absolute;
  top: 0; bottom: 0; left: -280px;
  width: 280px;
  transition: left 200ms cubic-bezier(0.0,0.0,0.2,1);
  &.open {
    @include mat.elevation(6);
    left: 0;
    button.toggle-layers {
      border-left: 1px solid #D4D4D4;
      mat-icon { margin-left: -1px; }
    }
  }
  .layer-pane-content {
    position: absolute;
    background: #EEE;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    app-options-pane {
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  button.toggle-layers {
    z-index: 0;
    font-size: 24px;
    line-height: 64px;
    text-indent: -1px;
    height: 64px;
    width: 20px;
    border: none;
    border-radius: 0 3px 3px 0;
    outline: 0;
    padding: 0!important;
    position: absolute;
    top: 10px; left: 100%;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.35);
    background-color: white;
    cursor: pointer;
  }
}