<div id="layer-pane" [class.open]="open">
  <div class="layer-pane-content">
    <app-layer-list></app-layer-list>
    <div style="font-size: .8em; padding: 8px 0;">Copyright &copy; {{year}} &bull; Vieux &amp; Associates, Inc.</div>
    <app-options-pane *ngIf="optionsService.selectedLayer$ | async"></app-options-pane>
  </div>
  <button (click)="togglePane()" matTooltip="Collapse side panel" matTooltipPosition="right" class="toggle-layers" *ngIf="!(optionsService.selectedLayer$ | async)" >
    <mat-icon inline>{{open ? 'arrow_left' : 'arrow_right'}}</mat-icon>
  </button>
</div>