:host {
  flex: 1 1 100%;

  .first-form {
    min-width: 180px;
    max-width: 776px;
  }

  .error {
    margin-bottom: 16px;
    font-size: 14px;
    color: #f44336;
  }

  .tools {
    text-align: right;
    margin-top: 16px;

    & > button {
      margin: 0 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .checkbox-container {
    .mat-checkbox {
      display: block;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .summary {
    width: min-content;

    table {
      tr {
        td {
          white-space: nowrap;
          padding: 8px;

          &:first-child {
            text-transform: uppercase;
            font-size: 10px;
            color: #777;
            text-align: right;
          }

          &:last-child {
            font-family: "Ubuntu Mono", Courier, monospace;
            font-size: 18px;
          }
        }
      }
    }
  }

  .warning {
    font-style: italic;
    color: #c62828;
    font-size: 14px;
  }
}
