<mat-horizontal-stepper linear
    [disableRipple]="firstFormGroup.invalid || secondFormGroup.invalid"
    (selectionChange)="selectedIndex = $event.selectedIndex">
  <mat-step
      class="first-step"
      [stepControl]="firstFormGroup"
      [hasError]="firstFormGroup.invalid">
    <form [formGroup]="firstFormGroup" class="first-form">
      <ng-template matStepLabel>Source Selection</ng-template>
      <div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutGap.gt-sm="16px">
        <mat-form-field hideRequiredMarker>
          <mat-label>{{featuresLoading ? 'Loading Source...' : 'Source'}}</mat-label>
          <mat-select formControlName="domainCtrl" required>
            <mat-option *ngFor="let source of options?.domains" [value]="source">
              {{source.metadata.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="firstFormGroup.get('domainCtrl').errors?.required">
            Please choose a domain
          </mat-error>
        </mat-form-field>
        <mat-form-field [fxHide]="!groups?.length">
          <mat-label>Groups</mat-label>
          <mat-select formControlName="groupCtrl">
            <mat-option *ngFor="let group of groups" [value]="group.id">
              {{group.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <app-feature-select-map
          [project]="userService.project"
          [layer]="firstFormGroup.get('domainCtrl').value"
          [(features)]="features"
          (loading)="setFeaturesLoading($event)"
          [disableListeners]="selectedIndex !== 0"
          (error)="snack($event, true)"></app-feature-select-map>
      <div class="tools">
        <button
            mat-raised-button
            matStepperNext
            color="accent"
            [disabled]="firstFormGroup.invalid || !features.length"
            >Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" class="second-form" [hasError]="secondFormGroup.invalid">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Options</ng-template>
      <div class="error" *ngIf="secondFormGroup.invalid">
        <div *ngIf="secondFormGroup.errors?.range">End time must be after start</div>
        <div *ngIf="secondFormGroup.errors?.maximums">
          Times must not exceed {{
            secondFormGroup.get('maxDate').value | date:'MM/dd/yyyy hh:mm aaa':tzOffset
          }}
        </div>
      </div>
      <div class="start-container" fxLayout fxLayoutGap="8px" *ngIf="project">
        <mat-form-field class="date">
          <mat-label>Start ({{project?.timezone}})</mat-label>
          <input matInput
              [matDatepicker]="startDate"
              name="startDate"
              [matDatepickerFilter]="calStartFilter"
              formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate [touchUi]="media.isActive('lt-md')"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="time">
          <input matInput
              type="time"
              name="startTime"
              step="300"
              formControlName="startTime">
        </mat-form-field>
      </div>
      <div class="end-container" fxLayout fxLayoutGap="8px">
        <mat-form-field class="date">
          <mat-label>End ({{project?.timezone}})</mat-label>
          <input matInput
              [matDatepicker]="endDate"
              name="endDate"
              [matDatepickerFilter]="calEndFilter"
              formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate [touchUi]="media.isActive('lt-md')"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="time">
          <input matInput
              type="time"
              name="endTime"
              step="300"
              formControlName="endTime">
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="8px">
        <mat-form-field hideRequiredMarker>
          <mat-label>Timestep</mat-label>
          <mat-select formControlName="intervalCtrl" required>
            <mat-option
                *ngFor="let interval of options.intervals"
                [value]="interval">
              {{humanizeDuration(interval)}}
            </mat-option>
          </mat-select>
          <mat-error
              *ngIf="secondFormGroup.get('intervalCtrl').errors?.required">
            Please choose a timestep
          </mat-error>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <mat-label>Format</mat-label>
          <mat-select formControlName="formatCtrl" required>
            <mat-option *ngFor="let format of options?.formats" [value]="format" [innerHTML]="format.name"></mat-option>
          </mat-select>
          <mat-error *ngIf="secondFormGroup.get('formatCtrl').errors?.required">
            Please choose a format
          </mat-error>
        </mat-form-field>
      </div>
      <div class="checkbox-container">
        <mat-checkbox formControlName="includeShapefileCtrl">Include shapefile</mat-checkbox>
        <mat-checkbox *ngIf="project?.products.includes('event-reports')" formControlName="includeReport">Include report</mat-checkbox>
      </div>
      <div class="tools">
        <button mat-button matStepperPrevious>Back</button>
        <button
            mat-raised-button
            matStepperNext
            color="accent"
            [disabled]="secondFormGroup.invalid">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <div class="summary" *ngIf="project">
      <table>
        <tr><td>Source</td><td>{{firstFormGroup.value.domainCtrl?.metadata?.name}}</td></tr>
        <tr><td>Features</td><td>{{selectedFeatures.length | number}}</td></tr>
        <tr><td>Start</td><td>{{getTime('start').format('YYYY/MM/DD HH:mm')}} ({{project?.timezone}})</td></tr>
        <tr><td>End</td><td>{{getTime('end').format('YYYY/MM/DD HH:mm')}} ({{project?.timezone}})</td></tr>
        <tr><td>Timestep</td><td>{{humanizeDuration(secondFormGroup.value.intervalCtrl)}}</td></tr>
        <tr><td>Format</td><td [innerHTML]="secondFormGroup.value.formatCtrl?.name"></td></tr>
        <tr><td>Include shapefile</td><td>{{secondFormGroup.value.includeShapefileCtrl ? 'Yes' : 'No'}}</td></tr>
      </table>
      <div class="warning" [hidden]="!isLargeRequest()">This request may take longer to process. Thank you for your patience.</div>
      <div class="tools">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="firstFormGroup.invalid || secondFormGroup.invalid || submitting">
          {{submitting ? 'Loading' : 'Submit'}}
        </button>
      </div>
    </div>
  </mat-step>

</mat-horizontal-stepper>