:host {
  flex: 1 1 100%;

  ddl-files-menu {
    margin-left: -8px;
  }

  .table-container {
    padding: 16px;
    box-sizing: border-box;

    .table-wrap {
      position: relative;
      border-radius: 2px;
      background-color: white;
      overflow: auto;

      .table {
        width: 100%;
        z-index: 0;

        tr.mat-header-row {
          height: 48px;
        }

        tr.mat-row {
          height: 40px;

          &:nth-child(odd) {
            background: #f5f5f5;
          }

          &.req-error td {
            color: rgba(0,0,0,0.54);
          }
        }

        .mat-cell {
          font-size: 14px;

          .mono {
            font-family: 'Ubuntu Mono', Courier, monospace;
            font-size: 1.1em;
          }
        }
      }

      .loading-shade {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.35);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}