<div class="table-container" fxFill fxLayout="column">
  <div class="table-wrap mat-elevation-z4" fxFlex fxLayout="column">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner diameter="40" color="accent"></mat-spinner>
    </div>
    <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="requested" matSortDirection="desc" matSortDisableClear>
      <ng-container
          *ngFor="let col of columns"
          matColumnDef="{{col.def}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [title]="col.hint || col.name || col.def">
          {{col.name || col.def}}
        </th>
        <td mat-cell *matCellDef="let row">
          <div
              *ngIf="col.def !== 'link' || (!row.docxLink && !row.pdfLink)"
              [ngClass]="{ mono: col.mono, name: col.def === 'name'}"
              [innerHTML]="getProperty(row, col)"></div>
            <ddl-files-menu *ngIf="col.def === 'link' && (row.docxLink || row.pdfLink)" [item]="row"></ddl-files-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" [class.req-error]="row.status !== 'Finished'"></tr>
    </table>
  </div>
</div>
