@use '~@angular/material' as mat;
:host {
  position: relative;
  display: block;
  min-width: 300px;
  min-height: 156px;

  table.meta-container {
    font-family: "Ubuntu Mono", Courier, monospace;
    margin: auto;

    td.label {
      text-align: right;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: #757575;
      padding-right: 4px;
    }
  }

  .intervals {
    margin-top: 16px;
    padding: 8px;
    background-color: #EEE;
    border-radius: 2px;

    .header {
      font-size: 12px;
      text-transform: uppercase;
      color: #757575;
    }

    .interval {
      padding: 4px 0;

      &:not(:first-child) {
        border-top: 1px solid #ddd;
      }

      & > *:not(:last-child) {
        margin-right: 8px;
      }
      .dot {
        @include mat.elevation(2);
        border-radius: 12px;
        height: 24px;
        width: 24px;
      }
      .kmz-download .mat-icon {
        vertical-align: text-bottom;
      }
    }
  }

  .basemaps {
    padding: 4px 0;
    margin-bottom: 8px;
    text-align: right;
    color: rgba($color: #000000, $alpha: 0.54);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;

    & > button {
      color: inherit;
      background: rgba($color: #000000, $alpha: 0.1);
      border-radius: 2px;
      padding: 2px 4px;
      margin: 0 2px;
      display: block;
      float: right;

      &.active, &:hover {
        background: rgba($color: #000000, $alpha: 0.2);
        color: rgba($color: #000000, $alpha: 0.87);
      }
    }
  }
  
  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .map-wrap {
    position: relative;
    mgl-map {
      height: 156px;
      width: 100%;
    }

    .description {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-family: "Ubuntu Mono", Courier, monospace;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.87);
      text-align: left;
      padding: 8px;
      background: linear-gradient(0deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.8) 50%);
      transition: 200ms ease;
      overflow: hidden;
      line-height: 1em;
      cursor: default;
      
      &:hover {
        opacity: 0;
      }
    }
  }

  .text-content {
    padding: 16px 0;

    .duration-container {
      display: block;
      width: 100%;
      margin-top: -8px;
    }
  }
}