
<div class="map-wrap">
  <mgl-map
      *ngIf="!error"
      [style]="'mapbox://styles/mapbox/'+service.basemap+'-v9'"
      [bounds]="userService.project.bounds"
      [fitBounds]="fitBounds"
      [fitBoundsOptions]="{ duration: 0, padding: 10 }"
      [attributionControl]="false"
      [dragRotate]="false"
      [touchZoomRotate]="false"
      [doubleClickZoom]="false"
      [keyboard]="false"
      [boxZoom]="false"
      (mapLoad)="$event.resize()">
    <mgl-layer
        *ngIf="outline"
        id="bin-outline"
        type="fill"
        [paint]="paint"
        [source]="{
          type: 'geojson',
          data: outline
        }"></mgl-layer>
  </mgl-map>

  <div class="description" *ngIf="!isMobile && bin.binResult?.category.description">{{bin.binResult.category.description}}</div>
</div>
<div class="basemaps" *ngIf="!error">
  <button class="no-style" (click)="service.basemap = 'streets'" [class.active]="service.basemap === 'streets'">Streets</button>
  <button class="no-style" (click)="service.basemap = 'dark'" [class.active]="service.basemap === 'dark'">Dark</button>
  <button class="no-style" (click)="service.basemap = 'light'" [class.active]="service.basemap === 'light'">Light</button>
  <button class="no-style" (click)="service.basemap = 'satellite'" [class.active]="service.basemap === 'satellite'">Satellite</button>
</div>
<div class="text-content">
  <mat-form-field class="duration-container" *ngIf="durations.length">
    <mat-select [(ngModel)]="duration" placeholder="Selected duration" name="durations">
      <mat-option [value]="0">Any</mat-option>
      <mat-option *ngFor="let dur of durations" [value]="dur">
        {{humanizeDuration(dur)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <table class="meta-container" *ngIf="!loading">
    <tr><td class="label">From:</td><td>{{getDisplayTime(bin.binResult.rainStart)}}</td></tr>
    <tr><td class="label">To:</td><td>{{getDisplayTime(bin.binResult.rainEnd)}}</td></tr>
    <tr><td class="label">Return interval:</td><td>{{bin.binResult.category.label}}</td></tr>
    <tr><td class="label">Percent to next:</td><td>{{bin.binResult.percent}}%</td></tr>
    <tr><td class="label">Rainfall:</td><td>{{bin.binResult.amount}} {{project?.getUnitConfig('rain').options[0].abbr}}.</td></tr>
    <tr><td class="label">Duration:</td><td>{{humanizeDuration(bin.binResult.duration / (1000 * 60))}}</td></tr>
  </table>

  <div class="intervals" *ngIf="!loading">
    <div class="interval header" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
      <div fxFlex>Return Interval</div>
      <div>Depth</div>
    </div>
    <div class="interval" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px" *ngFor="let interval of intervals">
      <div class="dot" [ngStyle]="{'background-color': interval.category.color}"></div>
      <div fxFlex>{{interval.category.label}}</div>
      <div>
        <a class="kmz-download" *ngIf="interval.category.kml" [href]="interval.category.kml" download>
          <mat-icon>cloud_download</mat-icon>
          KMZ
        </a>
        {{interval.depth}}
      </div>
    </div>
  </div>
  <div class="loading" *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</div>