:host {
  cursor: pointer;

  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: inherit;
  }

  .action {
    display: none;
  }

  &:hover {
    .layer {
      display: none;
    }

    .action {
      display: inline-block;
    }
  }
}