<div
    id="gauge-status-options"
    *ngIf="!loading && !error"
    fxLayout="row"
    fxLayoutAlign="space-between stretch">
  <mat-form-field fxFlex="calc(100%-90px)">
    <mat-label>Sum Duration</mat-label>
    <mat-select
        disableOptionCentering
        [(value)]="duration"
        (selectionChange)="sortGauges()">
      <mat-option *ngFor="let duration of durations" [value]="duration.value">
        {{duration.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button [matMenuTriggerFor]="menu" fxFlex="90px">
    <mat-icon>sort</mat-icon> {{sortType}}
  </button>
  <mat-menu #menu="matMenu">
    <button
        mat-menu-item
        *ngFor="let type of sortTypes"
        (click)="setSortType(type)">
      {{type}}
    </button>
  </mat-menu>
</div>
<cdk-virtual-scroll-viewport
    id="gauge-status-viewport"
    *ngIf="!loading && !error"
    itemSize="24"
    minBufferPx="240"
    maxBufferPx="480">
  <div
      class="row"
      *cdkVirtualFor="let gauge of gaugeDetails; templateCacheSize: 20"
      fxLayout="row"
      fxLayoutAlign="space-between stretch">
    <button
        class="no-style gauge-button"
        (click)="clickGauge(gauge)"
        [disabled]="!features"
        fxFlex>
      <span
          class="gauge-content"
          [title]="gauge.name + ': ' + getDisplaySum(gauge) + ' ' + unit"
          [ngClass]="'status-' + gauge.status"
          fxLayout="row"
          fxLayoutAlign="space-between stretch">
        <span class="name">{{gauge.name}}</span>
        <span class="value">{{getDisplaySum(gauge)}}</span>
      </span>
    </button>
  </div>
</cdk-virtual-scroll-viewport>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading || error">
  <mat-spinner diameter="40" *ngIf="loading && !error" mode="indeterminate">
  </mat-spinner>
  <div class="error" *ngIf="error">{{error}}</div>
</div>