$contentFont: 16px "Ubuntu Mono",Courier,monospace;
$rowHeight: 24px;
$sumWidth: 48px;
$textColor: rgba(0,0,0,0.87);
$statusColor1: rgba(255, 255, 255, 0.87);
$statusColorHover1: rgba(233, 233, 233, 0.87);
$statusColor2: rgba(255, 241, 118, 0.87);
$statusColorHover2: rgba(255, 235, 59, 0.87);
$statusColor3: rgba(239, 154, 154, 0.87);
$statusColorHover3: rgba(229, 115, 115, 0.87);
$rainGaugeBlue: rgba(70, 218, 238, 0.87);
$rainGaugeBlueHover: rgba(0, 188, 212, 0.87);
$disabledColor: rgba(187, 187, 187, 0.87);

$greyBorder: 1px solid #bbb;

:host {

  * {
    box-sizing: border-box;
  }

  #gauge-status-options {
    width: 100%;
    color: $textColor;

    .mat-form-field {
      display: inline-block;
      margin-bottom: -12px;
      margin-left: 4px;
    }

    .mat-button {
      display: inline-block;
      text-align: left;
      padding-left: 4px;
      padding-right: 4px;
      margin-bottom: 8px;
    }
  }

  #gauge-status-viewport {
    height: 240px;
    border: $greyBorder;
    border-radius: 2px;

    .row {
      width: 100%;
      height: $rowHeight;

      &:last-child {
        .gauge-content {
          border-bottom: none !important;
        }
      }

      .gauge-button {
        max-width: 100%;
        font: $contentFont;

        .gauge-content {
          height: $rowHeight;
          width: 100%;
          line-height: 24px;
          color: $textColor;
          background-color: $statusColor1;
          border-bottom: $greyBorder;

          .name {
            width: calc(100% - (#{$sumWidth}));
            padding-left: 4px;
            // align the text and prevent from wrapping and overflowing
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .value {
            width: $sumWidth;
            font-weight: bold;
            padding-right: 4px;
            text-align: right;
          }

          &.status-2 {
            background-color: $statusColor2;
          }

          &.status-3 {
           background-color: $statusColor3;
          }

          &:enabled:hover {
            background-color: $statusColorHover1;

            &.status-2 {
              background-color: $statusColorHover2;
            }
            &.status-3 {
              background-color: $statusColorHover3;
            }
          }
        }
      }
    }
  }
}
