
<div
    class="control-container"
    fxLayout="row"
    fxLayoutAlign="start center"
    [fxLayoutGap]="isMobile ? '4px' : '16px'">
  <div class="info-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <button mat-icon-button [disabled]="loading || !frames?.length" (click)="onClickPlay()">
      <mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
    <div class="date-wrapper" *ngIf="frames && frames.length">
      <div class="date">
        {{frames[frame].time | date:'yyyy/MM/dd':(frames[frame].tzOffset)}}
      </div>
      <div class="time">
        {{frames[frame].time | date:'HH:mm':(frames[frame].tzOffset)}}
      </div>
    </div>
  </div>
  <app-frame-controls [isPlaying]="isPlaying" [accum]="accum" [loading]="loading || !frames?.length" [fLength]="frames?.length" [frame]="frame" (newFrame)="frame = $event"></app-frame-controls>
</div>

