:host {
  position: relative;
  padding: 8px;

  @media screen and (min-width: 600px) {
    padding: 16px;
  }

  .progress-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
  }

  .control-container {
    position: relative;

    .info-container {
      .date-wrapper {
        font-size: 20px;
        color: rgba(0,0,0,0.54);
        text-align: center;
        font-weight: 600;
        margin-right: 8px;

        @media screen and (min-width: 600px) {
          font-size: 24px;
        }

        .date {
          color: rgba(0, 0, 0, 0.87);
          font-size: 0.56em;
        }

        .time {
          letter-spacing: 3px;
          font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
        }
      }
    }
    .slider-container {
      height: 48px;
    }
  }
}
