:host {
  .file-name {
    font-family: 'Ubuntu Mono', monospace;
    color: #777;
    &.total {
      text-align: right;
      font-weight: bold;
    }
  }

  .file-fields {
    h4 {
      font-size: 14px;
    }
  }

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
}