<mat-accordion>
  <mat-expansion-panel #filePanel [disabled]="newCustomLayer || converting" (opened)="chooseFile()" (closed)="resetFiles()" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{customLayer ? 'C' : 'Add c'}}ustom layer
      </mat-panel-title>
      <mat-panel-description>
        {{customLayer?.metadata.name || 'Shapefile or GeoJSON'}}
        <mat-icon>{{customLoading ? 'pending' : (customLayer ? 'done' : 'add')}}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <div class="file-name" *ngFor="let file of files">{{file.data.name}} ({{file.displaySize}})</div>
      <div class="file-name total" *ngIf="files.length">Total: {{totalFileSize}}</div>
      <div class="file-name" *ngIf="!files.length">Choose file(s)</div>
      <form [formGroup]="layerForm" *ngIf="hasDBF" (ngSubmit)="convertShapeFile(true)">
        <div class="file-fields">
          <h4>Shapefile (DBF) Attributes</h4>
          <div class="fields-wrap" fxLayout fxLayoutGap="16px">
            <mat-form-field hideRequiredMarker>
              <mat-label>Label field</mat-label>
              <mat-select formControlName="labels">
                <mat-option *ngFor="let field of dbfFields" [value]="field">
                  {{field}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="layerForm.get('labels').invalid">This field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout fxLayoutAlign="start center">
          <button mat-raised-button color="primary" type="submit" [disabled]="layerForm.disabled || layerForm.invalid || newCustomLayer">{{newCustomLayer ? 'Layer ready' : 'Check layer'}}</button>
          <div fxFlex fxLayout fxLayoutAlign="end center" fxLayoutGap="16px" *ngIf="converting">
            <mat-spinner diameter="40"></mat-spinner>
            <i>Preparing files</i>
          </div>
        </div>
      </form>
      <input
          hidden
          file-upload
          multiple
          id="user-upload"
          type="file"
          (change)="fileChange($event)"
          accept=".geojson,.json,.shp,.shx,.prj,.dbf"
      >
  </mat-expansion-panel>
</mat-accordion>