<div class="map-details" fxLayout>
  <div fxFlex fxLayout fxLayoutAlign="start end" [ngStyle]="{'color': invalid ? '#f44336' : 'inherit'}">
    <span [fxHide]="featuresLoading">
      <span>Total:
        <strong>{{
          (markerMode ? markers?.length : featureTotal) | number
        }}</strong>
      </span>
      <span [hidden]="markerMode"> | Selected: <strong>{{features?.length | number}}</strong></span>
    </span>
  </div>
  <button
      type="button"
      mat-icon-button
      matTooltip="Add All Features"
      matTooltipPosition="above"
      [disabled]="featuresLoading || featureTotal === features?.length"
      [fxHide]="markerMode"
      (click)="selectAllFeatures()">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button
      type="button"
      mat-icon-button
      matTooltip="Remove All Features"
      matTooltipPosition="above"
      [disabled]="(featuresLoading || features?.length === 0)"
      [fxHide]="markerMode"
      (click)="selectFeatures([])">
    <mat-icon>remove_circle</mat-icon>
  </button>
</div>
<div class="features-container">
  <mgl-map
      [cursorStyle]="cursor"
      [attributionControl]="false"
      [style]="'mapbox://styles/mapbox/light-v9'"
      [transformRequest]="transformRequest"
      (mapLoad)="onMapLoad($event)"
      [scrollZoom]="scrollZoom"
      [dragRotate]="false"
      [boxZoom]="false"
      (mapMouseMove)="onMouseOverMap()"
      (mapMouseEnter)="onMouseOverMap()"
      (mapMouseOver)="onMouseOverMap()"
      (mapMouseLeave)="onMouseOverMap(false)"
      (mapMouseOut)="onMouseOverMap(false)"
      (mapClick)="onMouseClick($event)">
    <mgl-control mglNavigation [showCompass]="false"></mgl-control>
    <mgl-control mglFullscreen></mgl-control>
    <mgl-control>
      <div class="map-buttons">
        <button
            type="button"
            title="Search map"
            (click)="showSearch = !showSearch">
          <mat-icon inline>search</mat-icon>
        </button>
        <button type="button" [fxHide]="markerMode" [class.active]="mapSelect" (click)="setMapSelect(!mapSelect)" title="Select features">
          <mat-icon inline>select_all</mat-icon>
        </button>
        <button type="button" [fxHide]="!markerMode" [class.active]="!removeMarker" (click)="removeMarker = false; cursor = 'pointer'" title="Add location">
          <mat-icon inline>add_location</mat-icon>
        </button>
        <button type="button" [fxHide]="!markerMode" class="svg-btn" [class.active]="removeMarker" (click)="removeMarker = true; cursor = null" title="Remove location">
          <mat-icon svgIcon="remove_location"></mat-icon>
        </button>
        <app-search
            [hidden]="!showSearch"
            [isShown]="showSearch"
            [mapgl]="mapgl"
            [sources]="[{ layer: layer, features: featureCollection?.features, type: 'geojson' }]"
            (onClose)="showSearch = false"
            (onMarker)="searchMarker = $event"
        ></app-search>
      </div>
    </mgl-control>
    <mgl-image
        *ngFor="let icon of icons"
        [id]="icon"
        [url]="'/assets/images/map-icons/' + icon + '.png'"
    ></mgl-image>
    <ng-container *ngIf="featureCollection && layer">
      <mgl-geojson-source
          id="domain"
          [data]="featureCollection"
      ></mgl-geojson-source>
      <mgl-layer
          id="domain-hidden"
          [type]="layer?.type"
          source="domain"
          [layout]="style.hidden?.layout"
          [paint]="style.hidden?.paint"
          (layerMouseMove)="onMouseMovePopup($event)"
          (layerMouseLeave)="onMouseLeavePopup()"
      ></mgl-layer>
      <mgl-layer
          id="domain-fill"
          [type]="layer?.type"
          source="domain"
          [layout]="style.included?.layout"
          [paint]="style.included?.paint"
          [filter]="filterFill"
      ></mgl-layer>
      <mgl-layer
          id="domain-line"
          [type]="layer?.type"
          source="domain"
          [layout]="style.excluded?.layout"
          [paint]="style.excluded?.paint"
          [filter]="filterLine"
      ></mgl-layer>
    </ng-container>
    <mgl-marker
        anchor="bottom"
        *ngFor="let marker of markers; index as $index"
        [draggable]="true"
        [offset]="[0,7]"
        [lngLat]="marker"
        (markerDragEnd)="onMarkerDragEnd($event, $index)">
      <img src="/assets/images/map-icons/marker.png" class="location" alt="Location" (click)="onMarkerClick(marker)">
    </mgl-marker>
    <ng-container *ngIf="mask">
      <mgl-geojson-source id="mask" [data]="origin + mask"></mgl-geojson-source>
      <mgl-layer id="mask" type="fill" source="mask" [paint]="{'fill-color': 'rgba(0,0,0,0.1)'}" ></mgl-layer>
    </ng-container>
  </mgl-map>
  <div class="loading" fxLayout fxLayoutAlign="center center" *ngIf="featuresLoading">
    <mat-spinner diameter="40" color="accent"></mat-spinner>
  </div>
</div>
<div class="map-hints" [hidden]="markerMode || !mapSelect || media.isActive('lt-md')">
  <div>Hold <span [class.active]="mouseOnMap && shifted">shift to add</span> &amp; <span [class.active]="mouseOnMap && alted && !shifted">alt to remove</span>.</div>
</div>
