:host {
  
  .loading {
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .map-details {
    text-transform: uppercase;
    font-size: 12px;
    margin: -16px 0 8px;
    height: 36px;
    max-width: 776px;

    button {
      margin-left: 8px;
    }
  }

  .map-hints {
    text-align: center;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
    margin: 4px 0 16px;
    height: 20px;
    max-width: 776px;

    span {
      font-weight: bold;
      &.active {
        color: #FFB300;
        text-decoration: underline;
      }
    }
  }

  .features-container {
    position: relative;
    min-width: 180px;
    max-width: 776px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    mgl-map {
      height: 400px;
      width: 100%;
      position: relative;
      display: block;

      .map-buttons {
        position: relative;
        display: block;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        background: #fff;

        app-search {
          position: absolute;
          top: 0;
          right: 40px;
          height: 30px;
          width: 250px;
          background: #fff;
          border-radius: 2px 2px 0 2px;
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          padding: 0 8px;
        }
        
        & > button {
          z-index: 1;
          width: 30px;
          height: 30px;
          display: block;
          padding: 0;
          outline: none;
          border: 0;
          box-sizing: border-box;
          background-color: transparent;
          cursor: pointer;
          font-size: 20px;
          line-height: 30px;

          &.active {
            background: #00bcd4;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);

            .mat-icon {
              color: white;
            }

            &:hover {
              background: #00acc1;
            }
          }

          &.svg-btn .mat-icon {
            width: 20px;
            height: 20px;
            padding-top: 2px;
          }

          &:first-of-type {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
          }

          &:last-of-type {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
          }

          & + button {
            border-top: 1px solid #ddd;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }

    .location {
      cursor: pointer;
    }

    h4 {
      text-align: right;
      font-weight: 300;
      font-size: 12px;
      margin: 8px 0;
    }
  }

  .error {
    margin-bottom: 16px;
    font-size: 14px;
    color: #f44336;
  }
}