@use '~@angular/material' as mat;

:host ::ng-deep {
  margin: 8px;
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  @media screen and (min-width: 960px) {
    margin: 16px;
  }

  .element-container {
    border-radius: 2px;
    @include mat.elevation(2);

    & > .mat-grid-tile-content {
      & > * {
        background-color: #FAFAFA;
        height: 100%;
        padding: 8px;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;

        @media screen and (min-width: 960px) {
          padding: 16px;
        }
      }

      .element-content {
        width: 100%;

        h3:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
