<div class="btn-list" *ngIf="features.length > 1 && !selection">
  <button
      mat-button
      disableRipple
      *ngFor="let feature of features; let isLast = last"
      (click)="selection = feature"
  >
    {{feature.properties.btnName}}
    <mat-divider *ngIf="!isLast"></mat-divider>
  </button>
</div>
<div *ngIf="!!selection">
  <div class="chart-head">
    <h3>{{selection.properties?.btnName}}</h3>
    <span>
      {{selection.properties?.id}}
      {{selection.properties?.feed ? ' | ' + selection.properties.feed : ''}}
    </span>
  </div>
  <app-hydrograph
      class="chart-wrapper"
      hideNow
      [id]="selection.properties?.id || selection.id"
      [whatif]="whatif"
      [attributes]="selection.properties?.attributes"
      [lngLat]="selection.lngLat || lngLat"
      [times]="times"
  ></app-hydrograph>
</div>