:host {
  .btn-list {
    button {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .chart-head {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    h3 {
      margin: 0;
      line-height: 0.85em;
      font-weight: 500;
    }
    span {
      font-size: 0.9em;
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(0,0,0,0.54);
    }
  }

  app-hydrograph {
    min-width: 300px;
    max-width: 400px;
    height: 216px;
  }
}