<div mat-dialog-title fxLayout fxLayoutAlign="space-between center">
  <h2>Available Layers</h2>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content fxLayout="column">
  <app-layer-creator [customLayer]="customLayer" (customLayerChange)="onCustomLayerChange($event)"></app-layer-creator>
  <div *ngIf="!shownLayers.length && !loading">
    All available project layers have been added.
  </div>
  <div class="loading" *ngIf="loading" fxLayout fxLayoutAlign="center center">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
  <mat-selection-list #layers>
    <mat-list-option *ngFor="let l of shownLayers" [value]="l">
      {{l.metadata.name}}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions fxLayout>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button
      mat-raised-button
      color="primary"
      (click)="onAddLayers(layers)"
      [disabled]="!layers.selectedOptions.selected.length && !newCustomLayer">
    Add to map
  </button>
</mat-dialog-actions>
