@use '~@angular/material' as mat;

:host {
	z-index: 1;
	.navbar-container {
		height:56px;
		background: #fff;
		@include mat.elevation(3);
		&.mobile {
      .left {
        padding-left: 8px;
        .feature-name {
					padding: 0 8px;
					font-size: 16px;
        }
      }
      .right {
        padding-right: 16px;
      }
		}
		.left {
			background: #00bcd4;
			color: #fff;
			height: 100%;
			padding-left: 16px;
			.logo {
				height: auto;
				width: 32px;
				min-width: 24px;

				// center vertically
				place-content: center;
				align-items: center;
				flex-direction: row;
				box-sizing: border-box;
				display: flex;
			}
			.mat-icon {
				color: #fff;
			}
			.feature-name {
				padding: 0 16px 0 8px;
				font-family: Ubuntu, "Helvetica Neue", sans-serif;
				font-size: 18px;
				text-transform: uppercase;
			}
			img.pixels {
				height: 100%;
				width: auto;
			}
		}
		.right {
			padding-right: 24px;
		}
		button.apps:hover {
			background-color: rgba(0,0,0,0.05);
		}
	}
}

app-nav-grid {
	max-height: 324px;
	width: 264px;
  padding: 0 8px;
}
