<div fxLayout="row"
  fxLayoutAlign="space-between center"
  class="mat-app-background navbar-container"
  [class.mobile]="media.isActive('xs')">
  <div class="left" color="primary" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button fxHide.xs routerLink="dashboard">
      <mat-icon svgIcon="vlogo" class="logo vieux" alt="logo"></mat-icon>
    </button>
    <div class="feature-name">{{title}}</div>
    <img src="assets/images/toolbar-pixels.gif" class="pixels">
  </div>
  <div
      *ngIf="!!(userService.currentUser | async)"
      class="right"
      fxFlex
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="16px">
    <app-alerts *ngIf="(userService.project$ | async)?.products.includes('alerts')" [project]="userService.project$ | async"></app-alerts>
    <button class="apps"
        mat-icon-button
        [matMenuTriggerFor]="appsMenu"
        title="Applications"
        aria-label="Applications">
      <mat-icon>apps</mat-icon>
    </button>
    <nav-user-menu></nav-user-menu>
  </div>
</div>

<mat-menu #appsMenu="matMenu" [overlapTrigger]="false" xPosition="before">
  <app-nav-grid></app-nav-grid>
</mat-menu>