<div fxLayout="column" fxFill>
  <app-navbar></app-navbar>
  <div *ngIf="!user" fxLayout fxLayoutAlign="center center" fxFlex>
    <amplify-authenticator style="--container-display:auto">
      <amplify-sign-in slot="sign-in" header-text="VIP Sign-in" hide-sign-up></amplify-sign-in>
      <mat-spinner diameter="60" *ngIf="!error"></mat-spinner>
      <div class="error-msg" *ngIf="error">
        <h3>Oops!</h3>
        <p>Something went wrong.</p>
      </div> 
    </amplify-authenticator>
  </div>
  <router-outlet *ngIf="user"></router-outlet>
</div>
