@use '~@angular/material' as mat;

:host {
  .error-msg {
    @include mat.elevation(3);
    padding: 16px;
    border-radius: 3px;
    background: #fff;
    color: rgba(0,0,0,0.6);

    h3 {
      margin-top: 0;
    }
  }
}