:host {
  position: relative;
  display: block;
  border: 1px solid rgba(0,0,0,0.1);

  .mat-nav-list {
    padding-top: 0;
    
    a.mat-list-item {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      &:last-child {
        border-bottom: none;
      }
    }
  }
  
  .shadow {
    position: absolute;
    left: 0; right: 0;
    z-index: 1;
    height: 16px;
    pointer-events: none;

    &.top {
      top: 0;
      box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
    }

    &.bottom {
      bottom: 0;
      box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.3);
    }
  }
}