<button
    matRipple
    class="icon"
    (click)="timesStore.shift(false)"
    [disabled]="loading || service.isAnimating"
    matTooltip="Back {{project.interval}} min.">
  <mat-icon>skip_previous</mat-icon>
</button>
<button
    matRipple
    class="icon animation"
    [disabled]="disablePlay || (loading && !service.isAnimating)"
    matTooltip="Play Animation"
    (click)="onAnimate()">
  <mat-icon>{{service.isAnimating ? 'pause_circle_outline' : 'play_circle_outline'}}</mat-icon>
</button>
<button
    matRipple
    class="icon"
    (click)="timesStore.shift(true, intervalOverride || project.interval)"
    [disabled]="loading || !afterEnabled || service.isAnimating"
    matTooltip="Forward {{intervalOverride || project.interval}} min.">
  <mat-icon>skip_next</mat-icon>
</button>
<button
    matRipple
    #aniBtn
    class="icon animation"
    (click)="showAniForm()"
    [disabled]="loading || service.isAnimating"
    matTooltip="Animation Options">
  <mat-icon>settings</mat-icon>
</button>