:host {
  height: 100%;

  button {
    position: relative;
    border: none;
    background: none;
    height: 100%;
    min-width: 48px;
    cursor: pointer;
    touch-action: manipulation;

    &.animation {
      display: none;
      @media screen and (min-width: 600px) {
        display: inline-block;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 0px;
      top: 25%;
      height: 50%;
      border-right: 1px solid #ccc;
    }

    &:hover:not(:disabled) {
      background-color: rgba($color: #000000, $alpha: 0.05)
    }

    &:disabled {
      cursor: auto;
    }

    &:last-child:after {
      border-right: none;
    }

    &.icon .mat-icon {
      vertical-align: middle;
    }
  }
}
