<div class="tools" fxFlex="none" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px">
  <mat-form-field appearance="fill" class="date-range">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [dateFilter]="eventFilter">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
  <button mat-raised-button [disabled]="range.pristine" (click)="updateTable()">Update</button>
  <div fxFlex></div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
    <mat-form-field appearance="fill" class="group-select">
      <mat-label>Group by</mat-label>
      <mat-select [(value)]="grouping" (selectionChange)="updateCSV()">
        <mat-option *ngFor="let g of groups" [value]="g[1]">{{g[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="rvProducts?.length > 1">
      <mat-label>Product</mat-label>
      <mat-select [(value)]="product" (selectionChange)="onProduct()">
        <mat-option *ngFor="let p of rvProducts" [value]="p">
          {{p.displayName}}
        </mat-option>
      </mat-select>
      <mat-hint>{{rvProducts ? rvProducts.length + ' available' : 'Loading...'}}</mat-hint>
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="settings"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item (click)="dialog.open(definitions)">Definitions</button>
      <button mat-menu-item (click)="dialog.open(worsts)" [disabled]="loading$ | async">Worst gauges/events</button>
      <a mat-menu-item [href]="csvURL" [download]="csvFilename">
        <div class="two-line-menu-item">
          Export to CSV
          <span>Grouped by {{grouping}}</span>
        </div>
      </a>
    </mat-menu>
  </div>
</div>
<div class="table-container" fxFlex>
  <app-table
      [loading]="loading$ | async"
      [error]="error$ | async"
      [grouping]="grouping"
      [data]="tableData"></app-table>
</div>
<ng-template #definitions>
  <div class="header">
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <mat-dialog-content>
    <table class="defs">
      <tr>
        <td><strong>CLOG</strong></td>
        <td>Appeared to be clogged</td>
      </tr>
      <tr>
        <td><strong>ZERO</strong></td>
        <td>Did not report any rainfall while radar rainfall estimates reported significant rainfall</td>
      </tr>
      <tr>
        <td><strong>STOP</strong></td>
        <td>Appeared to stop reporting rainfall while radar rainfall estimates reported significant rainfall</td>
      </tr>
      <tr>
        <td><strong>OVER</strong></td>
        <td>Appeared to significantly over-report rainfall as compared to radar rainfall estimates and surrounding gauges (e.g. spike values)</td>
      </tr>
      <tr>
        <td><strong>UNDER</strong></td>
        <td>Appeared to significantly under-report as compared to radar rainfall estimates and surrounding gauges (e.g. half-tipper)</td>
      </tr>
      <tr>
        <td><strong>SYNC</strong></td>
        <td>Appeared to be out-of-sync with the radar rainfall estimates</td>
      </tr>
      <tr>
        <td><strong>FROZEN/MELT</strong></td>
        <td>Appeared to be not reporting properly due to frozen or melting precipitation</td>
      </tr>
      <tr>
        <td><strong>ND</strong></td>
        <td>Reported "no data" for a significant amount of time</td>
      </tr>
      <tr>
        <td><strong>OTHER</strong></td>
        <td>Combination of multiple reasons</td>
      </tr>
    </table>
  </mat-dialog-content>
</ng-template>
<ng-template #worsts>
  <div class="header">
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <mat-dialog-content>
    <table class="worsts">
      <tr>
        <td><strong>Worst Date:</strong></td>
        <td><span *ngFor="let mDate of meta.maxDates">{{mDate}}</span>
          <div>({{meta.maxDatesCount}} excluded gauges)</div>
        </td>
      </tr>
      <tr>
        <td><strong>Worst Gauge:</strong></td>
        <td><span *ngFor="let mId of meta.maxIds">{{mId}}</span>
          <div>({{meta.maxIdsCount}} excluded dates)</div>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
</ng-template>
