:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .tools {
    padding: 8px;
    background-color: #fff;

    @media screen and (min-width: 600px) {
      padding: 16px 16px 0;
    }
  }

  button.time-info {
    border: none;
    background: none;
    min-width: 48px;
    cursor: pointer;
    text-transform: none;
    color: #00bcd4;
    padding: 8px;
    font: inherit;

    .time-container {
      .icon-wrapper .mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
      }

      .time-text {
        padding-left: 8px;
        height: 30px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
          font-size: 12px;
          color: rgba($color: #000000, $alpha: 0.54);
          text-transform: uppercase;
          text-align: left;

          .mat-icon {
            vertical-align: middle;
          }
        }

        @media screen and (min-width: 600px) {
          font-size: 16px;
        }
      }

      &.real-time .icon-wrapper .mat-icon,
      &.real-time .time-text {
        color: #558b2f;
      }

      &.forecasted .icon-wrapper .mat-icon,
      &.forecasted .time-text {
        color: #f57f17;
      }
    }

    &:disabled {
      cursor: default;
      color: rgba($color: #000000, $alpha: 0.54);
      .icon-wrapper .mat-icon,
      .time-text span {
        color: rgba($color: #000000, $alpha: 0.38);
      }
    }

    &:hover:not(:disabled) {
      background-color: rgba($color: #000000, $alpha: 0.05);
      color: #0097a7;

      .time-container {
        &.real-time {
          .icon-wrapper .mat-icon,
          .time-text {
            color: #33691e;
          }
        }

        &.forecasted {
          .icon-wrapper .mat-icon,
          .time-text {
            color: #e65100;
          }
        }

        .time-text > span {
          color: rgba($color: #000000, $alpha: 0.87);
        }
      }
    }

    &:focus {
      outline: 0;
    }
  }

  .table-container {
    overflow: scroll;
  }
}

a.mat-menu-item:link {
  color: inherit;
  text-transform: uppercase;
}

.header button {
  float: right;
}

table.defs {
  border-spacing: 0;
}

table.defs tr td {
  padding-top: 8px;
  padding-bottom: 8px;

  &:first-child {
    border-right:rgba($color: #000000, $alpha: 0.05);
    padding-left: 16px;
    padding-right: 4px;
  }

  &:last-child {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.date-range {
  width: 248px;
}

.group-select {
  width: 132px;
}

.two-line-menu-item {
  line-height: 1em;
  padding: 8px 0;
  span {
    display: block;
    font-size: 12px;
  }
}

table.defs tr:nth-child(odd) td {
  background-color: rgba($color: #000000, $alpha: 0.05);
}

table.worsts td {
  padding: 4px 0;
  vertical-align: top;
  line-height: 24px;

  span {
    display: inline-block;
    padding: 2px 4px;
    background-color: rgba($color: #000000, $alpha: 0.15);
    border-radius: 3px;
    font-family: 'Ubuntu Mono', Courier, monospace;
    line-height: 1em;
    margin-right: 8px;
    white-space: nowrap;
    cursor: default;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
