<div mat-dialog-content>
  <p>This animation may take a while to load. You may reduce this time by removing or hiding layers in the side panel.</p>
</div>
<div mat-dialog-actions fxLayout fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>Continue anyway</button>
</div>