<div class="scales-container">
  <div
      *ngFor="let scale of scales"
      class="scale-wrapper vertical"
      [class.hide]="!scale.loaded"
      [matTooltip]="scale.label">
    <img [src]="scale.url | secure | async" alt="layer scale" (load)="scale.loaded = true">
  </div>
</div>
