.scales-container {

  .scale-wrapper {
    overflow: hidden;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: inline-block;
    margin: 0 10px 0 0;

    &.hide {
      display: none;
    }

    &.vertical {
      width: 40px;
    }

    & > img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}