<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks"
      [routerLink]="link.link"
      (click)="activeLinkIndex = link.index"
      [active]="activeLinkIndex === link.index">{{link.label}}</a>
</nav>

<router-outlet></router-outlet>