:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  a.mat-tab-link {
      color: rgba(0, 0, 0, 0.56);
      font-weight: bold;
      opacity: 1;

      &.mat-tab-label-active {
        color: rgba(0, 0, 0, 0.87);
      }
  }
}