<mat-card class="no-pad" fxLayout="column">
  <div class="pad layers-meta-container" fxLayout fxLayoutAlign="start center">
    <div class="meta-text" fxFlex>
      <div class="layer-count">{{layers.length}} layer(s)</div>
      <div class="duration-info">selected duration: <span>{{duration || 'Loading...'}}</span></div>
    </div>
  </div>
  <mat-list dense cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListDisabled]="loading.layers.length > 0">

    <!-- loading -->
    <mat-list-item class="layer-container" *ngFor="let t of loading.layers">
      <div mat-list-icon><mat-spinner diameter="20"></mat-spinner></div>
      <div mat-line class="primary">{{t.metadata.name}}</div>
      <div mat-line *ngIf="t.metadata.maxInfo?.durationText" [matTooltip]="'Latest available: ' + t.metadata.maxInfo.maxText">{{t.metadata.maxInfo.durationText}}</div>
    </mat-list-item>
    <!-- / loading -->

    <mat-list-item
        class="layer-container"
        [class.is-invisible]="!isVisibleLayer(layer) || timeControls.isAnimating"
        *ngFor="let layer of layers"
        cdkDragPreview
        [cdkDragDisabled]="!isVisibleLayer(layer) || timeControls.isAnimating"
        cdkDrag>
      <mat-list-item class="layer-container placeholder" *cdkDragPlaceholder></mat-list-item>
      <button
          mat-icon-button mat-list-icon
          [disabled]="timeControls.isAnimating"
          class="show-hide-toggle"
          (click)="toggleVisibility(layer)"
          [class.hide]="!timeControls.isAnimating && (layer.updating || layer.errors || layer.sourceLoading)">
        <app-layer-icon [layer]="layer" [matTooltip]="layer.type + ' Layer'"></app-layer-icon>
      </button>
      <div
          mat-list-icon
          class="layer-error"
          [matTooltip]="layer.errors[0].message"
          *ngIf="layer.errors && !timeControls.isAnimating">
        <mat-icon>error</mat-icon>
      </div>
      <div mat-list-icon [hidden]="timeControls.isAnimating || (!layer.updating && !layer.sourceLoading)"><mat-spinner diameter="20"></mat-spinner></div>
      <div mat-line class="primary">{{layer.metadata.name}}</div>
      <div mat-line *ngIf="layer.metadata.maxInfo?.durationText" [matTooltip]="'Latest available: ' + layer.metadata.maxInfo.maxText">{{layer.metadata.maxInfo.durationText + (isVisibleLayer(layer) ? '' : ' (hidden)')}}</div>
      <div class="secondary-actions">
        <button
            mat-icon-button
            (click)="optionsService.openOptions(layer)"
            [disabled]="!isVisibleLayer(layer) || timeControls.isAnimating"
            *ngIf="layer.metadata.options && layer.metadata.options.length > 0">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteLayer(layer)" [disabled]="timeControls.isAnimating">
          <mat-icon>delete</mat-icon>
        </button>
        <div
            cdkDragHandle
            class="reorder"
            [class.disabled]="loading.layers.length > 0 || !isVisibleLayer(layer) || timeControls.isAnimating"
            [matTooltip]="loading.layers.length > 0 || !isVisibleLayer(layer) ? '' : 'Drag to reorder'"
            matTooltipPosition="right"
            matTooltipShowDelay="500">
          <mat-icon>reorder</mat-icon>
        </div>
      </div>
    </mat-list-item>

  </mat-list>
  <div class="pad add-layer-wrapper">
    <button
        class="add-layer"
        mat-flat-button
        [disabled]="loading.layers.length > 0 || timeControls.isAnimating"
        (click)="addLayerClick()">
      <mat-icon>add_box</mat-icon> Layer
    </button>
  </div>
  <div class="baselayer-wrapper" fxLayout="column">
    <mat-divider></mat-divider>
    <div class="info-container">
      <div class="title">Basemap</div>
      <button
          class="no-style layer-item"
          [disabled]="timeControls.isAnimating"
          [matMenuTriggerFor]="basemapMenu">
        <div fxLayout fxLayoutAlign="start center">
          <mat-icon>public</mat-icon>
          <div class="name" fxFlex>{{basemap.selected ? basemap.selected.name : 'loading...'}}</div>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </button>
    </div>
  </div>
</mat-card>
<mat-menu #basemapMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item
      *ngFor="let item of basemap.list"
      (click)="selectBasemap(item)"
      [disabled]="item.name === basemap.selected.name">
    {{item.name}}
  </button>
</mat-menu>