mat-card {
  .mat-progress-bar {
    width: 100%;
    margin: -8px 0 4px;
  }

  &.no-pad {
    padding: 8px 0 0;
  }

  .pad {
    padding: 8px;
  }

  .layers-meta-container {
    padding-top: 0;
    padding-right: 0;

    .meta-text {
      color: #757575;
      font-size: 12px;

      .layer-count {
        font-weight: bold;
      }

      .duration-info {
        span {
          font-style: italic;
        }
      }
    }
  }
  // some styles in styles.scss
  .mat-list-base[dense].mat-list {
    .layer-container {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

      &:active {
        cursor: grabbing;
      }

      &.is-invisible {
        button.show-hide-toggle, h4 {
          opacity: 0.54;
        }

        .mat-line, .mat-line.primary {
          color: #0000008a;
        }

        .secondary-actions > * {
          &:disabled, &.disabled {
            color: rgba(0,0,0,0.54);
            &:hover {
              color: rgba(0, 0, 0, 0.54);
            }
          }
        }
      }

      &.placeholder {
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.24);
        height: 48px;
      }

      .mat-list-icon {
        padding: 0;
        &.mat-icon-button {
          line-height: inherit;
          &.hide {
            display: none;
          }
        }
      }

      .mat-line {
        font-size: 11px;
        &.primary {
          font-size: 13px;
          color: rgba(0,0,0,0.87);
          padding-bottom: 3px;
        }
      }

      .secondary-actions {
        display: none;
        & > * {
          color: rgba(0,0,0,0.54);
          &:not([disabled]), &:not(.disabled) {
            &:hover {
              color: rgba(0,0,0,0.87);
            }
          }
        }
      }
    }

    &:not(.cdk-drop-list-dragging) .layer-container:hover {
      background: #EEE;
      .secondary-actions:not([hidden])  {
        display: inherit;
      }
    }
  }

  .add-layer-wrapper {
    button.add-layer {
      width: 100%;
      background-color: #FFD54F;
      color: rgba(0, 0, 0, 0.54);

      &:hover:enabled {
        color: rgba(0, 0, 0, 0.87);
      }

      &:disabled {
        background-color: #FFECB3;
        color: rgba(0, 0, 0, 0.35);
      }
    }
  }

  .layer-error {
    .mat-icon {
      color: #C62828;
    }
  }

  .baselayer-wrapper {
    position: relative;
    margin: 8px;

    .info-container {
      padding: 8px 0;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #757575;
        padding: 8px 0;
      }

      .layer-item {
        width: 100%;
        color: #424242;

        .name {
          text-align: left;
          margin-left: 8px;
        }

        &:disabled {
          color: rgba(0, 0, 0, 0.38);
        }
      }
    }
  }
}