#profile-container {
  padding: 16px;
  &.mobile {
    padding: 16px 0;
    .mat-card {
      width: 100%;
      box-sizing: border-box;
      border-radius: 0;
      .mat-card-subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .mat-card.current-user {
    display: inline-block;
    i {
      font-size: 12px;
      color: #00bcd4;
      cursor: default;
    }
    .mat-icon-button {
      .profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .add-image {
        display: none;
        place-content: center;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 1px; left: 0;
        width: 100%; height: 100%;
        border-radius: 50%;
        background-color: rgba($color: #000, $alpha: 0.5);
        color: #FFC107;
      }
      &:hover .add-image {
        display: flex;
      }
    }
  }
}