<div id="profile-container" [class.mobile]="media.isActive('xs')">
  <mat-card *ngIf="user" class="current-user">
    <mat-card-header>
      <div mat-card-avatar>
        <button mat-icon-button disable-ripple color="secondary" (click)="choosePicture()" matTooltip="Update picture">
          <app-avatar></app-avatar>
          <div class="add-image">
            <mat-icon>add</mat-icon>
          </div>
        </button>
        <input
          type="file"
          hidden
          id="upload_picture"
          aria-label="Upload New Picture"
          accept="image/*"
          file-upload
          (change)="openPictureDialog($event)">
      </div>
      <mat-card-title>{{user.getFullName()}}</mat-card-title>
      <mat-card-subtitle>
        {{user.email}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>account_box</mat-icon>
          <h4 mat-line>User name</h4>
          <p mat-line>{{user.username}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>phone</mat-icon>
            <h4 mat-line>Phone number</h4>
            <p mat-line>
              {{user.getFormattedPhone()}}
              <a [href]="'tel:' + user.phone" *ngIf="user.phone">(call)</a>
            </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>