:host {
  display: block;
  position: relative;

  ::ng-deep {
    .c3-event-rect {
      cursor: default !important;
    }
    .c3-target-Gauges .c3-circle {
      opacity: 0.8 !important;
    }
    .c3-target-Trend-Line {
      & > * {
        display: none;
      }
      .c3-lines-Trend-Line {
        display: inline;
      }
    }
  }
}
