:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .top-container {
    color: rgba(0, 0, 0, 0.54);
    padding: 16px 16px 0;

    h2 {
      margin: 0;
      font-size: 1.25em;
      line-height: normal;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;

      @media screen and (min-width: 600px) {
        font-size: 1.5em;
      }
    }
  }

  app-hydrograph {
    height: 300px;
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  .tools {
    text-align: center;
    padding: 8px 16px;
  }

  .table-container {
    position: relative;

    .loading {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
    table {
      width: 100%;
      border-spacing: 0;
      margin-bottom: 16px;
      color: rgba(0, 0, 0, 0.87);

      td {
        padding: 8px 16px;
        border-top: 1px solid #ddd;
      }

      tr:hover {
        background-color: #EEE !important;
      }

      tr:nth-child(even) {
        background-color: white;
      }

      td:nth-child(odd) { padding-right: 0; }

      td:nth-child(even) {
        padding-left: 0;
        font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
      }

      td span {
        display: block;
        line-height: 1em;
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}