<div class="top-container" fxFlex="none" fxLayoutAlign="space-between center">
  <h2 [title]="point.name" [ngStyle]="point.style">{{point.name}}</h2>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<app-hydrograph
    [id]="point.pointId"
    [times]="times"
    [update]="timestamp"
    [showLegend]="true"
    [groupTooltip]="true"
    fxFlex="none">
</app-hydrograph>
<div class="tools" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <mat-checkbox *ngIf="showFakeNRT" [(ngModel)]="times.fakeNRT" (change)="updateChart()" [disabled]="times.realtime" >
    Limit forecast(s) to chosen time
  </mat-checkbox>
  <div fxFlex></div>
  <a mat-icon-button [download]="point.name + '.png'" [href]="downloadUrl" title="Download image of WatchPoint"><mat-icon>save</mat-icon></a>
</div>
<div class="table-container" fxFlex>
  <table>
    <tbody>
      <tr>
        <td>Basin</td>
        <td>{{point.sortBasin.name}}</td>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{point.pointId}}</td>
      </tr>
      <tr>
        <td>Group</td>
        <td>{{point.groupingName}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{statuses[point.status] || 'No Data'}}</td>
      </tr>
      <ng-container *ngFor="let high of point.highs">
        <ng-container *ngFor="let item of high.values">
            <tr>
              <td>{{item.displayName}} ({{item.units}})</td>
              <td>{{item.value}}</td>
            </tr>
        </ng-container>
        <tr>
          <td><span>Time of max</span>{{high.displayName}}</td>
          <td>{{high.displayTime}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="loading" class="loading" fxLayout fxLayoutAlign="center center">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</div>