:host {
  position: relative;
  flex: 1 0 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  font-size: 0.9em;
  color: rgba($color: #000000, $alpha: 0.87);

  .avatar-container {
    width: 40px;
  }

  .user-container {
    margin-bottom: 4px;
    font-size: 1.2em;
  }

  .two-line {

    & > .sub {
      display: block;
      font-size: 0.7em;
      font-weight: 600;
      text-transform: uppercase;
      color: rgba($color: #000000, $alpha: 0.54);
    }

    & > span {
      display: block;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }

  .project-container {
    & > * {
      margin: 16px 0;
    }

    h2 {
      color: #005f69;
      font-size: 1em;
      text-transform: uppercase;
    }
  }

  .mat-nav-list {
    margin: 0 -16px;
    padding-top: 0px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
    
    .mat-list-item {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
    }
    &[dense] .mat-list-item {
      height: 40px;
    }
  }
}
