@use '~@angular/material' as mat;
:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  overflow-y: scroll;
  background-color: #F5F5F5;

  .error-msg {
    @include mat.elevation(3);
    padding: 16px;
    border-radius: 3px;
    background: #fff;
    color: rgba(0,0,0,0.6);

    h3 {
      margin-top: 0;
    }
  }

  .loading-shade {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ddf-container {

    &.loading {
      overflow-y: hidden;
    }

    .controls {
      padding: 8px 8px 0;
      font-size: 14px;

      @media screen and (min-width: 600px) {
        padding: 16px 16px 8px;
      }

      .control {
        margin-bottom: 8px;
        font-size: 18px;

        label {
          display: block;
          font-size: 11px;
          color: rgba(0, 0, 0, 0.54);
        }

        button.time {
          color: #0097A7;
          text-align: left;
          white-space: nowrap;

          &:hover { color: #00838F; }

          i {
            vertical-align: text-bottom;
          }

          &.past {
            color: #607D8B;
            &:hover { color: #455A64; }
          }
        }
      }
    }

    .bins-container {
      z-index: 0;

      #ddf-table {
        height: 100%;
      }

      button.bin-wrap {
        height: 42px;
        width: 100%;
        border-bottom: 1px solid #eee;

        &:last-child {
          border-bottom: none;
        }

        .bin {
          position: relative;
          font-family: "Ubuntu Mono",Courier,monospace;
          font-size: 18px;
          color: rgba(0,0,0,.87);
          text-align: left;
          padding: 8px 16px;

          .color-wrap {
            z-index: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .category-color {
              width: 16px;
              outline: 1px solid rgba($color: #000000, $alpha: 0.1);
              z-index: 1;
            }

            .blocker-container {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.35' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
              .blocker {
                background-color: #ddd;
                float: right;
                height: 100%;
              }
            }
          }

          .content {
            padding: 2px 8px;
            position: relative;
            pointer-events: none;
            text-shadow: 0px 0px 1px #FFF, 0px 0px 5px #FFF;

            .percent {
              float: right;
            }

            .name {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-right: 26px;

              & > span {
                display: none;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: 600px) {
      .bins-container button.bin-wrap {
        height: 50px;
        padding: 8px 16px;
        border-bottom: none;

        .bin {
          padding: 4px 8px;
          overflow: hidden;
          border-radius: 2px;
          @include mat.elevation(2);

          .content {
            padding: 2px 24px;
            .name > span.show {
              display: inline-block;
            }
          }
        }
        &:hover:not(.no-data) {
          z-index: 2;
          padding: 6px 12px;
          .bin {
            padding: 6px 10px;
            @include mat.elevation(4);
          }
        }
      }
    }
  }
}
