<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<div class="ddf-container" fxFill fxLayout="column" [class.loading]="loading">
  <div class="controls" fxFlex="none" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
    <div class="control" fxFlex="100" fxFlex.gt-xs>
      <label>Data time</label>
      <button [matTooltip]="getTimeTooltip()" [class.past]="!time.realtime" [disabled]="loading" class="no-style time" #timeButton (click)="openTimeControls()">
        {{ getDateString() }}
        <i class="material-icons">{{time.realtime ? 'update' : 'arrow_drop_down_circle'}}</i>
      </button>
    </div>
    <mat-form-field *ngIf="durations?.length" fxFlex="90px">
      <mat-select placeholder="Duration" [(ngModel)]="selectedDuration" name="durations">
        <mat-option [value]="0">Any</mat-option>
        <mat-option *ngFor="let duration of durations" [value]="duration">
          {{humanizeDuration(duration)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [disabled]="dataLayers?.length === 1" placeholder="Tables/Data Layers" [(ngModel)]="selectedLayer" name="dataLayer">
        <mat-option *ngFor="let layer of dataLayers" [value]="layer">
          {{layer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.lt-sm><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item title="Table view" (click)="openTableModal()">Show table</button>
      <a mat-menu-item class="as-btn" title="CSV File" [href]="download.href" [download]="download.fileName">DOWNLOAD CSV</a>
      <a mat-menu-item class="as-btn" title="Detailed CSV File"
        [href]="download.detailedHref"
        [download]="'detailed-' + download.fileName">
        DOWNLOAD DETAILED CSV
      </a>
      <button mat-menu-item *ngIf="selectedLayer?.sources.length" title="Source view" (click)="showSources()">Source info</button>
    </mat-menu>
  </div>

  <div class="bins-container" fxFlex>
    <div *ngIf="!loading && error" fxFlex fxLayout fxLayoutAlign="center center">
      <div class="error-msg">
        <h3>Oops!</h3>
        <span>Something went wrong.</span>
      </div>
    </div>
    <cdk-virtual-scroll-viewport id="ddf-table" itemSize="50" minBufferPx="500" maxBufferPx="1000">
      <button
        class="no-style bin-wrap"
        *cdkVirtualFor="let bin of bins; templateCacheSize: 20"
        [class.selected]="bin.id === selectedBin?.id"
        [class.no-data]="!bin.categoryDetails"
        (click)="selectedBin = bin"
        [disabled]="!bin.categoryDetails">
        <div class="bin" [ngStyle]="{'background-color': bin.categoryDetails?.color}">
          <div class="color-wrap" fxLayout fxLayoutAlign="end">
            <div class="category-color" title="Current Category"></div>
            <div class="blocker-container" fxFlex [title]="'Return Interval: ' + bin.categoryDetails?.label">
              <div class="blocker" [ngStyle]="{width: (100 - bin.percent) + '%'}"></div>
            </div>
            <div class="category-color" [ngStyle]="{'background-color': bin.categoryDetails?.nextColor}" title="Next Category">
            </div>
          </div>
          <div class="content">
            <div class="percent">
              {{bin.displayPercentage}}
            </div>
            <div class="name">
              {{bin.name}} <span [class.show]="!selectedDuration">(Duration: {{bin.description}})</span>
            </div>
          </div>
        </div>
      </button>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
