:host {
  display: block;
  padding-bottom: 4px;

  h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
  }

  .header {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,.2);

    & > .mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    .text {
      h2, p {
        margin: 0;
      }

      p {
        font-family: 'Ubuntu Mono',monospace;
        font-size: 17px;
      }
    }
  }

  .alert-info {
    border-spacing: 0;
    margin: 24px 0;

    tr:not(:last-child) > * {
      padding-bottom: 12px;
    }

    tr:not(:first-child) > * {
      padding-top: 12px;
    }

    th {
      text-align: left;
      color: rgba(0,0,0,.54);
      font-size: 14px;
      font-family: Ubuntu,sans-serif;
      padding-right: 16px;
    }

    td {
      max-width: 50ch;
    }
  }
}