<div *ngIf="loadingTiles || loadingFrame" fxLayoutAlign="center center" class="loading">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<mgl-map
    [style]="'mapbox://styles/mapbox/'+service.basemap.id"
    [fitBounds]="bounds"
    [fitBoundsOptions]="{ duration: 0, padding: {top: 10, bottom:100, left: 10, right: 10} }"
    [transformRequest]="transformRequest"
    (mapLoad)="setMap($event)"
    (sourceData)="onSourceData($event)"
    (mapMouseMove)="onMouseMove($event)"
    (mapClick)="ttips ? onMapClick($event) : null"
    [attributionControl]="false"
  >

  <mgl-control mglNavigation *ngIf="true"></mgl-control>
  <mgl-control mglGeolocate *ngIf="smallScreen"></mgl-control>
  <mgl-control mglScale [unit]="project?.measurement.system" position="bottom-right"></mgl-control>
  <mgl-control position="bottom-left">
    <div class="scale" [style.width.px]="scale.width">
      <span [innerHTML]="units"></span>
      <div class="img-wrap">
        <div style="padding: 105px 5px 0" *ngIf="!scale.show"><mat-spinner diameter="30"></mat-spinner></div>
        <img *ngIf="scale.show" [src]="scale.src | secure | async" alt="Forecast Scale">
      </div>
    </div>
  </mgl-control>
  <mgl-control position="top-right">
    <app-button-group>
      <button matRipple [matMenuTriggerFor]="basemaps" title="Map styles"><mat-icon inline>public</mat-icon></button>
      <mat-menu #basemaps="matMenu">
        <button
            mat-menu-item
            [class.active]="style.id === service.basemap.id"
            [disabled]="style.id === service.basemap.id"
            *ngFor="let style of service.basemaps"
            (click)="changeBasemap(style)">
          {{style.name}}
        </button>
      </mat-menu>
    </app-button-group>
  </mgl-control>

    <mgl-layer
        id="anchor-layer"
        type="fill"
        [source]="{ type: 'geojson', data: { type: 'FeatureCollection', features: [] } }"
    ></mgl-layer>

    <ng-container *ngIf="layer">
      <mgl-vector-source
            [id]="layer.id"
            [tiles]="layer.source.tiles"></mgl-vector-source>
      <mgl-layer
          [id]="layer.id"
          [type]="layer.type"
          [source]="layer.id"
          sourceLayer="shapefile-layer"
          [layout]="layer.layout"
          [paint]="layer.paint"
      ></mgl-layer>
    </ng-container>

    <ng-container *ngIf="maskUrl">
      <mgl-geojson-source id="mask" [data]="maskUrl"></mgl-geojson-source>
      <mgl-layer
          id="mask"
          type="fill"
          source="mask"
          before="anchor-layer"
          [paint]="{'fill-opacity': 0.25}"
      ></mgl-layer>
    </ng-container>

    <mgl-popup
        *ngIf="popup"
        maxWidth="none"
        [lngLat]="popup.lngLat"
        [closeOnClick]="true"
        (popupClose)="popup = null">
      <forecast-popup-content [features]="clickedFeatures" [radar]="radar"></forecast-popup-content>
    </mgl-popup>
</mgl-map>

<div id="map-tooltip" [hidden]="!ttips">
  <div *ngFor="let tip of ttips">{{tip.name ? tip.name + ': ' : ''}}{{tip.val}} {{units}}</div>
</div>

<div class="radar-info-container">
  <app-radar-info [opacity]="opacity" (selectRadar)="setRadar($event)" (optionsChange)="optionsChange($event)" [loading]="preloading" [error]="error"></app-radar-info>
</div>

<div class="time-controls-container" fxLayout="row" fxLayoutAlign="center center">
  <app-time-controls
      fxFlex="100"
      fxFlex.gt-xs="0 1 800px"
      [accum]="accum"
      [radarId]="radar?.id + radar?.selectedShape?.id"
      [loading]="preloading || error"
      [frames]="frames"
      (animating)="animating = $event"
      (changeFrame)="setFrame($event)"></app-time-controls>
</div>
