@use '~@angular/material' as mat;

:host {
  z-index: 0;
  position: relative;
  flex: 1 1 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;

  #map-tooltip {
    z-index: 1;
    position: fixed;
    pointer-events: none;
    background-color: rgba(255,255,255,0.75);
    @include mat.elevation(2);
    border-radius: 2px;
    padding: 2px 6px;
    white-space: nowrap;
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
    font-size: 12px;
    color: rgba($color: #000, $alpha: 0.87);
    font-family: 'Ubuntu Mono', Courier, monospace;
    font-weight: 600;
    font-size: 13px;
  }

  .loading {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.54);
  }

  mgl-map {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .radar-info-container {
    max-width: 280px;
    min-width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .time-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    app-time-controls {
      max-width: 800px;
      background: white;
      @include mat.elevation(4);
    }

    @media screen and (min-width: 600px) {
      padding: 0 10px 10px;

      app-time-controls {
        border-radius: 2px;
        @include mat.elevation(2);
      }
    }
  }

  .scale {
    width: 40px;
    border-radius: 2px;
    @include mat.elevation(2);
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: white;
    font-family: 'Ubuntu Mono', monospace;

    .img-wrap {
      height: 240px;
      background-color: white;
      
      img {
        display: block;
        width: 100%;
      }
    }
  }
}