.cropping-container {
  position: relative;
  min-height: 160px;
  margin: 0 -24px;
  background-color: #FFC107;
}
.loading {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
image-cropper {
  padding: 4px 0 0;
}