<form [formGroup]="ddForm">
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Source</mat-label>
      <mat-select formControlName="domainCtrl" hideRequiredMarker>
        <mat-option *ngFor="let source of sources" [value]="source">
          {{source.metadata.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="ddForm.controls['domainCtrl'].errors?.required">
        Please choose a domain
      </mat-error>
      <mat-hint *ngIf="featureList">{{featureList.length | number}} features</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{!options.formats || !options.formats.length ? 'Loading formats' : 'Format'}}</mat-label>
      <mat-select formControlName="formatCtrl" hideRequiredMarker>
        <mat-option *ngFor="let format of options.formats" [value]="format.id" [innerHTML]="format.name"></mat-option>
      </mat-select>
      <mat-error *ngIf="ddForm.controls['formatCtrl'].errors?.required">
        Please choose a format
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Timestep</mat-label>
      <mat-select formControlName="intervalCtrl" hideRequiredMarker>
        <mat-option
            *ngFor="let interval of options.intervals"
            [value]="interval">
          {{humanizeDuration(interval)}}
        </mat-option>
      </mat-select>
      <mat-error
          *ngIf="ddForm.controls['intervalCtrl'].errors?.required">
        Please choose a timestep
      </mat-error>
    </mat-form-field>
    <div class="checkbox-container">
      <mat-checkbox formControlName="includeShapefileCtrl">Include shapefile</mat-checkbox>
    </div>
    <div fxLayout="row">
      <button
          mat-raised-button
          fxFlex
          color="primary"
          (click)="submit()"
          [disabled]="ddForm.invalid || !featureList || submitting">
        {{submitting ? 'Submitting...' : 'Submit &amp; go'}}
      </button>
    </div>
  </div>
</form>
