<button
    matRipple
    [matRippleDisabled]="!selectedGroup"
    [class.selected]="!selectedGroup"
    (click)="onSelection()">All Items</button>
<section *ngFor="let cat of filterCategories">
  <h3>{{cat.title}}</h3>
  <ng-container *ngFor="let group of cat.groups">
    <button
        matRipple
        class="group"
        [matRippleDisabled]="selectedGroup === group.name"
        [class.selected]="!selectedSub && selectedGroup === group.name"
        [disabled]="!selectedSub && selectedGroup === group.name"
        (click)="onSelection(cat.title, group.name)">
      <div class="btn-inner" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon [svgIcon]="group.svg ? group.icon : null" [ngStyle]="{'color':group.color || black}">{{group.svg ? '' : group.icon}}</mat-icon>
        <span>{{group.name}}</span>
      </div>
    </button>
    <ng-container *ngIf="selectedGroup === group.name && group.subs && group.subs.length > 1">
      <button
          matRipple
          class="sub-group"
          *ngFor="let sub of group.subs"
          [class.selected]="selectedSub === sub"
          [disabled]="selectedSub === sub"
          (click)="onSelection(cat.title, group.name, sub)">
        {{sub}}
      </button>
    </ng-container>
  </ng-container>
</section>
