:host {
  padding: 16px 0 16px 16px;
  overflow: hidden auto;

  h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,0.54);
    padding-left: 16px;
  }

  section {
    margin: 24px 0;
  }

  button {
    height: 40px;
    border-radius: 4px 0 0 4px;
    color: #000;
    border: none;
    background: none;
    text-transform: none;
    display: block;
    padding-left: 16px;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    opacity: 0.54;
    transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);

    .mat-icon {
      padding: 0 8px 0 0;
      transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &.group span, &.sub-group {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      box-sizing: border-box;
    }

    &.sub-group {
      height: 32px;
      padding-left: 48px;
      font-size: 14px;
    }

    &.selected {
      opacity: 0.87;
      background-color: rgba($color: #000000, $alpha: 0.15);
      cursor: default;
      i {
        text-shadow: 0 0 1px #FFF, 0 0 8px #FFF;
        opacity: 1.0;
      }
    }

    &:hover:not(.selected) {
      opacity: 0.87;
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }
}