<div style="height:100%" fxLayout fxLayoutAlign="center center" *ngIf="loading">
  <mat-spinner diameter="60"></mat-spinner>
</div>
<form
    fxFlex
    fxLayout="column"
    *ngIf="ruleForm && !loading"
    [formGroup]="ruleForm">
  <section fxLayout="column" fxLayoutGap="16px">
    <mat-form-field appearance="outline" formGroupName="meta">
      <mat-label>Title</mat-label>
      <input matInput formControlName="name" placeholder="Road overtops in 45 minutes">
      <mat-hint>Suggestion: succinct explanation of what happens when this rule is triggered</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" formGroupName="meta">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-hint>Suggestion: include specific services, structures, and locations that are likely to be impacted</mat-hint>
    </mat-form-field>
    <div fxLayout="column" class="toggle-group importance" formGroupName="meta">
      <label [class.invalid]="ruleForm.controls.meta.controls.priority.touched && ruleForm.controls.meta.controls.priority.invalid">Importance</label>
      <mat-button-toggle-group
          formControlName="priority"
          aria-label="Rule Importance">
        <mat-button-toggle [value]="2"><mat-icon style="vertical-align:text-bottom;color:#43A047">warning</mat-icon> Low impact</mat-button-toggle>
        <mat-button-toggle [value]="1"><mat-icon style="vertical-align:text-bottom;color:#FFA000">warning</mat-icon> Moderate</mat-button-toggle>
        <mat-button-toggle [value]="0"><mat-icon style="vertical-align:text-bottom;color:#C62828">warning</mat-icon> Critical</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section class="source-container">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px">
      <mat-form-field formGroupName="meta" fxFlex="100" class="pad-bottom">
        <mat-label>Type - subtype{{
          ruleForm.get('meta.ruleType')?.disabled ?
            (ruleForm.get('meta.id').value.startsWith('-') ? ' (loading...)' : ' (locked)') : ''
        }}</mat-label>
        <mat-select formControlName="ruleType">
          <mat-option *ngFor="let type of ruleTypes" [value]="type.id">
            {{type.group}} - {{type.descriptor}}
          </mat-option>
        </mat-select>
        <mat-hint>{{ruleType?.description}}</mat-hint>
      </mat-form-field>
      <mat-form-field *ngIf="ruleType?.fields.layer && layers?.length > 1 && !ruleType?.fields.sourceId">
        <mat-label>Source</mat-label>
        <mat-select formControlName="layer">
          <mat-option *ngFor="let layer of layers" [value]="layer.metadata.symbolicName">
            {{layer.metadata.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="ruleType?.fields.layer && layers?.length > 1 && ruleType?.fields.sourceId">
        <mat-label>Source</mat-label>
        <mat-select formControlName="sourceId">
          <mat-option *ngFor="let layer of layers" [value]="layer.metadata.id">
            {{layer.metadata.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="layer?.metadata?.shapes?.length > 1">
        <mat-label>Shape</mat-label>
        <mat-select formControlName="layer">
          <mat-option *ngFor="let shape of layer.metadata.shapes" [value]="shape.id">
            {{shape.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="ruleType?.fields.aggregation && (features?.length > 1 || markers?.length > 1)">
        <mat-label>Aggregation</mat-label>
        <mat-select formControlName="aggregation">
          <mat-option *ngFor="let opt of ruleType.fields.aggregation.options" [value]="opt.id">
            {{opt.label}}
          </mat-option>
        </mat-select>
        <mat-hint align="end"><button class="no-style" (click)="dialog.open(aggregationDialog)">help <mat-icon>help</mat-icon></button></mat-hint>
      </mat-form-field>
    </div>

    <app-feature-select-map
      *ngIf="ruleType?.fields.idList || ruleType?.fields.points"
      [project]="project"
      [(features)]="features"
      [layer]="layer"
      [enableIntersects]="false"
      [(markers)]="markers"
      [invalid]="ruleForm.controls[ruleType?.fields.points ? 'points' : 'idList'].touched && ruleForm.controls[ruleType?.fields.points ? 'points' : 'idList'].invalid"
      [markerLimit]="5"></app-feature-select-map>

  </section>
  <section>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px">
      <mat-form-field *ngIf="ruleType?.fields.dataType" fxFlex="100">
        <mat-label>{{
          ruleForm.value.idList?.length ?
            (dataTypes.length ? 'Data type' : 'loading data types...') :
            'Select features on map'
        }}</mat-label>
        <mat-select formControlName="dataType">
          <mat-option *ngFor="let type of dataTypes" [value]="type?.symbolicName">{{type?.displayName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="ruleType?.fields.thresholdString">
        <mat-label>Threshold name</mat-label>
        <mat-select formControlName="thresholdString">
          <mat-option value="Watch">Watch</mat-option>
          <mat-option value="Warning">Warning</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="ruleType?.fields.probabilityThreshold">
        <mat-label>Chance of precipitation</mat-label>
        <input
            matInput
            formControlName="probabilityThreshold"
            type="number"
            min="1"
            max="100"
            step="0.25"
            placeholder="50">
          <span matSuffix>&#37;</span>
      </mat-form-field>
      <div fxLayout="column" class="toggle-group" *ngIf="ruleType?.fields.thresholdIsUpperBound">
        <label>Threshold behavior</label>
        <mat-button-toggle-group
            formControlName="thresholdIsUpperBound">
          <mat-button-toggle [value]="false">Falls below</mat-button-toggle>
          <mat-button-toggle [value]="true">Rises above</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div
          class="slider-container"
          *ngIf="ruleType?.fields.duration && ruleType.id !== 'DDF'"
          fxFlex="100">
        <label>Duration: {{ durationDisplay(ruleForm.value.duration, true) }}</label>
        <mat-slider
            thumbLabel
            [displayWith]="durationDisplay"
            [step]="ruleType.durationWindow?.step"
            [min]="ruleType.durationWindow?.min"
            [max]="ruleType.durationWindow?.max"
            formControlName="duration"></mat-slider>
      </div>
      <mat-form-field *ngIf="ruleType?.fields.duration && ruleType.id === 'DDF'">
        <mat-label>Table Duration</mat-label>
        <mat-select formControlName="duration">
          <mat-option [value]="0">Any</mat-option>
          <mat-option *ngFor="let duration of durations" [value]="duration">
            {{getDDFDurationLabel(duration)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="ruleType?.fields.frequencyLabel">
        <mat-label>{{frequencies?.length ? 'Frequency' : "Loading table's frequencies..."}}</mat-label>
        <mat-select formControlName="frequencyLabel">
          <mat-option *ngFor="let frequency of frequencies" [value]="frequency">{{frequency}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="ruleType?.fields.threshold">
        <mat-label>Threshold</mat-label>
        <input
            matInput
            formControlName="threshold"
            type="number"
            [min]="ruleForm.get('unit').value === '%' ? 1 : 0.05"
            [max]="ruleForm.get('unit').value === '%' ? 100 : null"
            [step]="ruleForm.get('unit').value === '%' ? 1 : 0.01">
        <span matSuffix *ngIf="units.length < 2">{{units[0].abbr}}</span>
      </mat-form-field>
      <mat-form-field *ngIf="ruleType?.fields.precipitationMinimum">
        <mat-label>Threshold</mat-label>
        <mat-select formControlName="precipitationMinimum">
          <mat-option *ngFor="let opt of ruleType.fields.precipitationMinimum.options" [value]="+opt.id">{{opt.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="ruleType?.fields.unit && units.length > 1" fxFlex="80px">
        <mat-label>Unit</mat-label>
        <mat-select formControlName="unit">
          <mat-option *ngFor="let unit of units" [value]="unit.id">{{unit.abbr}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="ruleType?.fields.windowPast || ruleType?.fields.windowFuture">
      <div fxFlex="100">
        <h3>Check window</h3>
      </div>
      <div
          class="slider-container"
          *ngIf="ruleType?.fields.windowPast"
          [fxFlex]="ruleType?.fields.windowFuture ?
            (21600000 > ruleType.window ? 50 : 35) : 100">
        <label>Past: {{durationDisplay(ruleForm.value.windowPast, true)}}</label>
        <mat-slider thumbLabel [displayWith]="durationDisplay" invert step="900000" min="0" max="21600000" formControlName="windowPast"></mat-slider>
      </div>
      <div
          class="window-clock"
          fxFlex="none"
          [fxHide]="!ruleType?.fields.windowPast || !ruleType?.fields.windowFuture"
          matTooltip="Moment rule is checked">
        <mat-icon inline>watch_later</mat-icon>
      </div>
      <div
          class="slider-container"
          *ngIf="ruleType?.fields.windowFuture"
          [fxFlex]="!ruleType?.fields.windowPast ? 100 :
            'calc('+(21600000 > ruleType.window ? 50 : 65)+'% - 20px)'">
        <label>Future: {{durationDisplay(ruleForm.value.windowFuture, true)}}</label>
        <mat-slider thumbLabel [displayWith]="durationDisplay" step="900000" min="0" [max]="ruleType.window" formControlName="windowFuture"></mat-slider>
      </div>
    </div>
  </section>
</form>
<ng-template #aggregationDialog>
  <mat-dialog-content>
    <h2>Trigger this rule when...</h2>
    <p>... <strong>Any</strong> of the selected feature values cross the threshold.</p>
    <p>... <strong>All</strong> of the selected feature values cross the threshold.</p>
    <p>... an <strong>Average</strong> of all selected feature values crosses the threshold.</p>
  </mat-dialog-content>
</ng-template>