:host {
  .toggle-group {
    margin: 0 0 0.25em 0;
    padding-bottom: 1.34375em;

    label {
      color: rgba(0, 0, 0, 0.6);
      font-size: 13px;
      padding: 0 12px 4px;
    }
    &.importance {
      padding-bottom: 0;

      .mat-button-toggle-group-appearance-standard.ng-invalid.ng-touched {
        border-color: #f44336;
      }

      label {
        padding-top: 16px;

        &.invalid {
          color: #f44336;
        }
      }

      .mat-button-toggle {
        width: 33%;
      }
    }
  }

  section {
    padding: 16px;
  }

  .source-container {
    background-color: #f2f5f5;
  }

  .slider-container {
    mat-slider {
      margin: -4px 0;
      width: 100%;
    }

    label {
      font-size: 75%;
      color: rgba(0, 0, 0, 0.54);
      display: block;
      text-align: center;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }

  .mat-form-field {
    &.pad-bottom {
      padding-bottom: 16px;
    }
  }

  .window-clock {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 14px;
  }
}
