.mat-sidenav-container {
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}
.mat-sidenav {
  min-width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  height: 100vh;
}
.mat-dialog-container {
  position: relative;
  left: 500px;
  top: 500px;
  background-color: white;
  z-index: 100000;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.raised-button {
  /* background-color: rgb(0, 188, 212); */
}

.mat-toolbar {
  z-index: 10;
}

.mat-sidenav {
  width: 40vw;
}
