<div mat-dialog-title fxLayout>
  <div class="title" fxFlex>
    <span>Gauge summary for</span>
    {{data.gauge.name}}
  </div>
  <div>
    <button mat-icon-button mat-dialog-close aria-label="Close Gauge Details Dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <app-hyetograph
      [times]="{end: data.time}"
      [id]="data.gauge.vaiId"
      [update]="timestamp"></app-hyetograph>
  <div class="details-container">
    <div class="detail">
      <label fxFlex>ID</label>
      <span fxFlex>{{data.gauge.vaiId}}</span>
    </div>
    <div class="detail" *ngIf="data.gauge.clientId">
      <label>Client ID</label>
      <span>{{data.gauge.clientId}}</span>
    </div>
    <div class="detail">
      <label>Network name</label>
      <span>{{data.gauge.feedType}}</span>
    </div>
    <div class="detail" *ngIf="data.doUpdates">
      <label>Most recent filtered time</label>
      <span>{{data.gauge.timeFiltered | date:globals.DATETIME_FORMAT:data.project.getOffset(data.gauge.timeFiltered)}}</span>
    </div>
    <div class="detail" *ngIf="data.doUpdates">
      <label>Most recent raw time</label>
      <span>{{data.gauge.timeRaw | date:globals.DATETIME_FORMAT:data.project.getOffset(data.gauge.timeRaw)}}</span>
    </div>
  </div>
  <div class="sums-wrapper" fxLayout="column">
    <div class="sums-label" *ngIf="unit">Recent rainfall in {{unit}}:</div>
    <div class="sums-container" fxFlex="none" fxLayout>
      <div class="sum-item" *ngFor="let sum of data.gauge.sums" fxFlex>
        <div class="hour">{{sum.hours}} hr.</div>
        <div class="sum">{{(sum.sum | number:'1.2-2') || '-'}}</div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-button class="prev-gauge-button" (click)="onPrevGaugeClick()" [disabled]="!data.gauges[gaugeIndex - 1]">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Previous Gauge
    </button>
    <button mat-button class="next-gauge-button" (click)="onNextGaugeClick()" [disabled]="!data.gauges[gaugeIndex + 1]">
      Next Gauge
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>