.title {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 18px;
  line-height: 1em;
  span {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    display: block;
    color: rgba(0,0,0,0.54);
  }
}
.details-container {
  padding: 8px 0;
  @media screen and (min-width: 600px) {
    padding: 16px 0;
  }
  .detail {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin: 0 -8px;
    padding: 4px 8px;
    @media screen and (min-width: 600px) {
      margin: 0 -16px;
      padding: 8px 16px;
    }
    &:nth-child(odd) {
      background: #f5f5f5;
    }
    & > * {
      flex: 1 1 0%;
      box-sizing: border-box;
    }
    label {
      color: rgba(0,0,0,0.54);
      font-size: 12px;
      text-transform: uppercase;

      &:after {
        content: ':';
      }
    }
  }
}

.prev-gauge-button {
  margin: 8px 0 0 0;
  padding: 0 16px 0 8px;
}

.next-gauge-button {
  margin: 8px 0 0 0;
  padding: 0 8px 0 16px;
}

.sums-wrapper {
  margin: 0 -8px;
  padding: 0 8px;
  background-color: #f5f5f5;
  @media screen and (min-width: 600px) {
    margin: 0 -16px;
    padding: 0 16px;
  }
  .sums-label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    padding: 4px 0;
    text-transform: uppercase;
  }
  .sums-container {
    .sum-item {
      padding: 8px 0;
      text-align: center;
      &:nth-child(even) {
        background: #fff;
      }
      .hour {
        font-weight: bold;
        font-size: 14px;
      }
      .sum {
        font-family: 'Ubuntu Mono', Courier, monospace;
        font-size: 1.15em;
      }
    }
  }
}