<h1>{{data?.title || 'Are you sure?'}}</h1>
<p>{{data?.message || 'Overwrite changes to current alert'}}</p>
<mat-dialog-actions fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
  <button mat-raised-button mat-dialog-close>{{data?.rejectBtn || 'Cancel'}}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">{{data?.confirmBtn || 'Confirm'}}</button>
</mat-dialog-actions>
