:host {
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .period-container {
    .mat-checkbox {
      margin-bottom: 8px;
    }

    .mat-form-field.period-select {
      min-width: 100px;
    }
  }

  .tools-container {
    padding-left: 8px;
    button {
      padding: 0 12px;
      // screens greater than the size of the timepicker (336px)
      @media screen and (min-width: 337px) {
        padding: 0 16px;
      }
    }
  }

  .mat-form-field {
    input {
      vertical-align: text-bottom;
    }
    &.time {
      min-width: 85px;
      .mat-icon {
        vertical-align: text-bottom;
        color: rgba(0,0,0,0.54);
        margin-right: 2px;
      }
    }
  }

  .error {
    font-size: 0.85em;
    padding-bottom: 8px;
    font-style: italic;
    color: #f44336;
  }
}