<form [formGroup]="timesForm" (ngSubmit)="onSave()">
  <div class="time-container">
    <div class="period-container" *ngIf="!momentOnly" fxLayout>
      <mat-form-field class="period-select" fxFlex>
        <mat-label>Duration</mat-label>
        <mat-select [(value)]="selectedPeriod" (selectionChange)="onPeriodChange($event)">
          <mat-option *ngIf="!timesForm.value.realtime" [value]="0">Custom</mat-option>
          <mat-option *ngFor="let period of periods" [value]="period.value">
            {{period.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="error" *ngIf="timesForm.errors?.range">Invalid start & end times</div>
  <div class="error" *ngIf="timesForm.errors?.maximums">Times must not exceed {{max | date:globals.DATETIME_FORMAT:tzOffset}}</div>
  <div class="error" *ngIf="timesForm.errors?.duration">Duration must not exceed 35 days</div>

  <div class="time-container" [hidden]="done || (enableRealtime && timesForm.value.realtime)">
    <div class="start-container" fxLayout fxLayoutGap="4px" *ngIf="!momentOnly">
      <mat-form-field class="date" fxFlex="55">
        <mat-label>Start ({{project.timezone}})</mat-label>
        <mat-datepicker-toggle matPrefix [for]="startDate"></mat-datepicker-toggle>
        <input matInput
            [matDatepicker]="startDate"
            name="startDate"
            [max]="matDatepickerMax"
            (focus)="startDate.open()"
            formControlName="startDate">
        <mat-datepicker #startDate [touchUi]="media.isActive('lt-md')"></mat-datepicker>
        <mat-error *ngIf="timesForm.get('startDate').errors?.incompleteDate">Format: YYYY-MM-DD</mat-error>
      </mat-form-field>
      <mat-form-field class="time" fxFlex>
        <mat-icon matPrefix inline>access_time</mat-icon>
        <input matInput
            type="time"
            name="startTime"
            step="300"
            formControlName="startTime">
          <mat-error *ngIf="timesForm.get('startTime').errors?.incompleteTime">Invalid time</mat-error>
      </mat-form-field>
    </div>
    <div class="end-container" fxLayout fxLayoutGap="4px">
        <mat-form-field class="date" fxFlex="55">
          <mat-label>{{momentOnly ? 'Date & time' : 'End' }} ({{project.timezone}})</mat-label>
          <mat-datepicker-toggle matPrefix [for]="endDate"></mat-datepicker-toggle>
          <input matInput
              [matDatepicker]="endDate"
              name="endDate"
              [max]="matDatepickerMax"
              (focus)="endDate.open()"
              formControlName="endDate">
          <mat-datepicker #endDate [touchUi]="media.isActive('lt-md')"></mat-datepicker>
          <mat-error *ngIf="timesForm.get('endDate').errors?.incompleteDate">Format: YYYY-MM-DD</mat-error>
        </mat-form-field>
        <mat-form-field class="time" fxFlex>
          <mat-icon matPrefix inline>access_time</mat-icon>
          <input matInput
              type="time"
              name="endTime"
              step="300"
              formControlName="endTime">
            <mat-error *ngIf="timesForm.get('endTime').errors?.incompleteTime">Invalid time</mat-error>
        </mat-form-field>
      </div>
  </div>

  <div class="tools-container" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
    <div fxFlex class="real-time" [hidden]="!enableRealtime">
      <mat-slide-toggle formControlName="realtime" disableRipple>
        Real-time
      </mat-slide-toggle>
    </div>
    <div fxFlex [hidden]="enableRealtime"></div>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
    <button
        type="submit"
        mat-raised-button
        [disabled]="timesForm.invalid"
        [color]="enableRealtime && timesForm.value.realtime ? 'accent' : 'primary'">
      {{enableRealtime && timesForm.value.realtime ? 'Update' : 'Save'}}
    </button>
  </div>

</form>