/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

// @import './app/features/auth/amplify-theme.scss';
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Open+Sans:400,700|Ubuntu|Ubuntu+Mono&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #e5ecec;
}

p {
  height: auto;
}

span {
  color: inherit;
}

a.as-btn:link,
a.as-btn:visited,
a.as-btn:active {
  color: rgba($color: #000000, $alpha: 0.87);
}

button {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;

  &.no-style {
    text-transform: none;
    background: none;
    color: #00bcd4;
    border: none;
    padding: 0;
    outline: none;
    font: inherit;
    cursor: pointer;

    &:hover:not(:disabled) {
      color: #0097a7;
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.54);
      cursor: default !important;
    }
  }

  &:not(.mat-icon-button) span.mat-button-wrapper > .mat-icon {
    margin-top: -2px;
  }
}

.error {
  color: #c62828;

  a {
    font-weight: 700;

    &:link {
      color: #c62828;
    }

    &:hover {
      color: #ff1744;
    }
  }
}

// forecast app
app-forecast .mapboxgl-map .mapboxgl-control-container {
  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right {
    margin-bottom: 64px;

    @media screen and (min-width: 600px) {
      margin-bottom: 90px;
    }
  }

  .mapboxgl-ctrl-bottom-left {
    @media screen and (min-width: 900px) {
      margin-bottom: 0;
    }
  }

  .mapboxgl-ctrl-bottom-right {
    @media screen and (min-width: 1000px) {
      margin-bottom: 0;
    }
  }
}

// maps
.boxdraw {
  background: rgba($color: #006064, $alpha: 0.1);
  border: 2px solid #00acc1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

$pane-width: 280px;

app-maps {
  .main-map {
    &.layer-pane {
      .mapboxgl-ctrl-bottom-left,
      .mapboxgl-ctrl-top-left {
        left: $pane-width;
      }
    }

    &.is-animating {
      .mapboxgl-ctrl-top-right {
        display: none;
      }
    }

    &.elements-pane {
      .mapboxgl-ctrl-top-right {
        right: calc(#{$pane-width} + 10px);
      }
    }

    .mapboxgl-map .mapboxgl-control-container {
      .mapboxgl-ctrl-top-left {
        margin-left: 20px;
      }

      .mapboxgl-ctrl-bottom-left,
      .mapboxgl-ctrl-top-left {
        transition: left 200ms cubic-bezier(0, 0, 0.2, 1);
      }

      .mapboxgl-ctrl-top-right {
        transition: right 200ms cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }
}

// Globally scoped styles
#profile-container.mobile .mat-card-header-text {
  overflow: hidden;
  margin-right: 0;
}

.mat-form-field.no-label {
  .mat-form-field-infix {
    border-top: none;
    line-height: 1;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0.5;
  }
}

snack-bar-container {
  &.error,
  &.old {
    background-color: #b71c1c;
  }

  &.late {
    background-color: #ffc107;
    color: rgba($color: #000, $alpha: 0.87);
    .mat-simple-snackbar-action {
      color: rgba($color: #000, $alpha: 0.87);
    }
  }
}

// maps general
.mapboxgl-ctrl.mapboxgl-ctrl-group {
  border-radius: 2px;
}

.mat-list-base[dense]
  .layer-container.mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content {
  padding: 0 8px;

  .mat-list-text {
    padding-left: 8px;
  }
}

// maps drag-drop
.layer-container.mat-list-item {
  color: #424242;

  .mat-list-icon {
    padding: 0;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    box-sizing: content-box;
    border-radius: 50%;
    line-height: inherit;
  }

  &.cdk-drag-preview {
    z-index: 100;
    font-size: 12px;
    height: 48px;
    background: #eee;
    opacity: 0.5;
    border-radius: 2px;
    @include mat.elevation(6);

    .mat-list-item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 0 8px;
      position: relative;
      height: inherit;

      .mat-list-icon {
        padding: 0;
      }

      .mat-list-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 0 0 8px;

        & > * {
          margin: 0;
          padding: 0;
          font-weight: 400;
          font-size: inherit;
        }
        .mat-line {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          box-sizing: border-box;
        }
      }

      .secondary-actions {
        display: flex;
      }
    }
  }

  .reorder {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    text-align: center;
    cursor: grab;

    &.disabled,
    &.disabled:active {
      color: rgba($color: #000000, $alpha: 0.26);
      cursor: default;
    }

    .mat-icon {
      vertical-align: middle;
    }
  }
}

.cdk-overlay-container {
  .cdk-overlay-backdrop.hide-backdrop {
    opacity: 0;
  }

  .cdk-overlay-dark-backdrop {
    backdrop-filter: blur(1px);
  }

  .no-padding {
    .mat-dialog-container {
      padding: 0;
    }
  }

  .drop-down {
    .mat-dialog-container {
      padding: 0;
      @include mat.elevation(3);
    }
  }

  .details-dialog {
    .mat-dialog-container {
      padding: 8px;

      @media screen and (min-width: 600px) {
        padding: 16px;
      }
    }

    .mat-dialog-title {
      font-family: 'Ubuntu', sans-serif;
    }

    .mat-dialog-content {
      margin: 0 -8px;
      padding: 0 8px;

      @media screen and (min-width: 600px) {
        margin: 0 -16px;
        padding: 0 16px;
      }

      .mat-list-base {
        margin: 0 -8px;

        @media screen and (min-width: 600px) {
          margin: 0 -16px;
        }

        .mat-list-item .mat-list-item-content {
          padding: 0 8px;

          @media screen and (min-width: 600px) {
            padding: 0 16px;
          }

          .mat-list-text {
            h3 {
              font-size: 12px;
              font-family: 'Ubuntu', sans-serif;
            }

            p {
              font-family: 'Ubuntu Mono', monospace;
              font-size: 18px;
            }
          }
        }
      }

      .mat-form-field-label {
        font-family: 'Ubuntu', sans-serif;
      }

      .mat-input-element {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 16px;
      }
    }
  }
}

.mat-table {
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: 8px;

    @media screen and (min-width: 600px) {
      padding-left: 16px;
    }
  }

  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  th.mat-header-cell:last-of-type {
    padding-right: 8px;

    @media screen and (min-width: 600px) {
      padding-right: 16px;
    }
  }
}

.mat-tab-group {
  .mat-tab-header {
    background-color: #f5f5f5;

    .mat-tab-label {
      font-weight: bold;

      &.mat-tab-label-active {
        opacity: 1;
      }
    }
  }

  .mat-tab-body-wrapper {
    flex-grow: 1;
  }
}

// placed here in order to avoid using the depracated ::ng-deep
#gauge-status-viewport {
    .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
}

[id^="chart-"] {
  .c3-regions {
    .region-watch {
      fill: #fd0;
    }

    .region-warn {
      fill: #ff0000;
    }
  }

  .c3-grid {
    .c3-xgrid-line {
      pointer-events: none;

      &.now-label text {
        transform: rotate(-90deg) translateY(16px);
      }
      line {
        stroke: #999;
      }

      text {
        font-weight: bold;
        font-size: 12px;
        fill: #757575;
      }
    }
  }

  .c3-line {
    stroke-width: 2px;
  }

  .c3-axis {
    &.c3-axis-y,
    &.c3-axis-y2 {
      .c3-axis-y-label,
      .c3-axis-y2-label {
        font-weight: bold;
        font-size: 12px;
        fill: #757575;
      }

      .tick {
        font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
      }
    }
  }

  .c3-chart-lines {
    [class*='-lines-obs-'] {
      opacity: 0 !important;
    }

    [class*='-circles-obs-'] circle {
      opacity: 1 !important;
    }

    .c3-target-cumulative,
    .c3-target-iCumulative {
      .c3-circles > circle.c3-circle {
        display: none;

        &._expanded_ {
          display: inherit;
        }
      }
    }
  }
}
