<div fxLayout="row" fxLayoutAlign="start center">
  <div class="title" fxFlex>
    <h3>{{layer?.metadata.name}}</h3>
  </div>
  <button mat-icon-button (click)="optionsService.closeOptions()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div *ngFor="let option of options; last as $last" [ngSwitch]="option.type">

  <div class="option-container" *ngSwitchCase="'slider'" fxLayout="column">
    <label>{{option.label}}</label>
    <div class="slider-wrap">
      <mat-slider
          min="option.range[0]" [max]="option.range[1]" step="0.05"
          [value]="option.value"
          (change)="onChange(option, $event)"
          tickInterval="0.05"></mat-slider>
    </div>
  </div>

  <div class="option-container" *ngSwitchCase="'input'">
    <div *ngIf="option.autoMax?.show">
      <mat-checkbox
          [(ngModel)]="option.autoMax.checked"
          (change)="onChange(option)">
        Scale Auto Max
      </mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <form>
        <mat-form-field>
          <input
              matInput
              type="number"
              [disabled]="option.autoMax?.checked"
              [placeholder]="option.label"
              [min]="option.range[0]" [max]="option.range[1]" step="0.25"
              [(ngModel)]="option.value"
              name="option.label">
        </mat-form-field>
        <button type="submit" [disabled]="option.autoMax?.checked" (click)="onChange(option)" mat-button>set</button>
      </form>
    </div>
  </div>

  <div class="option-container" *ngSwitchCase="'checkbox'" fxLayout="column">
    <mat-checkbox
        [ngModel]="option.value"
        (change)="onChange(option, {value: option.binaries[$event.checked ? 1 : 0]})">
      {{option.label}}
    </mat-checkbox>
  </div>

  <div
      [fxHide]="smallScreen && (option.label === 'Show Tooltips')"
      class="option-container"
      *ngSwitchCase="'slide-toggle'"
      fxLayout="column">
    <mat-slide-toggle
        [ngModel]="option.value"
        (change)="onChange(option, {value: option.binaries[$event.checked ? 1 : 0]})">
      {{option.label}}
    </mat-slide-toggle>
  </div>

  <mat-divider *ngIf="!$last"></mat-divider>

</div>