:host {
  background: #EEE;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.87);

  .title {
    overflow: hidden;

    h3 {
      font-family: Ubuntu, "Helvetica Neue", sans-serif;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      box-sizing: border-box;
      margin: 0;
    }
  }
  .option-container {
    padding: 8px 0;

    label {
      display: block;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.54);
    }
    .slider-wrap {
      margin-left: -8px;
      width: calc(100% + 8px);

      .mat-slider {
        width: 100%;
      }
    }
  }
}