<div>
  <mat-action-list dense class="feature-selection" *ngIf="features.length && !selectedFeature">
    <button mat-list-item
        [matTooltip]="radar.name"
        matTooltipShowDelay="750"
        class="feature"
        *ngFor="let feat of features; let i = index; let isLast = last"
        (click)="selectFeature(feat)">
      {{feat.properties?.name || feat.properties?.id || feat.id }}
      <mat-divider *ngIf="!isLast"></mat-divider>
    </button>
  </mat-action-list>

  <div *ngIf="!!selectedFeature && !!radar">
    <div class="chart-head">
      <h3>{{selectedFeature.properties?.name || radar.name}}</h3>
      <span>
        {{selectedFeature.properties?.id || selectedFeature.id}}
      </span>
    </div>
    <app-hyetograph
        class="chart-wrapper"
        [times]="times"
        [source]="source"
        [attributes]="chart"
        [id]="selectedFeature.properties?.id || selectedFeature.id"
        [interval]="source.interval"
        [duration]="source.duration"
        [update]="timestamp"></app-hyetograph>
  </div>