:host {
  display: block;

  .app-button {
    width: 72px;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.87);
    fill: inherit;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 4px !important;
    text-align: center;
    user-select: none;

    &:hover:not(:disabled) {
      color: inherit;
      border-color: #EEE;
    }
    &.disabled {
      background-color: #F5F5F5;
      pointer-events: none;
      cursor: default;

      &, & .mat-icon {
        color: #757575 !important;
      }
    }
    & .title {
      font-size: 11px;
      height: 24px;
      display: block;
    }
    & .mat-icon-inline {
      width: 32px;
    }
  }
}