<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>platform documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">platform documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>PDFDialogComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/hydroplotter/dialog.service.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-pdf-dialog</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;column&quot;&gt;
  &lt;div&gt;
    &lt;mat-form-field&gt;
      &lt;mat-select placeholder&#x3D;&quot;Paper Size&quot; [(ngModel)]&#x3D;&quot;size&quot;&gt;
        &lt;mat-option *ngFor&#x3D;&quot;let option of sizeOptions&quot; [value]&#x3D;&quot;option.value&quot;&gt;
          {{ option.viewValue }}
        &lt;/mat-option&gt;
      &lt;/mat-select&gt;
    &lt;/mat-form-field&gt;
  &lt;/div&gt;
  &lt;div class&#x3D;&quot;row&quot;&gt;
    &lt;button mat-raised-button (click)&#x3D;&quot;cancel()&quot;&gt;Cancel&lt;/button&gt;
    &lt;button mat-raised-button (click)&#x3D;&quot;save()&quot;&gt;Save&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#data">data</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#dialogRef">dialogRef</a>
                            </li>
                            <li>
                                <a href="#size">size</a>
                            </li>
                            <li>
                                <a href="#sizeOptions">sizeOptions</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#cancel">cancel</a>
                            </li>
                            <li>
                                <a href="#save">save</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(dialogRef: <a href="../components/SettingsDialogComponent.html">MatDialogRef<SettingsDialogComponent></a>, data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="149" class="link-to-prism">src/app/features/hydroplotter/dialog.service.ts:149</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>dialogRef</td>
                                                  
                                                        <td>
                                                                        <code><a href="../components/SettingsDialogComponent.html" target="_self" >MatDialogRef&lt;SettingsDialogComponent&gt;</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>data</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="cancel"></a>
                    <span class="name">
                        <b>
                            cancel
                        </b>
                        <a href="#cancel"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>cancel()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="155"
                            class="link-to-prism">src/app/features/hydroplotter/dialog.service.ts:155</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="save"></a>
                    <span class="name">
                        <b>
                            save
                        </b>
                        <a href="#save"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>save()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="159"
                            class="link-to-prism">src/app/features/hydroplotter/dialog.service.ts:159</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>    <code>{ paperSize: string; }</code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="data"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            data</b>
                            <a href="#data"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @Inject(MAT_DIALOG_DATA)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="153" class="link-to-prism">src/app/features/hydroplotter/dialog.service.ts:153</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="dialogRef"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            dialogRef</b>
                            <a href="#dialogRef"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../components/SettingsDialogComponent.html" target="_self" >MatDialogRef&lt;SettingsDialogComponent&gt;</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="152" class="link-to-prism">src/app/features/hydroplotter/dialog.service.ts:152</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="size"></a>
                        <span class="name">
                            <b>
                            size</b>
                            <a href="#size"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="143" class="link-to-prism">src/app/features/hydroplotter/dialog.service.ts:143</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="sizeOptions"></a>
                        <span class="name">
                            <b>
                            sizeOptions</b>
                            <a href="#sizeOptions"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>[]</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[
    {value: &#x27;letter&#x27;, viewValue: &#x27;Letter/ANSI A&#x27;},
    {value: &#x27;ledger&#x27;, viewValue: &#x27;Ledger/ANSI B&#x27;},
    {value: &#x27;d&#x27;, viewValue: &#x27;ANSI D&#x27;},
    {value: &#x27;e&#x27;, viewValue: &#x27;ANSI E&#x27;}
  ]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="144" class="link-to-prism">src/app/features/hydroplotter/dialog.service.ts:144</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Inject } from &#x27;@angular/core&#x27;;
import { MatDialogRef, MAT_DIALOG_DATA } from &#x27;@angular/material&#x27;;

@Component({
  selector: &#x27;app-settings-dialog&#x27;,
  template: &#x60;
  &lt;div class&#x3D;&quot;container&quot;&gt;
    &lt;div class&#x3D;&quot;row&quot;&gt;
      &lt;div class&#x3D;&quot;row&quot;&gt;
        &lt;strong&gt;Start Date:&lt;/strong&gt;
        &lt;input matInput [(ngModel)]&#x3D;&quot;startDate&quot; placeholder&#x3D;&quot;Start Date&quot;&gt;
      &lt;/div&gt;
      &lt;p&gt;
      &lt;div class&#x3D;&quot;row&quot;&gt;
        &lt;strong&gt;End Date:&lt;/strong&gt;
        &amp;nbsp;&lt;input matInput [(ngModel)]&#x3D;&quot;endDate&quot; placeholder&#x3D;&quot;End Date&quot;&gt;
      &lt;/div&gt;
      &lt;/div&gt;
    &lt;p&gt;
    &lt;table&gt;
      &lt;tr&gt;
        &lt;th&gt;Location&lt;/th&gt;
        &lt;th&gt;Aggregation&lt;/th&gt;
        &lt;th&gt;Point Style&lt;/th&gt;
        &lt;th&gt;Color&lt;/th&gt;
      &lt;/tr&gt;
      &lt;tr *ngFor&#x3D;&quot;let datum of dataSet&quot;&gt;
        &lt;td&gt;{{datum.dataSet}}&lt;/td&gt;
        &lt;td&gt;&lt;mat-select placeholder&#x3D;&quot;Aggregation&quot; [(ngModel)]&#x3D;&quot;datum.aggregation&quot; style&#x3D;&quot;width:200px&quot;&gt;
              &lt;mat-option *ngFor&#x3D;&quot;let option of aggOptions&quot; [value]&#x3D;&quot;option.value&quot;&gt;
                {{ option.viewValue }}
              &lt;/mat-option&gt;
            &lt;/mat-select&gt;
        &lt;/td&gt;
        &lt;td&gt;&lt;mat-select placeholder&#x3D;&quot;Style&quot; [(ngModel)]&#x3D;&quot;datum.style&quot; style&#x3D;&quot;width:200px&quot;&gt;
              &lt;mat-option *ngFor&#x3D;&quot;let option of styleOptions&quot; [value]&#x3D;&quot;option.value&quot;&gt;
                {{ option.viewValue }}
              &lt;/mat-option&gt;
            &lt;/mat-select&gt;
        &lt;/td&gt;
        &lt;td&gt;
          &lt;input [(colorPicker)]&#x3D;&quot;datum.color&quot; [style.background]&#x3D;&quot;datum.color&quot; size&#x3D;&quot;5&quot; /&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;
    &lt;p&gt;
    &lt;button mat-raised-button (click)&#x3D;&quot;submit()&quot;&gt;Submit&lt;/button&gt;
  &lt;/div&gt;
  &#x60;,
})
export class SettingsDialogComponent {
  original: any;
  dataSet: Array&lt;any&gt;;
  ogDataSets: Array&lt;any&gt;;
  startDate: Date;
  endDate: Date;
  aggregation: number;
  colors: Array&lt;any&gt;;
  aggOptions &#x3D; [
    {value: &#x27;AUTO&#x27;, viewValue: &#x27;None&#x27;},
    {value: &#x27;HOURLY&#x27;, viewValue: &#x27;1 Hour&#x27;},
    {value: &#x27;SIX_HOUR&#x27;, viewValue: &#x27;6 Hours&#x27;},
    {value: &#x27;DAILY&#x27;, viewValue: &#x27;Daily&#x27;},
  ];
  styleOptions &#x3D; [
    {value: &#x27;solid_line&#x27;, viewValue: &#x27;Line&#x27;},
    {value: &#x27;dashed_line&#x27;, viewValue: &#x27;Dashed Line&#x27;},
    {value: &#x27;circle&#x27;, viewValue: &#x27;Circle&#x27;},
    {value: &#x27;triangle&#x27;, viewValue: &#x27;Triangle&#x27;}
  ];

  constructor(
    public dialogRef: MatDialogRef&lt;SettingsDialogComponent&gt;,
    @Inject(MAT_DIALOG_DATA) public data: any) {
      this.ogDataSets &#x3D; data.dataSets;
      this.original &#x3D; data.original;
      this.startDate &#x3D; data.startDate;
      this.endDate &#x3D; data.endDate;
      this.aggregation &#x3D; data.aggregation;
      this.dataSet &#x3D; data.dataSets;
      this.colors &#x3D; data.colors;
    }

    getData() {
      const selectors: Array&lt;any&gt; &#x3D; new Array&lt;any&gt;();
      if (this.ogDataSets.length &lt;&#x3D; 0) {
        for (const ds in this.original) {
          if (ds) {
            selectors.push({label: this.original[ds], display: true});
          }
        }
      } else {
        for (const ds in this.ogDataSets) {
          if (ds) {
            selectors.push({label: this.ogDataSets[ds], display: true });
          }
        }
        for (const ds in this.original) {
          if (!this.ogDataSets.includes(this.original[ds])) {
            selectors.push({label: this.original[ds], display: false});
          }
        }
      }
      return selectors;
    }

    submit() {
      this.dialogRef.close();
      const returnArray: Array&lt;any&gt; &#x3D; new Array&lt;any&gt;();

      for (const ds in this.dataSet) {
        if (this.dataSet[ds].display) {
          returnArray.push(this.dataSet[ds].label);
        }
      }

      return {startDate: this.startDate, endDate: this.endDate, aggregation: this.aggregation,
         dataSets: returnArray};
    }
}

@Component({
  selector: &#x27;app-pdf-dialog&#x27;,
  template: &#x60;
    &lt;div class&#x3D;&quot;column&quot;&gt;
      &lt;div&gt;
        &lt;mat-form-field&gt;
          &lt;mat-select placeholder&#x3D;&quot;Paper Size&quot; [(ngModel)]&#x3D;&quot;size&quot;&gt;
            &lt;mat-option *ngFor&#x3D;&quot;let option of sizeOptions&quot; [value]&#x3D;&quot;option.value&quot;&gt;
              {{ option.viewValue }}
            &lt;/mat-option&gt;
          &lt;/mat-select&gt;
        &lt;/mat-form-field&gt;
      &lt;/div&gt;
      &lt;div class&#x3D;&quot;row&quot;&gt;
        &lt;button mat-raised-button (click)&#x3D;&quot;cancel()&quot;&gt;Cancel&lt;/button&gt;
        &lt;button mat-raised-button (click)&#x3D;&quot;save()&quot;&gt;Save&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &#x60;
})
export class PDFDialogComponent {
  size: string;
  sizeOptions &#x3D; [
    {value: &#x27;letter&#x27;, viewValue: &#x27;Letter/ANSI A&#x27;},
    {value: &#x27;ledger&#x27;, viewValue: &#x27;Ledger/ANSI B&#x27;},
    {value: &#x27;d&#x27;, viewValue: &#x27;ANSI D&#x27;},
    {value: &#x27;e&#x27;, viewValue: &#x27;ANSI E&#x27;}
  ];

  constructor(
    public dialogRef: MatDialogRef&lt;SettingsDialogComponent&gt;,
    @Inject(MAT_DIALOG_DATA) public data: any) {}

    cancel() {
      this.dialogRef.close();
    }

    save() {
      this.dialogRef.close();
      return {paperSize: this.size};
    }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="column">  <div>    <mat-form-field>      <mat-select placeholder="Paper Size" [(ngModel)]="size">        <mat-option *ngFor="let option of sizeOptions" [value]="option.value">          {{ option.viewValue }}        </mat-option>      </mat-select>    </mat-form-field>  </div>  <div class="row">    <button mat-raised-button (click)="cancel()">Cancel</button>    <button mat-raised-button (click)="save()">Save</button>  </div></div></div>'
    var COMPONENTS = [{'name': 'AccessManagerComponent', 'selector': 'app-access-manager'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'AppMenuComponent', 'selector': 'nav-app-menu'},{'name': 'AvatarComponent', 'selector': 'app-avatar'},{'name': 'ChartComponent', 'selector': 'app-chart'},{'name': 'CompaniesComponent', 'selector': 'app-companies'},{'name': 'CompanyComponent', 'selector': 'app-company'},{'name': 'DashboardComponent', 'selector': 'app-dashboard'},{'name': 'DetailsPaneComponent', 'selector': 'app-details-pane'},{'name': 'GaugeDetailComponent', 'selector': 'app-gauge-detail'},{'name': 'GaugeStatusComponent', 'selector': 'app-gauge-status'},{'name': 'GridComponent', 'selector': 'app-grid'},{'name': 'GroupComponent', 'selector': 'app-groups'},{'name': 'HydrographComponent', 'selector': 'app-hydrograph'},{'name': 'HydroplotterComponent', 'selector': 'app-hydroplotter'},{'name': 'HyetographComponent', 'selector': 'app-hyetograph'},{'name': 'LayerListComponent', 'selector': 'app-layer-list'},{'name': 'LayerPaneComponent', 'selector': 'app-layer-pane'},{'name': 'LayerSelectComponent', 'selector': 'app-layer-select'},{'name': 'MapsComponent', 'selector': 'app-maps'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'NewUserComponent', 'selector': 'app-new-user'},{'name': 'PageNotFoundComponent', 'selector': 'app-404'},{'name': 'PDFDialogComponent', 'selector': 'app-pdf-dialog'},{'name': 'PickerPanelComponent', 'selector': 'app-picker-panel'},{'name': 'PictureDialogComponent', 'selector': 'app-picture-dialog'},{'name': 'PointImageButtonComponent', 'selector': 'app-point-image-button'},{'name': 'PopupContentComponent', 'selector': 'app-popup-content'},{'name': 'ProfileComponent', 'selector': 'app-profile'},{'name': 'RequestComponent', 'selector': 'app-request'},{'name': 'ResetComponent', 'selector': 'app-reset'},{'name': 'SettingsDialogComponent', 'selector': 'app-settings-dialog'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'TimeControlsComponent', 'selector': 'app-time-controls'},{'name': 'TimeControlsComponent', 'selector': 'app-time-controls'},{'name': 'TimepickerComponent', 'selector': 'app-timepicker'},{'name': 'UserDetailComponent', 'selector': 'app-user-detail'},{'name': 'UserMenuComponent', 'selector': 'nav-user-menu'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'WatchpointsComponent', 'selector': 'app-watchpoints'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'PDFDialogComponent'};
</script>
<script src="../js/tree.js"></script>














                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'PDFDialogComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
