<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>platform documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">platform documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>TimeControlsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/gauge-status/time-controls/time-controls.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-time-controls</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>:host {
      display: block;
      padding: 8px;
    },.tools {
      margin: 8px -8px -8px;
      padding: 8px;
      background-color: #F5F5F5;
      border-top: 1px solid rgba(0,0,0,0.12);
    },.mat-slide-toggle { margin: 8px 0 16px; }</code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;mat-slide-toggle
    [(ngModel)]&#x3D;&quot;doUpdates&quot;&gt;Auto-update&lt;/mat-slide-toggle&gt;
&lt;app-timepicker
    *ngIf&#x3D;&quot;!loading &amp;&amp; !doUpdates&quot;
    [times]&#x3D;&quot;time&quot;
    (timesChange)&#x3D;&quot;onChange($event)&quot;
    [enableRange]&#x3D;&quot;false&quot; &gt;&lt;/app-timepicker&gt;
&lt;div
    class&#x3D;&quot;tools&quot;
    *ngIf&#x3D;&quot;doUpdates&quot;
    fxLayout
    fxLayoutAlign&#x3D;&quot;end center&quot;
    fxLayoutGap&#x3D;&quot;8px&quot;&gt;
  &lt;button type&#x3D;&quot;button&quot;
      mat-button
      mat-dialog-close&gt;Cancel&lt;/button&gt;
  &lt;button type&#x3D;&quot;button&quot;
      mat-raised-button
      color&#x3D;&quot;accent&quot;
      (click)&#x3D;&quot;doRefresh()&quot;&gt;Update now&lt;/button&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#doUpdates">doUpdates</a>
                            </li>
                            <li>
                                <a href="#loading">loading</a>
                            </li>
                            <li>
                                <a href="#refDoUpadtes">refDoUpadtes</a>
                            </li>
                            <li>
                                <a href="#refTime">refTime</a>
                            </li>
                            <li>
                                <a href="#time">time</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#doRefresh">doRefresh</a>
                            </li>
                            <li>
                                <a href="#onChange">onChange</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(dialogRef: MatDialogRef<TimeControlsComponent>, data)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:48</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>dialogRef</td>
                                                  
                                                        <td>
                                                                    <code>MatDialogRef&lt;TimeControlsComponent&gt;</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>data</td>
                                                  
                                                        <td>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="doRefresh"></a>
                    <span class="name">
                        <b>
                            doRefresh
                        </b>
                        <a href="#doRefresh"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>doRefresh()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="60"
                            class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:60</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onChange"></a>
                    <span class="name">
                        <b>
                            onChange
                        </b>
                        <a href="#onChange"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onChange(event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="64"
                            class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:64</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="doUpdates"></a>
                        <span class="name">
                            <b>
                            doUpdates</b>
                            <a href="#doUpdates"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:48</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="loading"></a>
                        <span class="name">
                            <b>
                            loading</b>
                            <a href="#loading"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="47" class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:47</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="refDoUpadtes"></a>
                        <span class="name">
                            <b>
                            refDoUpadtes</b>
                            <a href="#refDoUpadtes"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="45" class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:45</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="refTime"></a>
                        <span class="name">
                            <b>
                            refTime</b>
                            <a href="#refTime"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date" target="_blank" >Date</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="44" class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:44</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="time"></a>
                        <span class="name">
                            <b>
                            time</b>
                            <a href="#time"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>Date[]</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="46" class="link-to-prism">src/app/features/gauge-status/time-controls/time-controls.component.ts:46</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Inject } from &#x27;@angular/core&#x27;;
import { MAT_DIALOG_DATA, MatDialogRef } from &#x27;@angular/material&#x27;;

@Component({
  selector: &#x27;app-time-controls&#x27;,
  template: &#x60;
    &lt;mat-slide-toggle
        [(ngModel)]&#x3D;&quot;doUpdates&quot;&gt;Auto-update&lt;/mat-slide-toggle&gt;
    &lt;app-timepicker
        *ngIf&#x3D;&quot;!loading &amp;&amp; !doUpdates&quot;
        [times]&#x3D;&quot;time&quot;
        (timesChange)&#x3D;&quot;onChange($event)&quot;
        [enableRange]&#x3D;&quot;false&quot; &gt;&lt;/app-timepicker&gt;
    &lt;div
        class&#x3D;&quot;tools&quot;
        *ngIf&#x3D;&quot;doUpdates&quot;
        fxLayout
        fxLayoutAlign&#x3D;&quot;end center&quot;
        fxLayoutGap&#x3D;&quot;8px&quot;&gt;
      &lt;button type&#x3D;&quot;button&quot;
          mat-button
          mat-dialog-close&gt;Cancel&lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot;
          mat-raised-button
          color&#x3D;&quot;accent&quot;
          (click)&#x3D;&quot;doRefresh()&quot;&gt;Update now&lt;/button&gt;
    &lt;/div&gt;
  &#x60;,
  styles: [
    &#x60;:host {
      display: block;
      padding: 8px;
    }&#x60;,
    &#x60;.tools {
      margin: 8px -8px -8px;
      padding: 8px;
      background-color: #F5F5F5;
      border-top: 1px solid rgba(0,0,0,0.12);
    }&#x60;,
    &#x60;.mat-slide-toggle { margin: 8px 0 16px; }&#x60;
  ]
})
export class TimeControlsComponent {
  refTime: Date;
  refDoUpadtes: boolean;
  time: Date[];
  loading &#x3D; false;
  doUpdates: boolean;

  constructor(
    private dialogRef: MatDialogRef&lt;TimeControlsComponent&gt;,
    @Inject(MAT_DIALOG_DATA) data
  ) {
    this.refTime &#x3D; data.time.getTime();
    this.time &#x3D; [ data.time ];
    this.refDoUpadtes &#x3D; data.doUpdates;
    this.doUpdates &#x3D; data.doUpdates;
  }

  doRefresh() {
    this.dialogRef.close({ doUpdates: true });
  }

  onChange(event) {
    if (event) {
      const sameTimes &#x3D; event[0].getTime() &#x3D;&#x3D;&#x3D; this.refTime;
      this.dialogRef.close({
        doUpdates: false,
        time: sameTimes ? null : event[0]
      });
    } else {
      this.dialogRef.close();
    }
  }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">:host {
      display: block;
      padding: 8px;
    }
.tools {
      margin: 8px -8px -8px;
      padding: 8px;
      background-color: #F5F5F5;
      border-top: 1px solid rgba(0,0,0,0.12);
    }
.mat-slide-toggle { margin: 8px 0 16px; }
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><mat-slide-toggle    [(ngModel)]="doUpdates">Auto-update</mat-slide-toggle><app-timepicker    *ngIf="!loading && !doUpdates"    [times]="time"    (timesChange)="onChange($event)"    [enableRange]="false" ></app-timepicker><div    class="tools"    *ngIf="doUpdates"    fxLayout    fxLayoutAlign="end center"    fxLayoutGap="8px">  <button type="button"      mat-button      mat-dialog-close>Cancel</button>  <button type="button"      mat-raised-button      color="accent"      (click)="doRefresh()">Update now</button></div></div>'
    var COMPONENTS = [{'name': 'AccessManagerComponent', 'selector': 'app-access-manager'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'AppMenuComponent', 'selector': 'nav-app-menu'},{'name': 'AvatarComponent', 'selector': 'app-avatar'},{'name': 'ChartComponent', 'selector': 'app-chart'},{'name': 'CompaniesComponent', 'selector': 'app-companies'},{'name': 'CompanyComponent', 'selector': 'app-company'},{'name': 'DashboardComponent', 'selector': 'app-dashboard'},{'name': 'DetailsPaneComponent', 'selector': 'app-details-pane'},{'name': 'GaugeDetailComponent', 'selector': 'app-gauge-detail'},{'name': 'GaugeStatusComponent', 'selector': 'app-gauge-status'},{'name': 'GridComponent', 'selector': 'app-grid'},{'name': 'GroupComponent', 'selector': 'app-groups'},{'name': 'HydrographComponent', 'selector': 'app-hydrograph'},{'name': 'HydroplotterComponent', 'selector': 'app-hydroplotter'},{'name': 'HyetographComponent', 'selector': 'app-hyetograph'},{'name': 'LayerListComponent', 'selector': 'app-layer-list'},{'name': 'LayerPaneComponent', 'selector': 'app-layer-pane'},{'name': 'LayerSelectComponent', 'selector': 'app-layer-select'},{'name': 'MapsComponent', 'selector': 'app-maps'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'NewUserComponent', 'selector': 'app-new-user'},{'name': 'PageNotFoundComponent', 'selector': 'app-404'},{'name': 'PDFDialogComponent', 'selector': 'app-pdf-dialog'},{'name': 'PickerPanelComponent', 'selector': 'app-picker-panel'},{'name': 'PictureDialogComponent', 'selector': 'app-picture-dialog'},{'name': 'PointImageButtonComponent', 'selector': 'app-point-image-button'},{'name': 'PopupContentComponent', 'selector': 'app-popup-content'},{'name': 'ProfileComponent', 'selector': 'app-profile'},{'name': 'RequestComponent', 'selector': 'app-request'},{'name': 'ResetComponent', 'selector': 'app-reset'},{'name': 'SettingsDialogComponent', 'selector': 'app-settings-dialog'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'TimeControlsComponent', 'selector': 'app-time-controls'},{'name': 'TimeControlsComponent', 'selector': 'app-time-controls'},{'name': 'TimepickerComponent', 'selector': 'app-timepicker'},{'name': 'UserDetailComponent', 'selector': 'app-user-detail'},{'name': 'UserMenuComponent', 'selector': 'nav-user-menu'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'WatchpointsComponent', 'selector': 'app-watchpoints'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'TimeControlsComponent'};
</script>
<script src="../js/tree.js"></script>














                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TimeControlsComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
