<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>platform documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">platform documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>UserMenuComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/navbar/user-menu/user-menu.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
                    <code><a href="https://angular.io/api/core/OnDestroy" target="_blank" >OnDestroy</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>nav-user-menu</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./user-menu.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;button mat-icon-button
  class&#x3D;&quot;avatar-button&quot;
  [matTooltip]&#x3D;&quot;user?.getFullName()&quot;
  [matMenuTriggerFor]&#x3D;&quot;rootMenu&quot;&gt;
  &lt;app-avatar&gt;&lt;/app-avatar&gt;
&lt;/button&gt;
&lt;mat-menu #rootMenu&#x3D;&quot;matMenu&quot; [overlapTrigger]&#x3D;&quot;false&quot;&gt;
  &lt;button class&#x3D;&quot;project&quot; mat-menu-item *ngIf&#x3D;&quot;projects.length &lt; 2&quot; disabled&gt;
    {{activeProj?.name}}
    &lt;span&gt;project&lt;/span&gt;
  &lt;/button&gt;
  &lt;button class&#x3D;&quot;project&quot; mat-menu-item
    *ngIf&#x3D;&quot;projects.length &gt; 1&quot;
    [matMenuTriggerFor]&#x3D;&quot;projMenu&quot;&gt;
    {{activeProj?.name}}
    &lt;span&gt;project&lt;/span&gt;
  &lt;/button&gt;
  &lt;button mat-menu-item routerLink&#x3D;&quot;profile&quot;&gt;Profile&lt;/button&gt;
  &lt;button mat-menu-item [matMenuTriggerFor]&#x3D;&quot;amMenu&quot;&gt;Access Manager&lt;/button&gt;
  &lt;button mat-menu-item (click)&#x3D;&quot;auth.signOut()&quot;&gt;Sign Out&lt;/button&gt;
&lt;/mat-menu&gt;
&lt;mat-menu #amMenu&#x3D;&quot;matMenu&quot;&gt;
  &lt;button mat-menu-item routerLink&#x3D;&quot;access-manager/users&quot;&gt;Users&lt;/button&gt;
  &lt;button mat-menu-item routerLink&#x3D;&quot;access-manager/companies&quot;&gt;Companies&lt;/button&gt;
&lt;/mat-menu&gt;
&lt;mat-menu #projMenu&#x3D;&quot;matMenu&quot;&gt;
  &lt;button mat-menu-item
    [disabled]&#x3D;&quot;proj.id &#x3D;&#x3D;&#x3D; activeProj?.id&quot;
    *ngFor&#x3D;&quot;let proj of user?.company.projects&quot;
    (click)&#x3D;&quot;selectProject(proj)&quot;&gt;
    {{proj.name}}
  &lt;/button&gt;
&lt;/mat-menu&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#activeProj">activeProj</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#auth">auth</a>
                            </li>
                            <li>
                                <a href="#projects">projects</a>
                            </li>
                            <li>
                                <a href="#subscriptions">subscriptions</a>
                            </li>
                            <li>
                                <a href="#user">user</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#selectProject">selectProject</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(myUserService: <a href="../injectables/MyUserService.html">MyUserService</a>, auth: <a href="../injectables/AuthService.html">AuthService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="49" class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:49</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>myUserService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/MyUserService.html" target="_self" >MyUserService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>auth</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="74"
                            class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:74</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="55"
                            class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:55</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="selectProject"></a>
                    <span class="name">
                        <b>
                            selectProject
                        </b>
                        <a href="#selectProject"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>selectProject(proj: <a href="../classes/Project.html">Project</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="79"
                            class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:79</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>proj</td>
                                    <td>
                                                <code><a href="../classes/Project.html" target="_self" >Project</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeProj"></a>
                        <span class="name">
                            <b>
                            activeProj</b>
                            <a href="#activeProj"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:48</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="auth"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            auth</b>
                            <a href="#auth"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="52" class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:52</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="projects"></a>
                        <span class="name">
                            <b>
                            projects</b>
                            <a href="#projects"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../classes/Project.html" target="_self" >Project[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="47" class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:47</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="subscriptions"></a>
                        <span class="name">
                            <b>
                            subscriptions</b>
                            <a href="#subscriptions"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>Subscription[]</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="49" class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:49</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="user"></a>
                        <span class="name">
                            <b>
                            user</b>
                            <a href="#user"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../classes/User.html" target="_self" >User</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="46" class="link-to-prism">src/app/shared/navbar/user-menu/user-menu.component.ts:46</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, OnDestroy } from &#x27;@angular/core&#x27;;
import { AuthService, MyUserService } from &#x27;@app/core&#x27;;
import { User, Project } from &#x27;@app/shared/models&#x27;;
import { Subscription } from &#x27;rxjs&#x27;;

@Component({
  selector: &#x27;nav-user-menu&#x27;,
  template: &#x60;
    &lt;button mat-icon-button
      class&#x3D;&quot;avatar-button&quot;
      [matTooltip]&#x3D;&quot;user?.getFullName()&quot;
      [matMenuTriggerFor]&#x3D;&quot;rootMenu&quot;&gt;
      &lt;app-avatar&gt;&lt;/app-avatar&gt;
    &lt;/button&gt;
    &lt;mat-menu #rootMenu&#x3D;&quot;matMenu&quot; [overlapTrigger]&#x3D;&quot;false&quot;&gt;
      &lt;button class&#x3D;&quot;project&quot; mat-menu-item *ngIf&#x3D;&quot;projects.length &lt; 2&quot; disabled&gt;
        {{activeProj?.name}}
        &lt;span&gt;project&lt;/span&gt;
      &lt;/button&gt;
      &lt;button class&#x3D;&quot;project&quot; mat-menu-item
        *ngIf&#x3D;&quot;projects.length &gt; 1&quot;
        [matMenuTriggerFor]&#x3D;&quot;projMenu&quot;&gt;
        {{activeProj?.name}}
        &lt;span&gt;project&lt;/span&gt;
      &lt;/button&gt;
      &lt;button mat-menu-item routerLink&#x3D;&quot;profile&quot;&gt;Profile&lt;/button&gt;
      &lt;button mat-menu-item [matMenuTriggerFor]&#x3D;&quot;amMenu&quot;&gt;Access Manager&lt;/button&gt;
      &lt;button mat-menu-item (click)&#x3D;&quot;auth.signOut()&quot;&gt;Sign Out&lt;/button&gt;
    &lt;/mat-menu&gt;
    &lt;mat-menu #amMenu&#x3D;&quot;matMenu&quot;&gt;
      &lt;button mat-menu-item routerLink&#x3D;&quot;access-manager/users&quot;&gt;Users&lt;/button&gt;
      &lt;button mat-menu-item routerLink&#x3D;&quot;access-manager/companies&quot;&gt;Companies&lt;/button&gt;
    &lt;/mat-menu&gt;
    &lt;mat-menu #projMenu&#x3D;&quot;matMenu&quot;&gt;
      &lt;button mat-menu-item
        [disabled]&#x3D;&quot;proj.id &#x3D;&#x3D;&#x3D; activeProj?.id&quot;
        *ngFor&#x3D;&quot;let proj of user?.company.projects&quot;
        (click)&#x3D;&quot;selectProject(proj)&quot;&gt;
        {{proj.name}}
      &lt;/button&gt;
    &lt;/mat-menu&gt;
  &#x60;,
  styleUrls: [&#x27;./user-menu.component.scss&#x27;]
})
export class UserMenuComponent implements OnInit, OnDestroy {
  user: User;
  projects: Project[] &#x3D; [];
  activeProj: any;
  subscriptions: Subscription[] &#x3D; [];
  constructor(
    private myUserService: MyUserService,
    public auth: AuthService
  ) {}

  ngOnInit() {
    const subs &#x3D; [
      this.myUserService.getMyUser()
        .subscribe(user &#x3D;&gt; {
          this.user &#x3D; user;
          this.projects &#x3D; user.company.projects;
          }
        ),
      this.myUserService.currentProj
        .subscribe(proj &#x3D;&gt; {
          if (proj) {
            this.activeProj &#x3D; proj;
          }
        })
    ];

    this.subscriptions.concat(subs);
  }

  ngOnDestroy() {
    this.subscriptions.forEach(o &#x3D;&gt; o.unsubscribe());
    this.myUserService.removeCurrentProject();
  }

  selectProject(proj: Project) {
    this.myUserService.setCurrentProject(proj);
  }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./user-menu.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">@import &#x27;~@angular/material/theming&#x27;;
  .account .mat-icon {
    color: #00bcd4;
    font-size: 28px;
    width: 28px;
    height: 28px;
  }
  .avatar-button {
    background-color: #EEE;
    @include mat-elevation(1);
    &amp;:hover {
      @include mat-elevation(4);
    }
    app-avatar {
      width: 100%;
      border-radius: 50%;
      border: 2px solid white;
      box-sizing: border-box;
    }
  }
  .mat-menu-item {
    &amp;.project {
      line-height: 1em;
      color: inherit;
      span {
        display: block;
        font-size: 0.64em;
        line-height: 0.64em;
        font-weight: bold;
        margin-top: 2px;
      }
    }
  }</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><button mat-icon-button  class="avatar-button"  [matTooltip]="user?.getFullName()"  [matMenuTriggerFor]="rootMenu">  <app-avatar></app-avatar></button><mat-menu #rootMenu="matMenu" [overlapTrigger]="false">  <button class="project" mat-menu-item *ngIf="projects.length < 2" disabled>    {{activeProj?.name}}    <span>project</span>  </button>  <button class="project" mat-menu-item    *ngIf="projects.length > 1"    [matMenuTriggerFor]="projMenu">    {{activeProj?.name}}    <span>project</span>  </button>  <button mat-menu-item routerLink="profile">Profile</button>  <button mat-menu-item [matMenuTriggerFor]="amMenu">Access Manager</button>  <button mat-menu-item (click)="auth.signOut()">Sign Out</button></mat-menu><mat-menu #amMenu="matMenu">  <button mat-menu-item routerLink="access-manager/users">Users</button>  <button mat-menu-item routerLink="access-manager/companies">Companies</button></mat-menu><mat-menu #projMenu="matMenu">  <button mat-menu-item    [disabled]="proj.id === activeProj?.id"    *ngFor="let proj of user?.company.projects"    (click)="selectProject(proj)">    {{proj.name}}  </button></mat-menu></div>'
    var COMPONENTS = [{'name': 'AccessManagerComponent', 'selector': 'app-access-manager'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'AppMenuComponent', 'selector': 'nav-app-menu'},{'name': 'AvatarComponent', 'selector': 'app-avatar'},{'name': 'ChartComponent', 'selector': 'app-chart'},{'name': 'CompaniesComponent', 'selector': 'app-companies'},{'name': 'CompanyComponent', 'selector': 'app-company'},{'name': 'DashboardComponent', 'selector': 'app-dashboard'},{'name': 'DetailsPaneComponent', 'selector': 'app-details-pane'},{'name': 'GaugeDetailComponent', 'selector': 'app-gauge-detail'},{'name': 'GaugeStatusComponent', 'selector': 'app-gauge-status'},{'name': 'GridComponent', 'selector': 'app-grid'},{'name': 'GroupComponent', 'selector': 'app-groups'},{'name': 'HydrographComponent', 'selector': 'app-hydrograph'},{'name': 'HydroplotterComponent', 'selector': 'app-hydroplotter'},{'name': 'HyetographComponent', 'selector': 'app-hyetograph'},{'name': 'LayerListComponent', 'selector': 'app-layer-list'},{'name': 'LayerPaneComponent', 'selector': 'app-layer-pane'},{'name': 'LayerSelectComponent', 'selector': 'app-layer-select'},{'name': 'MapsComponent', 'selector': 'app-maps'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'NewUserComponent', 'selector': 'app-new-user'},{'name': 'PageNotFoundComponent', 'selector': 'app-404'},{'name': 'PDFDialogComponent', 'selector': 'app-pdf-dialog'},{'name': 'PickerPanelComponent', 'selector': 'app-picker-panel'},{'name': 'PictureDialogComponent', 'selector': 'app-picture-dialog'},{'name': 'PointImageButtonComponent', 'selector': 'app-point-image-button'},{'name': 'PopupContentComponent', 'selector': 'app-popup-content'},{'name': 'ProfileComponent', 'selector': 'app-profile'},{'name': 'RequestComponent', 'selector': 'app-request'},{'name': 'ResetComponent', 'selector': 'app-reset'},{'name': 'SettingsDialogComponent', 'selector': 'app-settings-dialog'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'TimeControlsComponent', 'selector': 'app-time-controls'},{'name': 'TimeControlsComponent', 'selector': 'app-time-controls'},{'name': 'TimepickerComponent', 'selector': 'app-timepicker'},{'name': 'UserDetailComponent', 'selector': 'app-user-detail'},{'name': 'UserMenuComponent', 'selector': 'nav-user-menu'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'WatchpointsComponent', 'selector': 'app-watchpoints'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UserMenuComponent'};
</script>
<script src="../js/tree.js"></script>














                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UserMenuComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
