:host {
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  mgl-map {
    height: 100%;
    width: 100%;
  }
  .welcome {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .welcome-wrapper {
      padding: 8px 16px;
      background-color: rgba($color: #fff, $alpha: 0.87);
      border-radius: 3px;
      max-width: 324px;

      h3 {
        font-family: 'Ubuntu', 'Open Sans', Arial, Helvetica, sans-serif;
      }

      aside {
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-size: small;
      }
    }
  }
  .scale {
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  }
  .watchpoints {
    height: 140px;
    width: 40px;
    padding: 16px 0;

    .dot {
      box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
      height: 20px;
      width: 20px;
      background-color: rgba(122, 122, 122, 1);
      border-radius: 50%;
      display: inline-block;

      img {
        width: 14px;
      }
    }
  }
}
