<mgl-map
    [style]="'mapbox://styles/mapbox/light-v10'"
    [fitBoundsOptions]="{ duration: 0, padding: 10 }"
    [fitBounds]="fitBounds"
    (mapLoad)="mapgl$.next($event); mapgl = $event"
    (mapMouseMove)="pointerCheck($event)"
    (mapClick)="onMapClick($event)"
    (sourceData)="onSourceData()"
    [transformRequest]="transformRequest"
>
  <mgl-control mglNavigation></mgl-control>
  <mgl-control position="top-right"><app-controls [configs]="ctrlConfigs" (clicked)="customControl($event)"></app-controls></mgl-control>
  <mgl-control position="top-left" *ngIf="loading$ | async"><mat-spinner diameter="32"></mat-spinner></mgl-control>
  <mgl-control mglScale [unit]="project?.measurement.system" position="bottom-right"></mgl-control>
  <mgl-control position="bottom-left" *ngFor="let source of sources" [ngSwitch]="source.scale?.type">
    <img class="scale" *ngSwitchCase="'img'" [src]="source.scale.url | secure | async" width="40" height="300" [matTooltip]="source.name">
    <div class="watchpoints" *ngSwitchCase="'watchpoints'" fxLayout="column" fxLayoutAlign="space-between center">
      <span class="dot" matTooltip="WatchPoint: N/A" fxLayout fxLayoutAlign="center center">
        <img src="/assets/images/map-icons/watchpoints-white.png">
      </span>
      <span class="dot" style="background-color:#4CAF50" matTooltip="WatchPoint: Normal" fxLayout fxLayoutAlign="center center">
        <img src="/assets/images/map-icons/watchpoints-white.png">
      </span>
      <span class="dot" style="background-color:#FFC107" matTooltip="WatchPoint: Watch" fxLayout fxLayoutAlign="center center">
        <img src="/assets/images/map-icons/watchpoints-white.png">
      </span>
      <span class="dot" style="background-color:#F44336" matTooltip="WatchPoint: Warn" fxLayout fxLayoutAlign="center center">
        <img src="/assets/images/map-icons/watchpoints-white.png">
      </span>
    </div>
  </mgl-control>
  <ng-container *ngFor="let source of sources; trackBy: trackById" [ngSwitch]="source.type">
    <mgl-image
      *ngFor="let icon of source.icons"
      [id]="icon"
      [url]="'/assets/images/map-icons/' + icon + '.png'"
    ></mgl-image>
    <ng-container *ngSwitchCase="'geojson'">
      <mgl-geojson-source [id]="source.id" [data]="source.data" [promoteId]="source.promoteId"></mgl-geojson-source>
    </ng-container>
    <ng-container *ngSwitchCase="'raster'">
      <mgl-raster-source
          [id]="source.id"
          [tiles]="source.tiles"
          [tileSize]="source.tileSize"
          [minzoom]="source.minzoom"
          [bounds]="source.bounds"
      ></mgl-raster-source>
    </ng-container>
    <mgl-layer
        *ngFor="let layer of source.layers; trackBy: trackById"
        [id]="layer.id"
        [type]="layer.type"
        [source]="layer.source"
        [paint]="layer.paint"
        [layout]="layer.layout"
        [filter]="layer.filter"
        [metadata]="layer.metadata"
        [minzoom]="layer.minzoom"
    ></mgl-layer>
  </ng-container>
  <mgl-popup
      *ngIf="pLngLat"
      maxWidth="none"
      [lngLat]="pLngLat"
      [closeOnClick]="true"
      (popupClose)="pLngLat = null"
  >
    <app-popup [features]="clickedFeatures" [whatif]="result.id" [lngLat]="pLngLat"></app-popup>
  </mgl-popup>
</mgl-map>
<div class="welcome" fxLayout="row" fxLayoutAlign="center center" *ngIf="initialView">
  <div class="welcome-wrapper">
    <h3>Welcome!</h3>
    <p>Get started by choosing a scenario in your list or requesting a new scenario.</p>
    <aside>
      <strong>Note:</strong> Completed scenarios may take several minutes to display. Thank you for your patience.
    </aside>
  </div>
</div>
