:host {
  display: block;
  padding: 8px;

  & > * {
    display: block;
    width: 100%;
  }
  
  @media screen and (min-width: 600px) {
    padding: 16px;
  }

  mat-slider {
    width: 100%;
  }

  .slider-container {
    mat-slider {
      margin: -4px 0;
    }
    label {
      font-size: 75%;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  & > button {
    margin-top: 16px;
  }

  mat-slide-toggle {
    max-width: none;
    font-size: 75%;
  }
}