<div class="slider-container">
  <label>Animation speed</label>
  <mat-slider step="0.02" min="0.5" max="1.25" [formControl]="service.speed"></mat-slider>
</div>
<mat-form-field>
  <mat-label>Animation timestep</mat-label>
  <mat-select [formControl]="service.aggregation">
    <mat-option
        *ngFor="let item of aggregationOptions"
        [value]="item.value">
      {{item.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div><mat-slide-toggle [formControl]="service.accumulation">Rain accumulation</mat-slide-toggle></div>
