<app-animation-controls *ngIf="!!times && !times.realtime" [project]="project"></app-animation-controls>
<button
    #timepicker
    matRipple
    class="time-info"
    (click)="openPickerPanel()"
    [disabled]="service.isAnimating || !this.project"
    [matTooltip]="'Data Duration: ' + (durationString || 'Loading...')">
  <div class="time-container" [ngClass]="timeState" fxLayout>
    <div class="icon-wrapper" fxLayout fxLayoutAlign="center center">
      <mat-icon>schedule</mat-icon>
    </div>
    <div class="time-text" fxLayout="column" fxFlex>
      {{ dateString || 'Loading...' }}
      <span *ngIf="!!dateString"><mat-icon inline>{{timeStateIcons[timeState]}}</mat-icon> {{timeState}}</span>
    </div>
  </div>
</button>
