:host {
  background-color: #FFF;
  position: relative;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .header {
    flex: 1 0 40px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 16px 16px 0 16px;
    
    .mat-form-field .mat-icon-button {
      width: 24px;
      height: 24p;
    }

    button.new-rule {
      margin-bottom: 1.34375em;
    }
  }
  .list-container {
    flex: 1 1 100%;
    overflow: hidden scroll;

    .mat-list-base .mat-list-item {
      &.inactive {
        opacity: 0.6;
      }
      
      h4.mat-line {
        font-size: 14px;
      }
    }
  }
}