<div class="header" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" fxFlex="none">
  <form [formGroup]="sForm" fxFlex>
    <mat-form-field appearance="fill">
      <mat-label>Search list</mat-label>
      <input matInput type="text" formControlName="search">
      <mat-icon matSuffix *ngIf="!sForm.value.search">search</mat-icon>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="sForm.reset()" *ngIf="sForm.value.search">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button class="new-rule" title="Create new rule" mat-mini-fab color="accent" aria-label="Create new rule" [disabled]="selected === null" (click)="selected = null">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="list-container">
  <div *ngIf="filteredList === undefined" style="background: #eee" fxFlexFill fxLayout fxLayoutAlign="center center"><mat-spinner diameter="40"></mat-spinner></div>
  <div *ngIf="filteredList !== undefined && !filteredList?.length" style="padding: 16px; color: rgba(0,0,0,0.6)">Click the <mat-icon inline>add_circle</mat-icon> above for a new rule.</div>
  <mat-selection-list #rulesList [multiple]="false" dense>
    <ng-container *ngFor="let rule of filteredList">
      <mat-list-option (click)="selected = rule" [class.inactive]="!rule.meta.isActive">
        <mat-icon
            matListIcon
            *ngIf="typeStyles && typeStyles[rule.meta.ruleType]"
            [svgIcon]="typeStyles[rule.meta.ruleType].svg ? typeStyles[rule.meta.ruleType].icon : null"
            [ngStyle]="{'color':typeStyles[rule.meta.ruleType].color || black}"
            [matTooltip]="ruleTypesMap[rule.meta.ruleType]?.group + ' - ' + ruleTypesMap[rule.meta.ruleType]?.descriptor">
          {{typeStyles[rule.meta.ruleType].svg ? '' : typeStyles[rule.meta.ruleType].icon}}
        </mat-icon>
        <h4 matLine [matTooltip]="rule.meta.description" matTooltipShowDelay="500" matTooltipHideDelay="500">{{rule.meta.name}}</h4>
        <div matLine [matTooltip]="rule.meta.description" matTooltipShowDelay="500" matTooltipHideDelay="500">
          <span [hidden]="rule.meta.isActive" class="error">INACTIVE </span>
          <mat-icon [ngStyle]="{'vertical-align':'middle','color': ['#C62828','#FFA000','#43A047'][rule.meta.priority]}" inline>warning</mat-icon>
          &nbsp;|&nbsp; {{rule.points && rule.points.length ? rule.points.length + ' location(s)' : rule.idList?.length + ' feature(s)'}}
          &nbsp;|&nbsp; {{rule.thresholdDescription}}
        </div>
      </mat-list-option>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-selection-list>
</div>