:host {
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  .organizations-container {
    position: relative;
    .table-tools-container {
      padding: 24px 16px 8px 16px;
      background-color: #FFF;
      .tools-button-container {
        margin-left: 16px;
      }
    }
    .table-container {
      position: relative;
      overflow: auto;
      z-index: 0;
      .organization-info {
        width: 100%;
      }
      .table {
        width: 100%;
        .detail-row {
          background-color: #F1F1F1;
          height: 0;
        }
        tr.expandable-row {
          cursor: pointer;
          &:not(.expanded-row) {
            &:hover { background: #f5f5f5; }
            &:active { background: #efefef; }
          }
          td {
            border-bottom-width: 0;
          }
        }
        .element-detail {
          overflow: hidden;
          display: flex;
          padding: 8px 16px;
        }
      }
    }
    .loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 101;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
